[2020-04-23 12:12] #253 closed

[2020-04-28 14:04] #265 closed

[2020-05-03 08:19] Yashank18 opened #270 ""Become a sponsor" button alignment"
In the mobile view, the sponsor button is hardcoded to stay at x=5 and y=5, which makes it align to left. It should be aligned to the center to look good and to be noticed easily.

Screenshot -
![Screenshot (138)](https://user-images.githubusercontent.com/46098062/80909310-d50e5400-8d44-11ea-86c2-5f325fec9261.png)

### If this isn't done purposely I would like to work on it.

[2020-05-03 18:30] Yashank18 opened #272 "Mobile Responsive issue"
## There is a margin issue on the right side.
### Screenshot -
![Screenshot (147)](https://user-images.githubusercontent.com/46098062/80922347-1846e200-8d9a-11ea-8cea-e880f0ac504d.png)
### I would like to resolve this. Please assign it to me

[2020-05-04 19:19] #270 closed

[2020-05-06 17:51] Yashank18 commented on #272
@vinitshahdeo @RDIL
Hey just wanted to check should I create a PR corresponding to this issue or I should wait for someone to assign me with the same?

[2020-05-06 17:52] RDIL commented on #272
No need to wait for assignment.

[2020-05-06 17:53] Yashank18 commented on #272
Okay :)

[2020-05-08 10:34] Yashank18 opened #275 "Jobs Page Navbar button"
## When we see the Jobs page in the mobile view, The Navbar Toggle button doesn't work.
### Steps to reproduce Issue.
* Switch to Mobile view
* Go to Job's Page
* Click on Navbar toggle button

### Screenshot
![Screenshot (158)](https://user-images.githubusercontent.com/46098062/81397743-8c400c00-9145-11ea-8b86-9f2c4e882d7c.png)

[2020-05-08 12:49] RDIL commented on #275
This needs to be fixed downstream in the jobs repo.

[2020-05-09 13:08] #272 closed

[2020-05-09 16:18] Yashank18 commented on #275
Okay @RDIL  so this issue need to be transferred there?

[2020-05-10 01:01] jancborchardt commented on #275
We’re using this repository to track all issues, since we ideally at some point also move the contents of the jobs repository in here. :) Just tagged it with "Jobs".

[2020-05-10 06:14] amitlzkpa opened #276 "Allow OSD website repo to be cloned via https"
Current process involves cloning the project via ssh. The setup docs suggest cloning using
```git clone git@github.com:opensourcedesign/opensourcedesign.net```
followed by
```./scripts/install.sh```
The process seems a little complex and not sure why we do it this way.
Would it be easier to just have the content in one place and cloned along with the repo (over https)?

[2020-05-10 06:46] amitlzkpa commented on #276
Related discussion: https://github.com/opensourcedesign/opensourcedesign.github.io/pull/182

[2020-05-10 07:11] Yashank18 commented on #275
Okay @jancborchardt :)

[2020-05-10 07:28] SaptakS commented on #276
@amitlzkpa having looked at the script, I really feel that the best way to go about it using submodules. Then one won't have to do something like using `./scripts/install.sh`. Instead if someone cloned as `git clone --recursive git@github.com:opensourcedesign/opensourcedesign.net`, then it would also clone all the sub repos that are there. And that way, won't also need to copy all content to this

[2020-05-10 20:01] jancborchardt commented on #276
Just a note regarding submodules: We should not be needing to use those, as the plan is to **Merge all repositories #236**.

Events is already merged into this one, only jobs is missing.

[2020-05-10 20:59] SaptakS commented on #276
OKay. In that case, this issue won't make much sense separately, if everything is merged into a single repo. The make command can be used to install dependencies and then serve? But given everything will be merged in a single repo, there should be no problem cloning it via https

[2020-05-11 22:41] jancborchardt commented on #250
Was fixed some time ago, the conferences are now on the website. :)

[2020-05-11 22:41] #250 closed

[2020-05-13 15:05] ramneek008 opened #278 "Lot of space between elements in responsive design"
![FireShot Capture 016 - Open Source Design - opensourcedesign net](https://user-images.githubusercontent.com/48586823/81829569-aa987400-9558-11ea-9f7b-6155cf19db82.png)

The central part is just full of margin

[2020-05-13 15:05] ramneek008 commented on #278
I would like to work on this issue.

[2020-05-14 03:21] vsasvipul0605 commented on #278
I would like to claim this issue and start working on this asap.

[2020-05-14 15:09] divyabhushan commented on #278
Hi, @ramneek008 I would like to resolve this issue. Please assign it to me. Thanks

[2020-05-14 15:18] RDIL commented on #278
No need to fight over the issue 😅.  Whoever opens a fix PR first gets it.

[2020-05-14 15:31] ramneek008 commented on #278
But i was waiting for the assignment.. I would have done it till now.. Please assign me.

[2020-05-15 14:59] jancborchardt commented on #278
@divyabhushan @vsasvipul0605 there’s plenty more issues at https://github.com/opensourcedesign/opensourcedesign.github.io/issues – you are welcome to pick up any of those. :) And reviewing active pull requests helps a lot always!

[2020-05-15 16:14] #278 closed

[2020-05-15 16:58] vsasvipul0605 commented on #278
@jancborchardt thanks man for advice. I'm just a beginner and will surely look into issues and will definitely try to contribute.

[2020-05-16 09:42] elioqoshi commented on #242
So not much changed with this one @jancborchardt. The landing page specs are ready more or less for someone to implement.

[2020-05-16 20:35] amitlzkpa commented on #276
So should we continue the discussion here or carry it over to the other threads?
Looks like there's been more work on this even on other PRs.
https://github.com/opensourcedesign/opensourcedesign.github.io/pull/239

[2020-05-17 06:45] SaptakS commented on #276
Given the discussions, if everything is being moved to this repo, then we can totally dump the script, and then the problem of cloning over https or git both should work okay. We can have a `make` command, etc. but I feel that's not related to this issue.

[2020-05-18 17:29] amitlzkpa commented on #276
Closing this in favour of #236

[2020-05-18 17:29] #276 closed

[2020-05-19 22:11] divyabhushan commented on #278
@jancborchardt Thanks for your reply. I will certainly contribute to enhancing this repo.

[2020-05-26 10:21] Yashank18 opened #282 "Subscribe via RSS error"
On the Article page, there is a text button "Subscribe via RSS", I think there is some error with that button as it gives an XML file which says no data associated.
Is this behavior correct for the link or its due to some error?
* Screenshot -
![Screenshot (163)](https://user-images.githubusercontent.com/46098062/82889674-ba588500-9f68-11ea-8ca0-ce8c08d38778.png)

[2020-05-26 12:23] RDIL commented on #282
This is intentional, this is what an RSS feed looks like.

[2020-05-26 12:23] #282 closed

[2020-05-26 13:34] jancborchardt commented on #282
Yup – it seems you might not have a program installed to subscribe to feeds? Otherwise you should get prompted to subscribe somehow.

[2020-05-26 17:30] Yashank18 commented on #282
Okay okay @jancborchardt

[2020-05-27 10:54] aryasoni98 opened #284 "Add link on Supporters section"
Eriol's edit = Looks like this issue and associated PR's are adding missing links to various logos of our supporters towards the bottom of our main webpage.

<img width="1143" alt="Screenshot 2021-06-22 at 14 52 30" src="https://user-images.githubusercontent.com/11681324/122937066-9339d600-d369-11eb-87c0-e9eca4e42af1.png">

[2020-05-28 13:20] yashrajjain726 commented on #73
give me a list of supporters and I will add it.

[2020-05-28 16:15] jancborchardt commented on #73
This has actually already been done some time ago, see:
- "Supporters" section at https://opensourcedesign.net/
- In the readme of this repository as well :) https://github.com/opensourcedesign/opensourcedesign.github.io/#-contributors-backers--sponsors

[2020-05-28 16:15] #73 closed

[2020-05-29 07:38] keunes commented on #166
I published a job, and I'm very grateful this platform is set up & maintained. But the 'How to apply' really needs an improvement, so many thanks @jancborchardt and @eupiteco for working on this! Hope it gets fixed soon :)

[2020-05-29 07:53] keunes commented on #242
Hello,
Sorry for chipping in late. I recently posted a job, then went to the GitHub issues, and saw this just now :)
As all your work I saw, this looks again great @elioqoshi. Three thoughts:
- __first show what you can offer me, then ask me to join.__ In practice: move 'get involved' below job board (& maybe events)
- __show me it's an active community, with humans having interesting discussions.

[2020-05-30 17:29] sparsh-99 opened #285 "[CSS]: Button Alignment Main Page"
# When we see the main page in responsive view, the alignment of 'Become a sponsor' button is somewhat 'left' to the page

#### Steps to Reproduce:
* Switch to Mobile view
* Scroll to supporter's section
* See the button

#### Screenshot:

![Screenshot (487)](https://user-images.githubusercontent.com/56729873/83335204-a72b1980-a2c8-11ea-837a-f0397a49a480.png)

#### Additional Context:
If you see t

[2020-05-31 17:28] elioqoshi commented on #242
Totally agree, the Figma file is open so anyone can grab and modify it. Not exactly open source but the closest we can have for prototyping right now?

I won't have the chance to do much more on it these days unfortunately.

[2020-06-08 11:55] Erioldoesdesign commented on #140
Reviving this thread with a comment that's been on our Discourse recently.

It'd be good to see what date this job was submitted by the requester and possibly if it was filled on a date. The status labels help with this but not 'placing them' at a point in time.

[2020-06-08 12:01] Erioldoesdesign commented on #84
Bumping this issue/thread with a recent forum post/conversation: https://discourse.opensourcedesign.net/t/results-closure-on-jobs-postings/1714/4

Not having dates on our jobs currently leaves them floating in limbo for designers potentially wanting to pick them up

[2020-06-15 13:16] Erioldoesdesign commented on #119
I just got this errorbug trying to submit a job so I screen capped it:

<img width="1159" alt="Screenshot 2020-06-15 at 14 12 21" src="https://user-images.githubusercontent.com/11681324/84661749-b1792480-af12-11ea-9a70-9863a065548f.png">

It happened if I put into the github username field both:

@myusername
myusername

the '@' symbol made no difference :/ both errors

[2020-06-15 17:09] Yashank18 commented on #285
Hey @sparsh-99

I understand your issue. Can you please explain a lit bit more because what I think is the button here is actually an image and its width and height are controlled from the same.
Do let me know if I am not able to understand your point

[2020-06-15 19:32] sparsh-99 commented on #285
### Look the margin below, you will get the idea-

![Screenshot (511)](https://user-images.githubusercontent.com/56729873/84698150-f0d45f00-af6c-11ea-9c98-29410fb7efed.png)

##### Image is left-indent!!! @Yashank18

[2020-06-15 20:56] sparsh-99 commented on #285
Will you please help me how can I fix this indentation myself? How can I find this file in this bid code?

[2020-06-16 06:50] Yashank18 commented on #285
Sure @sparsh-99
You will find this in Index.html only.
Under div with class="col sm-12 supporters"

[2020-06-16 06:57] rajatgupta24 opened #288 "Add heading to the supporters section"
Hi,

While visiting the site i noticed that the contributor section doesn't have a heading which would be nice to have.

Screenshot:
![Screenshot](https://user-images.githubusercontent.com/55191777/84740755-df5b7900-afa5-11ea-83d5-dd36ad8741da.png)

Thank You

[2020-06-16 20:29] keunes commented on #242
I was thinking whether to take a spin at implementing the changes I proposed to the mock-up myself. However I saw in the OSD forum that Kai was going to propose something specifically for a '[monthly showcase](https://discourse.opensourcedesign.net/t/a-monthly-showcase-on-our-landing-page/1761?u=keunes)' so I'll hold off until (or at all, because) there's some progress there :)

[2020-06-17 02:55] kartik918 commented on #242
Hey @keunes, glad to see you're going to be working on the redesign!

I've made the mockups and have sent them to be reviewed by @Erioldoesdesign , will open an issue soon linking this one.

Thanks!

[2020-06-23 07:55] razetime commented on #288
I'm sorry, but shouldn't the section be named backers?

[2020-06-23 08:02] razetime commented on #237
hCaptcha is available, but it's still not an open source alternative for Google's ReCaptcha.
I was able to find https://visualcaptcha.net/ (deprecated), but it seems usable, and is Open Source.

[2020-06-23 08:12] ei8fdb commented on #237
Before a captcha is implemented - is the "automated job submission" issue still an issue? I'm not sure it currently is.

I would agree with getting one ready, so we can turn it on or off, but I would disagree with implementing one forever.

[2020-06-23 08:24] jancborchardt commented on #288
@razetime as per the pull request it’s going to be "Contributors & Backers" :)  https://github.com/opensourcedesign/opensourcedesign.github.io/pull/289/files#diff-eacf331f0ffc35d4b482f1d15a887d3bR73

[2020-06-25 10:14] rajatgupta24 commented on #275
Hi 👋 ,
I wanted to fix this bug can you please guide me and assign this to me.
Thank You

[2020-06-25 12:54] jancborchardt commented on #275
Hi @rajatgupta24, feel free to just look into this – no assignment is needed. :)

About how to tackle this: I would recommend you compare why it works on the other pages, and why it doesn’t on the Jobs page. If something interferes with it opening, or if it actually opens but is overlapped by something maybe? We are using Bootstrap, just for information if it is a known issue. :)

[2020-06-26 15:40] rajatgupta24 commented on #275
@jancborchardt
The classes of `div` & `ul` don't change when the button is clicked, it remains collapsed and the `main.js` that is linked in html file is showing `status = 404`.

There is no file named `main.js ` in js folder.

[2020-07-07 12:16] Erioldoesdesign commented on #242
Waltzing in here unfashionable late.

Re. original LP designs for Elio they are awesome and I have zero big suggestions and one small suggestion which is:

The black filtered photo header, does it need to be that high/tall/big? I like a nice splash header like the rest of us but I do sometimes think they take up a lot of space. Totally get the need for the balance of image/'white space' and conten

[2020-07-11 06:30] kartikcho opened #291 "Add a design showcase on landing"
Addition to #242, I came up with an idea and some mocks for the new landing page section as discussed in [this thread](https://discourse.opensourcedesign.net/t/a-monthly-showcase-on-our-landing-page/1761), check it out for more context.

### The web view with 3 monthly designs to showcase
Although the mock shows 6, the discussed upon addition will have 3 cards and a link to **Design Archive** wher

[2020-07-11 06:34] kartik918 commented on #291
Assigned to @Erioldoesdesign, let me know if you need any help!

[2020-07-14 17:37] #288 closed

[2020-07-28 15:23] Udit-singh opened #293 "Navbar Alignment issue"
# In the Job form page, The Navbar Alignment fix

### Description: The Navbar is off the line with the entire page

### Steps to reproduce Issue.

* Switch to Mobile view
* Go to Job's Form Page
* Scroll toward the right

### Screenshot
![Screenshot (622)](https://user-images.githubusercontent.com/55452299/88685108-3c089280-d113-11ea-91ba-e9c5ee7017c1.png)

## I would love to work upon this issue!

[2020-08-02 05:15] CrickCrackCrock opened #294 "opensourcedesign/opensourcedesign.github.io"

[2020-08-02 13:21] RDIL commented on #294
Please elaborate on this issue.

[2020-08-02 13:22] #294 closed

[2020-08-27 08:22] Yashpandey4 opened #298 "Joining the Organisation"
I know this isn't the right place for this, but can someone help me with the steps to Join the OpenSourceDesign Organisation? Thanks.

[2020-08-27 14:34] RDIL commented on #298
Right now it isn't possible to join unless you contribute I believe.  This policy was recently changed so I'm not sure.

[2020-08-29 04:41] Yashpandey4 commented on #298
Can anyone give some clarity about the process then? Thanks.

[2020-08-29 12:41] RDIL commented on #298
To quote @jancborchardt

So unfortunately it isn't open for joining right now.
Sorry.

[2020-08-29 12:41] #298 closed

[2020-09-03 21:51] perriefidelis commented on #242
- I merged @kartikcho's idea for the showcase to the landing page(_thoughts_: how many projects do we want to showcase/month? do we design a different page where all the designs can be seen? if it's going to be more than 3 or 6..)

- Reshuffled the positioning of the sections (Manifesto -> Events -> Job board -> Showcase -> Supporters & Partners -> Get Involved -> footer) _Actually I was thinking

[2020-09-03 21:56] Erioldoesdesign commented on #242
Hard to say if Showcase should come before job board @perriefidelis 🤔 I think each person, either new visitor or returning will likely find value enough in both sections that it's probably negligible what goes above what...

OH here's an idea that's a developer question: I wonder if a section of the webpage (e.g. jobs and showcase) if one is more up to date than the other then that goes on top? So

[2020-09-03 21:58] AnXh3L0 commented on #242
Yes, that is possible @Erioldoesdesign. You can compare last updated dates and change positions.

[2020-09-04 05:19] kartikcho commented on #242
@perriefidelis love the design! To answer your question, #291 should provide you with context and the deliverables from the showcase.

[2020-09-04 10:37] perriefidelis commented on #242
Oh shoot yes! I'm not sure how I missed that ... thank you @katelk28. I'll add a design for the archive page(_that's going to be a separate page_), where all the showcased designs will be displayed

[2020-09-04 11:41] kartikcho commented on #242
It's all good! You tagged someone else though @perriefidelis, haha.

Also, if you haven't already, add a fallback or a default placeholder to something like "An OSD member" in place of the contributor's name, if none is provided.

[2020-09-04 11:47] perriefidelis commented on #242
ops... edited.

updated(_the last card_), now it looks like:
<img width="637" alt="Screenshot 2020-09-04 at 12 45 54" src="https://user-images.githubusercontent.com/30669761/92236092-a77d1700-eeac-11ea-985e-7456ed19807f.png">

[2020-09-05 21:10] AnXh3L0 commented on #242
Guess we can start working on this. I feel like the mockups and latest improvements are enough to being the changes.

[2020-09-05 21:52] perriefidelis commented on #242
@AnXh3L0 wouldn't you need like other screens sizes? or you can scale it down properly without?

I can help with that

[2020-09-06 05:25] sagar-barapatre opened #302 "Back to Top Button"
A static back to top button is required so that user at anytime viewing this website can move to the top of website.

[2020-09-28 17:06] AnXh3L0 commented on #242
No need for the other screen sizes, I started to work on it but I'm afraid this is going to be a huge project and will require a re-write from ground-up. The current Bootstrap version is too old and doesn't support quite a lot of things, which makes the code hacky and hard to maintain.

[2020-09-28 17:21] kartikcho commented on #242
@AnXh3L0 what do you think about creating a PR that we could keep stacking commits on top of until it's complete and then merge the gigantic PR to finish the redesign.
Incremental changes through multiple PRs seems highly unlikely because the website is directly deployed from GH pages I think. The other option is building it on a personal fork that everyone could contribute to until it's ready and

[2020-09-28 17:25] RDIL commented on #242
https://github.com/ourforks is perfect for this sort of thing I think.

[2020-09-28 17:43] AnXh3L0 commented on #242
@kartikcho I think a new branch in the current repo should be fine so we don't need to fork it anywhere outside the current repo.

[2020-09-30 18:58] rajatgupta24 commented on #275
Hi, @jancborchardt I'm having trouble with this can you please guide me, this issue needs to be solved.

[2020-10-01 14:30] Harshit564 commented on #302
I can do that. Please assign it to me

[2020-10-07 16:50] SaptakS commented on #242
@AnXh3L0 are you planning to work in a new branch towards the implementation of the UI? I and @amitlzkpa are happy to collaborate with you.

[2020-10-07 17:37] AnXh3L0 commented on #242
@SaptakS Yes, I will create a new branch and work on it from scratch. Thanks for offering to help.

[2020-10-07 17:38] SaptakS commented on #242
Awesome!

[2020-10-10 11:11] emerzon1 commented on #302
I will do this unless @Harshit564 is doing it.

[2020-10-19 09:56] ei8fdb opened #304 "Order entries on /events/ from newest (top) to oldest (bottom)"
Right now the entries on https://opensourcedesign.net/events/ are from oldest to newest, as can be seen here:

![image](https://user-images.githubusercontent.com/1899506/96429938-6ee59280-11f9-11eb-9782-8866d785cfcb.png)

The ordering should be from newst (top) to oldest (bottom) to save users from 1) thinking there are no new events, 2) scrolling to the bottom to see if there are newer events.

M

[2020-10-19 13:14] RDIL commented on #304
I broke this some time ago, and I spent a few hours working for a solution with no luck so far.
I will revisit this soon.

[2020-11-01 19:50] JayantGoel001 opened #306 "I want To Join This Organization."

[2020-11-01 20:05] RDIL commented on #306
Hello,

Currently the organization can't be joined.  Please see #298.

Duplicate of #298

[2020-11-01 20:05] #306 closed

[2020-11-04 15:43] SaptakS commented on #236
Based on discussions in monthly calls, following are the CTA:
- We probably still need to merge the talks repo into the main. Maybe we can merge the talks repos and presentation folder.
- Merge the jobs repo into this project.

[2020-11-04 18:42] RDIL commented on #236
@SaptakS I can start on talks once #305 is merged (which can happen with one more approval, which can be yours).

[2020-11-04 18:50] #304 closed

[2020-11-04 18:51] SaptakS commented on #236
Reviewed and merged #305

[2020-11-04 20:59] jdittrich opened #307 "rename main branch to main; not use master anymore"
As a  'master' branch  connotes the existence of a 'slave' branch (which git itself did never have, _but_, afaic, the system git was modeled on, did), we could change the name of the main branch to… `main`. [This itself is very easy](https://www.hanselman.com/blog/easily-rename-your-git-default-branch-from-master-to-main), but since deployment of our blog or other infrastructure might hinge on the

[2020-11-04 21:33] RDIL commented on #307
True, but does GitHub pages support this yet?  That is a must have, and it would require script/documentation updates.

[2021-01-06 18:30] SaptakS commented on #307
I think @jancborchardt is also looking into making the necessary changes related to making the default branch from "master" to "main"

[2021-01-06 18:36] SaptakS commented on #242
Hi @AnXh3L0 , just curious if you got some time to get a look into this.

[2021-01-06 20:39] AnXh3L0 commented on #242
Hey @SaptakS, unfortunately I haven't had time to have a look into it. Last time I started to work on it I was having a lot of issues with a gem that I never managed to fix (probably related to ghpages).

[2021-01-07 10:49] SaptakS commented on #242
I will also look into it and see if I can make a basic first commit in a separate branch, so you can probably work on top of that branch.

[2021-01-07 14:59] RDIL commented on #242
While we are on the subject, we should update bootstrap and all the other libraries.

[2021-01-07 15:03] SaptakS commented on #242
@RDIL agreed

[2021-01-07 15:04] RDIL commented on #242
I created the `ui-redesign` branch, feel free to commit to it.  I'm working on it now.

[2021-01-07 15:19] AnXh3L0 commented on #242
I was actually going to re-write the whole website because just updating bootstrap and the other libs just wasn't worth the debugging and changes.

[2021-01-07 15:25] RDIL commented on #242
Go ahead.  I'm fine with that.

[2021-01-09 12:53] jdittrich commented on #307
Do we have a list of what needs to be done, somewhere? It would be helpful anyway to know what all depends on how the main branch is named.

[2021-01-09 13:50] RDIL commented on #307
I'm not sure, it might just be changing it in the settings menu.

[2021-02-23 11:40] SaptakS commented on #166
I will take a look into this and come up with some solutions.

[2021-02-26 20:23] #128 closed

[2021-02-26 20:23] #166 closed

[2021-03-03 18:11] jancborchardt commented on #302
@Harshit564 @emerzon1 any of you is very welcome to work on this. :) No need to be assigned to it, you can just go ahead and make the code change and propose a pull request.

[2021-03-03 18:16] jsonin opened #321 "Bug when inputting GitHub handle (?)"
I just submitted a job... and I got this upon submitting, when I included a github handle: {"success":false,"data":["github_handle"],"rawError":{"_smErrorCode":"INVALID_FIELDS","data":["github_handle"]},"errorCode":"INVALID_FIELDS"}

When I deleted the github handle (on Eriol's suggestion), the form submitted correctly.

[2021-03-06 13:47] AnXh3L0 commented on #307
I have created a new "main" branch derived from the current master branch which is going to be the default one (after we introduce the new redesign of the website).

[2021-03-06 13:48] AnXh3L0 commented on #302
Thanks for the suggestion, we'll include a back to top button on the new version of the site.

[2021-03-06 13:50] AnXh3L0 commented on #275
This is going to be irrelevant and fixed in the new version of the website.

[2021-03-06 14:01] AnXh3L0 commented on #168
Fixed by #243

[2021-03-06 14:01] #168 closed

[2021-03-06 17:58] Yashank18 commented on #275
This issue should be closed I guess @AnXh3L0

[2021-03-06 19:15] #275 closed

[2021-05-05 18:25] Erioldoesdesign opened #323 "We want for Jobs posters: Improvements to the service, UX, UI etc."
In the community meeting held on May 5th 2021 we talked about what we want from our jobs section and form

We want for Jobs:

Structure of a form.
x-post to the forum
Easy way to see status of job for poster of job.
Easy way to update for the poster of job.
Review stage for the job so that abuse is avoided.

Please add further comments here!

[2021-05-06 11:55] Ian2020 commented on #321
My best guess is that file `staticman.yml` in the jobs repo is missing `github_handle` from its allowedFields, it should be added. So it currently reads:

[code]
But should be:

[code]

I can submit this as a PR to jobs repo. Looks like this is hosted on Heroku though, who can deploy/update it? Or is it updated automatically from the repo?

[2021-05-14 17:24] aryasoni98 commented on #323
I would like to working now it . Please brief me about the error .

[2021-05-29 02:33] Kushal997-das opened #330 "Want to join this organization !"

[2021-05-29 15:05] RDIL commented on #330
The organization is not currently joinable.  See #253

[2021-05-29 15:05] #330 closed

[2021-06-17 11:05] Erioldoesdesign opened #331 "Remove or update the link to the 'open design foundation'"
At the bottom of the [goals page](https://opensourcedesign.net/goals/) we have a link to the [Open Design Foundation](http://opendesign.foundation/) which was operational but is now a link that goes to an unrelated site.

I did a quick search around and cannot find a replacement/updated URL so my suggestion is one of the following:

1. We remove this section:
![Screenshot 2021-06-17 at 11 50 55](h

[2021-06-20 06:28] samrath-sudesh-acharya commented on #331
Hey @Erioldoesdesign ,I would like to resolve this issue

[2021-06-21 18:16] Erioldoesdesign commented on #321
@Ian2020 I think you've got much more chance of someone reviewing the PR if you submit to the jobs repo. Looks like a solid proposal to me and I think you'll get more help via a PR 😄

[2021-06-22 12:25] Erioldoesdesign opened #333 "https://github.com/opensourcedesign/opensourcedesign.github.io/issues/156"

[2021-06-22 12:26] #333 closed

[2021-06-22 12:45] Erioldoesdesign opened #334 "Repo maintenance"
This is an epic that collects issues around merging repos, renaming repos and general maintenance of OSD.

[2021-06-22 12:55] Erioldoesdesign commented on #321
Pretty sure this is the same issue as this: https://github.com/opensourcedesign/opensourcedesign.github.io/issues/119

[2021-06-22 12:59] Erioldoesdesign commented on #331
There is also the github repo for the open design foundation here: https://github.com/DesignOpen/designopen.github.io

we could include this too in the text?

[2021-06-22 13:28] Erioldoesdesign commented on #293
I tested this in my virtual mobile and also on my mobile and I do think there is a bug here about horizontal scroll happening on mobile devices but I don't believe it is when you reproduce the steps above.

Please seem my loom video explaining/showing what I found: https://www.loom.com/share/63559c0934034e148d38704eb0da2f52

[2021-06-22 13:33] Erioldoesdesign commented on #242
Would it be helpful to turn this issue into an epic and make each part of the re-design smaller issues that make up the epic so more devs could work across this piece of work?

[2021-06-22 13:50] Erioldoesdesign commented on #284
Looks like the associated PR is closed and the new PR is https://github.com/opensourcedesign/opensourcedesign.github.io/pull/328

[2021-06-22 15:10] SaptakS commented on #242
I think that's a good idea.

[2021-06-22 17:26] Erioldoesdesign commented on #256
I think this issue has been solved? @levlaz ? would you like to close it if it's finished?

[2021-06-22 17:31] Erioldoesdesign opened #335 "Check over the install details in README and check they work"
People have had a few issues installing the open source design repo to work on the code so it'd be great to get some folks stress testing the installation process and documenting these either in the README file or in a new markdown file possibly called 'Potential Installation problems'

Also open to other suggestions where these installation 'FAQs' could live.

See this issue thread for some insta

[2021-06-22 17:33] Erioldoesdesign commented on #224
I don't see the 'activity' section on the website anymore so I'm tempted to say this issue was fixed somehow?

But I also created a new issue in the repo for new folks to stress test the installation process and document that in an .md somewhere in this repo :)

If someone who 'knows' if this is complete wants to close this issue they can 😄

[2021-06-22 17:36] Erioldoesdesign commented on #237
I think this issue can be updated to a sort of 'spike' to still investigate captcha for when we might need it or create our own.
I'll update the issue copy!

[2021-06-22 18:05] kartikcho commented on #242
Hey @AnXh3L0, are you still working on the rewrite?

[2021-06-22 18:18] AnXh3L0 commented on #242
@kartikcho not at the moment, busy with current work.

[2021-06-22 18:22] kartikcho commented on #242
Np, just wanted to check if you were still active on this.

[2021-06-22 19:22] Erioldoesdesign commented on #152
Looks like a good start to a database of different things that people can request! we should make sure there are 'open' options for OSS projects that for example are like: We have a [new unnamed OSS project] that needs [general design help and advice].

[2021-06-22 19:29] Erioldoesdesign opened #336 "'Submit a job' link goes to 'Nothing Found Here' page on the contribute page"
On the contribute page: https://opensourcedesign.net/contribute/

The link that states:
'Submit a Job if you need a designer for your project'

Has the incorrect link assigned to the hyperlink.

It is currently: http://opensourcedesign.net/opensrcdesignjobs/

and should be changed to: https://opensourcedesign.net/jobs/job-form/

[2021-06-22 19:31] Erioldoesdesign opened #337 "'Add an Event ' link goes to the archived repo for events on the contribute page"
The section of the contribute page which states:
'Add an Event to help organize new events' the hyper link currently directs to: https://github.com/opensourcedesign/events

and the correct link should be: https://github.com/opensourcedesign/opensourcedesign.github.io/tree/master/_events

[2021-06-22 19:35] Erioldoesdesign commented on #150
I kind of see the main 'join us' call to action as joining the discourse forum and posting in the 'introductions' thread: https://discourse.opensourcedesign.net/t/introductions-come-in-say-hi/41/272
I see this as the way that people 'join' the community to chat, participate etc.

Unless a person wants to become a 'core' team member which is represented here:https://github.com/opensourcedesign/orga

[2021-06-22 19:43] Erioldoesdesign commented on #147
I agree and think this is more of a question around how to rework our contribute page or create a join us page. It's also a little bit connected to the 'showcase' on the landing page: https://github.com/opensourcedesign/opensourcedesign.github.io/issues/291

I also have a couple of issues with the people form in general...I think it's available or booked which would need some way for the people wh

[2021-06-22 19:47] Erioldoesdesign commented on #147
Though I do think it'd be simple and relevant to include 'Check out other [open source designers](https://opensourcedesign.net/people/) and add yourself to the list!' somewhere in the right column of text here:

<img width="1159" alt="Screenshot 2021-06-22 at 20 45 41" src="https://user-images.githubusercontent.com/11681324/122989770-1c1d3580-d39b-11eb-9361-2aa6e3d71509.png">

[2021-06-22 19:53] Erioldoesdesign commented on #142
I'm unsure whether this is now work that is wasted due to https://github.com/opensourcedesign/opensourcedesign.github.io/issues/242 talking about a complete rebuild of the website?

[2021-06-22 19:59] Erioldoesdesign commented on #125
So we have https://opensourcedesign.net/projects/ now which may not have existed when this was first proposed.

Projects could certainly do with some more care and attention. I remember a comment from 2019 FOSDEM from a person who visited our table and said 'What credentials does open source design have to say what Is good design or not' I think some rewording and potential way to 'pitch your OSS

[2021-06-22 20:14] Erioldoesdesign commented on #118
I'm a little confused about what part of the jobs form maps to the 'how to apply' section. I'm assuming:

<img width="682" alt="Screenshot 2021-06-22 at 21 12 06" src="https://user-images.githubusercontent.com/11681324/122992949-9ef3bf80-d39e-11eb-933f-3e67609e7159.png">

maps to this roughly:
<img width="716" alt="Screenshot 2021-06-22 at 21 13 14" src="https://user-images.githubusercontent.com/1

[2021-06-22 20:18] Erioldoesdesign commented on #117
Ok looks like the original issue here got solved because I see open collective and discourse forum on the main page:
<img width="1005" alt="Screenshot 2021-06-22 at 21 16 18" src="https://user-images.githubusercontent.com/11681324/122993370-23464280-d39f-11eb-95f4-17ef8f6a3d05.png">

But it seems the comments started to talk about open collective widgets and there's also something about the duplic

[2021-06-22 20:20] Erioldoesdesign commented on #114
Did this get fixed because on jobs pages now I see the 'Compensation' section:

<img width="218" alt="Screenshot 2021-06-22 at 21 20 15" src="https://user-images.githubusercontent.com/11681324/122993851-b41d1e00-d39f-11eb-8769-62cd6b2415a3.png">

[2021-06-22 20:25] Erioldoesdesign commented on #110
I think this issue is out of date now given our main page bottom page & footer looks like this:

<img width="1005" alt="Screenshot 2021-06-22 at 21 16 18" src="https://user-images.githubusercontent.com/11681324/122994104-fe9e9a80-d39f-11eb-9f83-0f4b3efcc53f.png">

But I think the issue could be updated to still propose that:
We make the front page only 'buttons' more call to action-y like 'Follow

[2021-06-22 20:31] Erioldoesdesign commented on #106
@aryasoni98 I think this issue should be closed as it was about the 2018 summit and I'll look at creating a new issue here about a 'Next summit TBC' page.

[2021-06-22 20:33] #106 closed

[2021-06-22 20:42] Erioldoesdesign opened #338 "Summit page update and redesign"
We haven't had a summit planned since 2018 and as such our summit page https://opensourcedesign.net/summit/ is now out of date!

We should consider a design for this page that allows for:
1. Next summit TBC information including header design, location, sponsors, schedule etc.
2. A history of past summits and links to articles, talks, videos etc

I've started a design file in the Figma team for fo

[2021-06-22 20:44] Erioldoesdesign commented on #105
I think this is a good way to design the form. I'm taking it into consideration as I work on the Job page epic #323

[2021-06-22 21:50] Erioldoesdesign commented on #103
Would love to offer a way for job posters to view their job post after posting, either via the page or via the PR that get's generated in the jobs repo! will consider for the jobs page design work.

[2021-06-22 21:54] Erioldoesdesign commented on #100
I can look at this new aspect of this issue when look at the job page design 🙌

[2021-06-22 21:59] Erioldoesdesign commented on #102
I agree that the way for projects to recruit design contributors is via specific jobs (or even generalised jobs via the job form!) but this issue could be re-worded so that there is a form where people can submit projects to our https://opensourcedesign.net/projects/ page for the community to look at, review and include in the list.

I mentioned a comment from FOSDEM 2019 re. projects here: https:

[2021-06-22 22:04] Erioldoesdesign commented on #98
I think there's another option here where we add a few form fields in to the jobs form that are only for relevant URL's to the project and the ability to 'add additional URL' field if they need more than the suggested amount.

I think my worry is that most people don't remember to use markdown (even though there's text) but if there's a nifty little bit of code that can do this conversion from non

[2021-06-22 22:06] Erioldoesdesign commented on #90
Is this still an issue? can it be closed?

[2021-06-22 22:08] Erioldoesdesign commented on #85
I'm not sure what needs to happen on this issue anymore but also, we should make sure that people that post jobs via our form agree to have them tweeted from our twitter account. Just in case of privacy needs.

[2021-06-22 22:11] Erioldoesdesign commented on #81
In the interests of things being 'friendly' adding what I assume is what CalDav is with a link ;) https://caldavsynchronizer.org/

[2021-06-22 22:13] Erioldoesdesign commented on #79
A user researcher or UX designer needs to pick this up now to test out whether the people form is doing the 'right job' in what we hope!

[2021-06-22 22:18] Erioldoesdesign commented on #69
This seems like a product manager task to me and certainly can be picked back up now, especially since I'm going into the repo and making epics and commenting on issues :)

[2021-06-22 22:23] Erioldoesdesign commented on #10
I have a feeling this is done via projects, cross-posting articles via our articles creation process. However, I do think there's a need for an update to the https://opensourcedesign.net/resources/ section.

I think we can close this and create a new issue if we want to update blogs lists in resources or we could create a new issue about how we might 'scrape' terms like 'open source design blog' o

[2021-06-22 22:25] Erioldoesdesign commented on #12
@bnvk was the intention of this to 'display' all repo activity somewhere on the website? Unsure if that is really needed? especially since we are not that active here on github much consistently.

Can I close this?

[2021-06-22 22:28] Erioldoesdesign commented on #15
Not sure we really need author pages when we could make sure we add in a line at the top of articles in markdown which can include a link to their portfolios or own blogs?

I think more pages of lists of people who have written isn't super important anymore with the amount of activity OSD has...can I close this?

[2021-06-22 22:29] Erioldoesdesign commented on #45
I think this can be closed :)

[2021-06-22 22:29] #45 closed

[2021-06-22 22:30] Erioldoesdesign commented on #62
I think this can be closed in favour of the repo merging epic:https://github.com/opensourcedesign/opensourcedesign.github.io/issues/334

[2021-06-22 22:30] #62 closed

[2021-06-22 22:32] Erioldoesdesign commented on #63
This is cool but I think this now needs to be considered as an article?
https://opensourcedesign.net/articles/

[2021-06-22 22:33] Erioldoesdesign commented on #66
I think this is important to note that a contributor didn't know how to get involved but a lot has changed since 2016/2017 so I'm closing :)

[2021-06-22 22:33] #66 closed

[2021-06-22 22:38] Erioldoesdesign commented on #323
For those that can't see the epic list here's the issues in this epic:

https://github.com/opensourcedesign/opensourcedesign.github.io/issues/70
https://github.com/opensourcedesign/opensourcedesign.github.io/issues/83
https://github.com/opensourcedesign/opensourcedesign.github.io/issues/84
https://github.com/opensourcedesign/opensourcedesign.github.io/issues/85
https://github.com/opensourcedesign/

[2021-06-23 09:42] Ian2020 commented on #321
Thanks @Erioldoesdesign, PR submitted to jobs as suggested.

[2021-06-23 20:13] Erioldoesdesign commented on #63
I started to fill out this in an etherpad document I write various OSD related articles in here: https://pad.riseup.net/p/Articles_for_OSD-keep

Here's what I've come up with:

💼 As of June 2021 there have been 186 jobs posted on the open source design jobs board!

🥳 686 designers in our [GitHub people organization](https://github.com/orgs/opensourcedesign/people) as of June 2021.

💵 Open Source D

[2021-06-23 21:16] flexbox commented on #63
@Erioldoesdesign you are a legend!
That's a great work to collect all the history about this repo!

[2021-06-25 15:53] #336 closed

[2021-06-26 13:34] #337 closed

[2021-06-29 13:04] paurav11 opened #342 "error: invalid path 'presentations/Open Source Design 2019 updated for ApacheCon and 16:9.odp'"
![fatal error](https://user-images.githubusercontent.com/44253834/123799729-21800000-d906-11eb-8b6f-64c19ff8d846.jpg)

When I clone this repo, it is giving me an error that there is something wrong with the path to these 2 files:
- [presentations/Open Source Design 2019 updated for ApacheCon and 16:9.odp](https://github.com/opensourcedesign/opensourcedesign.github.io/blob/master/presentations/Open

[2021-06-29 13:56] paurav11 commented on #331
Hi @Erioldoesdesign, I've resolved issue #331. Hope it is okay now and meets your requirements. 👍

[2021-06-29 20:13] #331 closed

[2021-07-01 13:13] Evavic44 commented on #338
Hello @Erioldoesdesign, I would like to contribute to the building of the summit page after the design has been completed.

[2021-07-02 11:21] pdurbin commented on #15
@Erioldoesdesign thanks for circling back to this issue! It was nice meeting you at FOSDEM 2020, by the way. 😄

I just noticed 9c3c926 in the issue and it does seem like authors are being added to the top of the article in most cases.

I did notice that even though the [source][] of a recent article has an author name (@hqrshguptq), it doesn't appear at the top of the final article: https://openso

[2021-07-02 11:21] #15 closed

[2021-07-02 13:22] bnvk commented on #12
Thanks for tidying up from half a decade ago ;)

That was the goal, but like you say it's not needed anymore due to low activity on Github.

Yeah feel free to close!

[2021-07-03 11:23] Ian2020 commented on #321
Looks like a recent job was submitted ok and included a GitHub handle: https://github.com/opensourcedesign/jobs/pull/661. As OP already resubmitted their failed job without a handle I think this can be closed.

[2021-07-03 11:23] #321 closed

[2021-07-04 03:53] KholoodS commented on #338
Hey I would like an  access to the Figma team to edit

[2021-07-04 17:16] Erioldoesdesign commented on #338
@KholoodS sure! can you let me know your email address that is connected to your Figma account?

[2021-07-04 17:17] #12 closed

[2021-07-05 09:25] KholoodS commented on #338
yes definitely it is  sjkholood@gmail.com

[2021-07-07 07:43] leonard-vlaicu commented on #335
hello, I'd like to work on this isssue if possible. Thanks!

[2021-07-07 21:56] Erioldoesdesign commented on #335
Please do @leonard-vlaicu ! It'd be great to be able to update the readme file and installation details with any extra info and intracacies you find while reviewing the installation process :)

[2021-07-11 20:48] Erioldoesdesign commented on #63
Put in a PR for this article!
https://github.com/opensourcedesign/opensourcedesign.github.io/pull/350

[2021-07-12 08:30] PrathmeshMutke opened #351 "summit page update"
2nd - 4th 2018 should be there

[2021-07-12 09:53] Erioldoesdesign commented on #351
@PrathmeshMutke can you elaborate what this issue is asking? please add more detail into your issues so others can understand what is needed :)

[2021-07-27 18:30] Arhell opened #353 "update favicons"
https://realfavicongenerator.net/favicon_checker?protocol=https&site=opensourcedesign.net%2F#.YQBQTI4zaMo

[2021-07-29 13:33] Erioldoesdesign commented on #353
Can you give this issue a better description of why it was opened and what it solves please? PR's won't be approved until we understand the issue clearly :)

[2021-07-29 13:36] Arhell commented on #353
Of course, this will add favicons for all platforms + browser themes on mobile devices (android for example).
When the site opens, the browser cover changes to the desired theme (color)

[2021-08-02 16:17] Arhell opened #357 "menu doesn't work"
https://opensourcedesign.net/jobs/
![02-08-2021 19-16-51](https://user-images.githubusercontent.com/26163841/127892570-77c8a401-2561-41f4-95f5-dc2734f28b6d.jpg)

[2021-08-02 16:42] ZoranPandovski commented on #357
Hello @Arhell thanks for reporting. Did you mean it doesn't expand on click or there is some other issue?

[2021-08-02 16:43] Arhell commented on #357
Yes, I found how to fix it so I'll do it soon PR.

[2021-08-03 19:56] Arhell commented on #357
Fix https://github.com/opensourcedesign/jobs/pull/721

[2021-08-05 11:27] Arhell commented on #342
if you view windows add in terminal `git config --global core.protectNTFS false`
https://github.community/t/windows-git-clone-error-error-filename-in-tree-entry-contains-backslash-32-mib-s/2935/4

[2021-08-05 11:55] #351 closed

[2021-08-05 11:55] ZoranPandovski commented on #351
Fixed with #358

[2021-08-05 12:57] jancborchardt opened #359 "Job posts are unlisted by default on the forum"
In the job postings category on the forum, posts are by default "unlisted, it will not be displayed in topic lists, and can only be accessed via a direct link" – until someone replies to it.

This seems a bit counter-intuitive. As in:
- If a post has no replies yet, it would be good to also feature it on the forum
- Since as soon as there’s a reply it also gets shown on the forum, there’s a likeli

[2021-08-06 11:41] Arhell opened #360 "horizontal scroll at small width"
![06-08-2021 14-39-42](https://user-images.githubusercontent.com/26163841/128505294-83271fd5-cae1-47bb-a9b2-7e01fb84b199.jpg)
I will do it soon

[2021-08-09 20:02] Arhell opened #362 "horizontal scroll summit page"
https://opensourcedesign.net/summit/
![09-08-2021 23-01-19](https://user-images.githubusercontent.com/26163841/128767023-750b99d9-061c-4f6c-b39d-1c04a97935c4.jpg)

[2021-08-12 16:36] im-adithya commented on #335
Just faced an issue and resolved it! Thought of adding it here:

![Screenshot from 2021-08-12 21-59-17](https://user-images.githubusercontent.com/64399555/129233749-8c86715a-56ea-487d-a9b1-7aa5bbd208ec.png)

Adding an additional line in line 11 of `_config.yml` resolves this issue

[code]

For further information: Refer to [this](https://github.com/jekyll/jekyll/issues/5267#issuecomment-241379902)

[2021-08-12 18:05] im-adithya commented on #302
Working on it!

[2021-08-12 18:28] im-adithya commented on #263
Weren't the `_events` and `_jobs` folders outside `_posts` folder by default?
Didn't face this issue (just cloned the repo and everything worked fine)

[2021-08-21 12:30] A-GHOSH-dev commented on #285
Can I contribute here?

[2021-08-21 12:32] A-GHOSH-dev commented on #82
Can I contribute here?

[2021-08-21 12:37] jdittrich commented on #82
@A-GHOSH-dev yes! I don't know what the issue will focus on, it seems that it is currently both about how the form should be structured as well as about implemeting it at some point ( @bnvk, @ei8fdb – do we have a technology we usually use for form submits like this?)

[2021-08-21 12:38] A-GHOSH-dev commented on #156
Can I work for this issue here?

[2021-08-21 12:40] jdittrich commented on #285
@A-GHOSH-dev yes, I think the next action would be reviewing @sparsh-99 pull request #290 and telling if the code is fine and has the intended results (resolves the problem; for this you probably also need to check out a pre- #290  commit to see the issue)

[2021-08-21 12:41] A-GHOSH-dev commented on #82
Okay..... So just tell me what exactly the issue is. As far as I understood, It is I have to add a dropdown which user will select and as per which the content of the webpage will be filtered.

[2021-08-21 12:42] A-GHOSH-dev commented on #82
Just guide me a bit. This will be my first Open Source Contribution.

Just Guide me a bit, This will be my first open source contribution.

[2021-08-21 12:47] jdittrich commented on #156
You can, but I do not exactly know what is needed here, maybe the linked  #140 explains.

[2021-08-30 15:30] Arhell opened #367 "Accessibility object-alt"
![30-08-2021 18-28-59](https://user-images.githubusercontent.com/26163841/131364295-d650ed5e-5571-406e-979b-613b8743b01d.jpg)

[2021-09-03 11:42] #367 closed

[2021-09-03 11:42] #362 closed

[2021-09-03 11:44] #353 closed

[2021-09-22 11:32] hili07 commented on #338
Hi @Erioldoesdesign , I just joined and I saw this as a good first issue. I would love to contribute to this, looking forward to hearing from you.

[2021-09-23 08:04] Erioldoesdesign commented on #338
@hili07 Hey there 😄 would you like to contribute code work or design work to this task?

[2021-09-23 09:30] abrahamalen commented on #338
@Erioldoesdesign  would like to contribute the code and design works. Like to have the access to figma file

[2021-09-23 10:09] hili07 commented on #338
@Erioldoesdesign Design work please

[2021-09-23 10:17] Erioldoesdesign commented on #338
@abrahamalen @hili07 Please send me your email's that you use for figma and I'll add you to the figma team and file

[2021-09-23 10:34] abrahamalen commented on #338
@Erioldoesdesign
alenabraham4874@gmail.com is my figma mail

[2021-09-28 10:34] hili07 commented on #338
@Erioldoesdesign
nwashilianulika@gmail.com is my email address for figma

[2021-11-04 14:29] jwflory opened #375 "Link to a random online gambling site secretly embedded in OpenCollective sponsorship badge"
# Summary

An online gambling site, presumably in Russian, appears to be linked under _Supporters_ next to the OpenCollective sponsorship badge

![Screenshot from Open Source Design website](https://user-images.githubusercontent.com/4721034/140331638-cfc8ec02-ab16-4bb4-8293-fa64d89bbb7b.png)

# Background

The image and link to the gambling site appear to be present in the OpenCollective SVG itsel

[2021-11-04 14:33] jwflory commented on #375
I alerted @benjam in the OpenCollective Slack, I forgot I was logged in there too.

[2021-11-04 14:40] jwflory commented on #375
Actually actually, it isn't a hack, this site has legitimately contributed to the Collective, but it appears to contribute as an individual?

https://opencollective.com/igrovye-avtomaty

This is still confusing to me, and I'm not sure whether it makes sense or not for this link to be promoted on the OSD site… when I first saw the link and the way it was positioned among other _Supporter_ logos, my

[2021-11-04 14:43] BenJam commented on #375
as mentioned, we do have an issue with legitimate but unwanted behaviour like this and we are working on an ethical policy so that we set expectations about the behaviour we want to see and will reject, but we are not there yet.

For the moment you can reject this, and categories of supporters like this by following the guidance at https://docs.opencollective.com/help/collectives/moderation

[2022-01-15 18:26] Bhupesh-V opened #383 "broken links in COC"
hey,
just to inform the link https://adainitiative.org/2014/02/howto-design-a-code-of-conduct-for-your-community/ no longer exists or has moved somewhere else

Update seems like hoodie link is also not available anymore: http://hood.ie/code-of-conduct/

[2022-01-15 19:14] jdittrich commented on #383
Thanks!
We probably should do a bit of research on newer texts.
@contributors  Meanwhile we could link to

* Ada initiative: https://web.archive.org/web/20150701085442/https://adainitiative.org/2014/02/howto-design-a-code-of-conduct-for-your-community/
* Hoodie: https://web.archive.org/web/20200827104710/http://hood.ie/code-of-conduct/

[2022-02-03 15:31] #383 closed

[2022-04-24 12:21] doziben commented on #338
Hello @Erioldoesdesign I would like an access to the figma team. doziben@gmail.com is my email address

[2022-04-25 13:16] Erioldoesdesign commented on #338
Sent!

[2022-05-30 19:23] victoriafrench commented on #338
Hi @Erioldoesdesign, the cinecove team would like to contribute to the design as well.

Could you add victoria.french@cinecove.com and rosieculps@gmail.com please 😃

Thank you!

[2022-06-09 17:47] mazarady commented on #338
I would love to contribute. if there's any space. email munirm1104@gmail.com

[2022-06-10 07:52] Erioldoesdesign commented on #338
Figma invite sent!

[2022-06-17 08:48] JOSHI-owo commented on #284
Is anyone working on this issue?
I'm new to open source and I would like to work on this issue.

[2022-06-17 12:19] Erioldoesdesign commented on #284
@JOSHI-owo if you would like to review https://github.com/opensourcedesign/opensourcedesign.github.io/pull/340 and add it it please go ahead 🙏

[2022-06-17 16:08] JOSHI-owo commented on #284
@Erioldoesdesign I saw #340 . Can you please direct me to the the files to be edited.

[2022-06-20 11:42] Erioldoesdesign commented on #284
I don't know what 'files' you mean but you probably would need to branch from https://github.com/aryasoni98/opensourcedesign.github.io or https://github.com/opensourcedesign/opensourcedesign.github.io/pull/340/commits

[2022-06-20 18:37] #360 closed

[2022-06-20 18:37] #357 closed

[2022-08-04 06:44] Erioldoesdesign opened #392 "Email / other notification sends when job is approved"
Investigate and integrate a way for job posters to receive an email / other notification system set up which triggers as soon as thier job is approved.

[2022-08-04 08:16] Erioldoesdesign opened #393 "Written guidance on how to make a job on OSD successful"
We don't have guidance docs about how a job poster can make their job successful.

Let's start a thread here on how to write an article - which could then be used in comms related to posting a job about how to make the post successful.

Ideas:
- Add a hello and contact info to your forum post when a job is approved
- Check the forum post at least once per month/when able to
- Answer questions for

[2022-08-04 08:16] Erioldoesdesign commented on #392
Blocked by: https://github.com/opensourcedesign/opensourcedesign.github.io/issues/393

[2022-10-03 11:16] sharmavasant commented on #147
add a "JOIN US" page

[2022-10-05 08:51] Wodlfvllf commented on #338
I would like and love to contribute.my email is : shuklashashankshekhar863@gmail.com

[2022-10-05 09:06] jennie-lovey commented on #338
hello, I would like to contribute. ,email anthonyjennifer76@gmail.com

[2022-10-05 10:08] Erioldoesdesign commented on #338
@Wodlfvllf and @jennie-lovey are you looking to contribute design work or code/software dev work? :)

p.s. Welcome :D

[2022-10-05 12:46] jennie-lovey commented on #338
design

[2022-10-05 17:28] Erioldoesdesign commented on #338
I'll add you to the Figma file :)

[2022-10-06 19:41] jennie-lovey commented on #338
seen

[2022-10-07 01:25] Wodlfvllf commented on #338
I would like to contribute in design animations using css and javascript

[2022-10-09 07:05] Arhell opened #399 "update readme link"
http=>https

[2022-10-09 15:43] jennie-lovey commented on #338
design

[2022-10-10 20:04] #399 closed

[2022-10-10 21:16] Arhell opened #401 "update events links"
http=>https

[2022-10-23 09:45] Arhell opened #403 "update people folder links"

[2022-10-27 08:49] Arhell opened #405 "update posts folder links"

[2022-10-31 07:59] Arhell opened #407 "update root folder links"

[2022-11-03 13:57] #407 closed

[2022-11-03 15:11] #405 closed

[2022-11-03 15:19] #403 closed

[2022-11-04 15:35] #302 closed

[2022-11-05 22:25] #401 closed

[2022-11-05 22:26] Arhell opened #409 "upd go top btn"
add cursor pointer style