[2015-02-08 21:18] bnvk opened #1 "Make website easy to update & modular"
This week I started creating a bunch of repos to power the [opensourcedesign.net](http://opensourcedesign.net) website. My plan was to use Jekyll to generate the site and various JS libs and Bootsrap on top of that.

I am keenly aware of the pain points @una brings up in her great blog post [The Intimidation Barrier](http://designopen.org/articles/barriers-for-designers/) and how this affects desi

[2015-02-08 21:41] jancborchardt commented on #1
Great stuff, I totally agree that striking the right balance is essential. Also +1 on your last paragraph.

[2015-02-09 01:33] simonv3 commented on #1
So the other day I was playing around with [dat](https://github.com/maxogden/dat) and I was incredibly impressed with the [contribution/explanation/start up](http://maxogden.github.io/get-dat/) flow that they have created there.

Basically they're spinning up a docker instance which installs dat on it and walks people through the process of "programming" with it.

For OpenFarm we're also looking a

[2015-04-25 15:05] simonv3 commented on #1
I'm going to add a link to [prose.io](http://prose.io) here, which is a simple way of editing text files etc.

[2015-04-25 15:43] jdittrich commented on #1
Totally agree with *Making the  website easy to update & modular*. I think as well that the crossed out steps are the most difficult ones and thus should be avoided first.

I like the idea to use something like prose.io (as far as I can evaluate this for now); as well the use of the GitHub interface itself for editing is a good idea. Learning local-repo based git is not too hard, but by no means a

[2015-04-25 18:24] simonv3 commented on #1
I think prose.io actually does a good job eliminating 4-10, and 12-15, all that you're left with is:

1. Stumble upon this [on a public website] page
2. Open the link to prose.io for [this website](http://prose.io/#opensourcedesign/opensourcedesign.github.io/)
3. Have a Github account
5. Make changes in Markdown or with HTML tags
6. Save changes in Prose

I just noticed that Prose actually lets yo

[2015-04-25 18:41] jdittrich commented on #1
@simonv3 what you say about prose seems pretty great, and what’s left seems to be familiar enough even for non-tech-savvy users.
The problematic behaviour of prose in regards to editing and not being logged in is [discussed in their bug tracker](https://github.com/prose/prose/issues/643)

[2015-04-25 18:52] jancborchardt commented on #1
@simonv3 the problem being that Prose doesn’t fork automatically, right? So either you need to be in the opensourcedesign organization or manually fork the repo, then do the changes, and _then_ also issue a pull request. And at that point using the Github built-in editor might be easier. ;)

[2015-04-25 19:17] simonv3 commented on #1
Oh right, I hadn't considered that. Works great if your workflow doesn't
involve PRs. Dang.
On Apr 25, 2015 8:52 PM, "Jan-Christoph Borchardt" <notifications@github.com>
wrote:

[2015-04-25 19:23] jancborchardt commented on #1
Even if it doesn’t involve PRs, any outside contributor – who are kind of the target audience of this method – still need to fork.

[2015-04-26 07:27] simonv3 commented on #1
From the threat that @jdittrich links, this is interesting: https://github.com/benbalter/comment-card

[2015-04-26 14:01] bnvk commented on #1
Super major +1 to prose.io as it seems very much towards this goal. I agree that it *could* help cut out more of these steps... the forking part does provide a problem. Perhaps we create a certain "group" within the GH org and those members don't need to "fork + pull req" and just edit directly?

[2015-04-26 14:17] jdittrich commented on #1
could we fork via the api somehow?

[2015-04-26 14:34] jancborchardt commented on #1
@bnvk everyone in the org can already edit directly. The pull request process is just something we decided because it increases visibility and transparency for everyone. If we all would just commit directly, it would be very difficult for others in the org to follow the changes. Also, it’s an aspect of doing a review and a bit of quality assurance. :)

[2015-04-26 15:05] simonv3 commented on #1
@bnvk @jancborchardt And everyone who's in the OS design group can submit edits through prose.io, which would be a direct commit, rather than a fork and pr. However, it must be possible to tweak prose.io (he said, naively) so that it can do a fork and pr, as that's what comment-card and the DesignOpen tools do.

[2015-04-26 15:25] bnvk opened #5 "Add font-awesome to front-end deps"
https://fortawesome.github.io/Font-Awesome/icons/ because, icons :grin:

[2015-04-26 15:30] simonv3 commented on #5
:+1: would close issue on checklist as well I suspect: https://github.com/opensourcedesign/foss-contributors-checklist/issues/4.

[2015-04-26 15:54] jancborchardt commented on #5
Yeh, even though not all of the icons are awesome it’s probably easiest. :) And it showcases a great open source design project.

[2015-04-26 18:02] Xaviju commented on #5
Why not using SVGs instead of iconfonts?
https://css-tricks.com/icon-fonts-vs-svg/

We could use CC icons from nounproject https://thenounproject.com/

[2015-04-26 18:19] jancborchardt commented on #5
I must say I also prefer SVG. The only advantages are:
* really quick coloring – but we won’t really use color
* only one file is loaded – which we can fix using https://github.com/jkphl/iconizr

On top of that the style & quality of icons available on thenounproject is better. And I mean, how many do we need?

[2015-04-26 18:23] jdittrich commented on #5
Sorry, but – what are the icons meant to be used for?

[2015-04-26 18:51] simonv3 commented on #5
How much of a hassle is using SVGs versus including a link to font awesome's CDN? And updating the SVG file every time we add another one? (I'm hesitant to add another build step to this project that's meant to be accessible and easily maintainable).

Also @jdittrich raises a good point. For the foss-contributors-checklist it's purely aesthetic, and that particular project might be better served b

[2015-05-04 09:51] bnvk opened #9 "Make "About" page rich with examples"
Currently, our [About page](http://opensourcedesign.net/about/) outlines the things we hope to achieve with OSD. I really like that it is not a manifesto but more of a list of concrete _actions_ or _resources_

Given the nature of our About page, what if we made each item link to the thing we are working on achieve? Example:

**"a job board for designers to find open source projects"**

instead be

[2015-05-04 10:59] jancborchardt opened #10 "Aggregate UX blogs of existing open source projects in subsection of site"
As we talked about previously and say in point 1 on our [About page](http://opensourcedesign.net/about/), we should aggregate UX blogs of open source projects to spread the existing knowledge.

@danilapellicani did you want to work on that?
@bnvk @simonv3 do you know if there is a way to handle RSS stuff with Jekyll?

[2015-05-04 11:09] simonv3 commented on #10
I’m afraid it’d have to be front-end. Don’t think we can reference other RSS feeds. 

—
Sent from Mailbox

On Mon, May 4, 2015 at 12:59 PM, Jan-Christoph Borchardt
<notifications@github.com> wrote:

[2015-05-04 11:35] simonv3 commented on #9
:+1:

[2015-05-18 11:53] bnvk opened #12 "Make "Activity Feed" on homepage uber user friendly"
In pull req #11 I have introduced the idea of an activity feed. However, currently it's just the activity feed of this one repo- ideally it will encompass all repos and do some sort of intelligent "filtering" to only show highly understandable items.

[2015-05-19 11:10] simonv3 opened #14 "Requirements"
Leading up to doing some wireframing leading to a visual style, here's a potential outline of some requirements for the website:

http://piratepad.net/opensourcedesign-website-requirements

[2015-05-23 13:41] pdurbin opened #15 "Add name of author to each article in a byline"
At https://botbot.me/freenode/opensourcedesign/msg/39962749/ I mentioned that each article at http://opensourcedesign.net/articles/ should probably show the name of the author.

Here's how I show the author (me) at http://crimsonfu.github.io/2012/07/01/graphs-help-tell-a-war-story.html for example:
- add `author: pdurbin` to the front matter at https://raw.githubusercontent.com/crimsonfu/crimsonfu

[2015-05-23 14:11] simonv3 commented on #15
Awesome! I hadn't thought of also including member pages.

I'm all for this.

[2015-05-24 16:17] simonv3 opened #16 "Better explain what design is, and what design we're talking about specifically."
Aside from the whole "What is design" and "What is user experience design" existential crisis, it would be sort of nice to get a rough outline of how we define design.

Is it visual? Is it aesthetic? Is it user experience?

Sparked by: http://irclogs.jackgrigg.com/irc.freenode.net/openhatch/2015-05-24#i_3636466

[2015-05-27 15:35] simonv3 opened #17 "Proposed front page layouts"
This version is more up front, targeted, and almost a marketing site:
![website-sketch](https://cloud.githubusercontent.com/assets/485583/7840226/a3891028-0496-11e5-9714-45d452c16aa3.png)

One interesting thing to explore here is to maybe include little facts for each section (300 commits, 299 members, 400 tweets, 13 open jobs, etc)

This version is more functional:
![website-sketch-2](https://clo

[2015-05-27 16:55] jdittrich commented on #17
assuming that this page would be the first contact for anyone who might be interested I assume the 1st ("marketing") is the way to go.

We could as well experiment with combinations of the strength of both layouts – what about the 1st with a footer that holds some current links (like the main section of the 2nd) for those who read that far, like on https://www.libreoffice.org/ ?

[2015-05-28 09:27] Xaviju commented on #17
Nice!
I would go with the marketing site since I think open source design still needs a presentation and purposes page because a lot of designers still don't understand very well the concept.
I would go too with minimal information and links, short text and visuals and then a functional version on the secondary level links. :cool:

[2015-05-28 09:55] simonv3 commented on #17
I'll tinker! Be back at the end of the day.

[2015-05-28 11:30] ScintillaLuz commented on #17
hello!!!
Cool :)

My feedback: I like the structure of the second, since I feel it's more organized and the user can just jump from one block to the other without losing anything. The first one doesn't convince me because it gives a "funnel" or a direction (from top to bottom) that I don't see it reflects the content/mission, since if I get it right it's more on informing/getting interested than s

[2015-05-28 13:06] bnvk commented on #17
@simonv3 nicely done! What about doing BOTH. Have the top of the site (above the fold) contain the big "marketing" style call to actions, each one could link to the more detailed blurb below?

[2015-05-28 16:24] jancborchardt commented on #17
Yeah, agree with the previous comments - we need a combination here. The current site does that quite well already, maybe we just iterate on that?

[2015-05-28 19:17] simonv3 commented on #17
@jancborchardt The reason for this, in my mind, is that it helps architect the site a bit, and it'll give @ScintillaLuz a framework to work within and apply a more unique visual style, which she's offered to explore (yay!). That way we have a clear direction rather than just iterating towards an unknown goal. We can always continue to tweak and iterate beyond that. Let me know if that works for yo

[2015-05-28 21:48] jancborchardt commented on #17
@simonv3 the big generic "what is this?" header we can remove. :) Instead we should make the "We are a group ..." a bit bigger. Also - clarify we are not only _interested_ and also work on design.

That's what the current 2 sentences do a pretty good job at and I'm not sure we need to adjust the wording there:
![opensourcedesign](https://cloud.githubusercontent.com/assets/925062/7871952/05d26646-0

[2015-05-29 10:15] simonv3 commented on #17
:+1: agreed. I'll mock something up hopefully later today, definitely this weekend.

[2015-05-29 10:28] Xaviju commented on #17
Wow, that last wireframe looks really great :smile:

[2015-05-29 15:19] MariekevC commented on #17
Great to see this developing :-)
This discussion made me do this:

![osdesign_fronttop](https://cloud.githubusercontent.com/assets/6065633/7885816/6c85de3a-0626-11e5-89b3-0200dbf476e1.png)

My thoughts for the top frontpage: when you want to invite for collaboration, be as bold and clear about it as possible.

And watching the open source icon change into a large dot, started this:

![osdesign_gre

[2015-05-29 15:32] jancborchardt commented on #17
@MariekevC good on the mockup :)

As for the logo - I guess we should try to keep it logo-ish, without any text needed, no?

[2015-05-30 20:21] simonv3 commented on #17
So here's the concept based on what you suggested @jancborchardt:

![website-sketch-3](https://cloud.githubusercontent.com/assets/485583/7899164/1ec6b590-0719-11e5-98ca-3ef00add975c.png)

@MariekevC I like what you're getting at! Thanks for putting forward some ideas :).

It took me a moment to realize that it said "You" in one of the titles. I wonder if the logo's location is detracting from the

[2015-06-03 20:08] jdittrich commented on #17
Maybe the 1 column, 3 column, 1column,  2 column (from the top) Structure is visually a bit restless. What about having three col. at the bottom: *Activity* , *Interests* and *Get in Touch* (or any other change that provides a more consistent grid)

[2015-06-04 20:07] bnvk commented on #17
@simonv3 that's looking great man. My only thoughts are to make the two paragraphs "We are a community..." and "We provide resources..." side by side instead of on top of each other, I think this will help the "restless" bit that @jdittrich mentions!

[2015-06-06 11:52] MariekevC commented on #17
@simonv3
I can play around with the spacing a bit, as you suggested. Maybe also look at possibilities that @jdittrich and @bnvk suggested?

The logo is in the middle as a focal point. From here the reader can choose what is of interest at that moment (instead of scrolling - menu, logo, content, contact).
A starting point which connects things - visually, information, invite, sharing, collaboration

[2015-06-07 08:53] simonv3 commented on #17
@MariekevC It's not taken care of! I was just saying that the reason that I put it in as just a circle was to show that we don't need to be stuck on the Open Source O logo we currently have. I'm open to ideas.

[2015-06-08 08:05] elioqoshi commented on #17
Love the proposals shown here, I agree the first 'Marketing-ish' one might suit more, but as @bnvk  said, we could mix it a bit more with the more functional version.

[2015-06-08 12:25] MariekevC commented on #17
@simonv3 :+1:
I like the idea of a venn diagram (maybe also nice input for a logo?)

[2015-06-09 13:11] MariekevC commented on #17
Some input for the OSD logo, based on the venn idea

![osd_logo_venn](https://cloud.githubusercontent.com/assets/6065633/8058252/83ca6f4e-0eb8-11e5-9399-dfea4c805a52.png)

Left: the design part (a brush as example),
Right: the code part ( {} as example),
Middle: the open source icon.

[2015-06-09 14:55] jancborchardt commented on #17
Nice @simonv3! cc @bnvk – instead of putting the two paragraphs "We are a community..." and "We provide resources..." side by side I would make the first one bigger & more present. Also both should be a bit wider so it’s more readable.

As for the logo I think we should keep it very very simple. Similar to what Open Source Hardware did:
![](https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd

[2015-06-09 15:19] jdittrich commented on #17
some input (rather sketchy, nowhere near usable):
![osdlogos2](https://cloud.githubusercontent.com/assets/3416487/8061486/5504bf3a-0ecb-11e5-9f07-9903dd2b2d8b.png)
The idea behind the left one is probably obvious (we could make the circle dark so the negative/positive is a coherent thing), for the right one I played around with the idea of a logo showing "in the making".

[2015-06-09 15:29] simonv3 commented on #17
Could we move the logo convo to another thread? ;)

On Tue, Jun 9, 2015 at 5:19 PM, jdittrich <notifications@github.com> wrote:

[2015-06-09 16:01] plastelina commented on #17
That would be handy @simonv3 :). Do we have to use the open source logo as an starting point? Small input for the logo ( I really like what @MariekevC but I think it's to big with too much information) - still working on the idea how to incorporate it into open source logo
![coding_design_icon](https://cloud.githubusercontent.com/assets/7548189/8062660/c992bf26-0ec8-11e5-8015-2225f1daee10.png)

[2015-06-09 16:09] plastelina commented on #17
I just found this - not sure who had design it but it's genius http://opensourcedesign.net/images/design-open-logo-512.png

[2015-06-09 16:30] simonv3 opened #18 "Logos"
*EDIT for update*:

Hey all!

Thanks so much for contributing all of your great thoughts, ideas, logos, sketches, etc. This is super awesome, and *exactly* what I hope for this community. It's great to see you all pitch in, and I'm super appreciative of all of the work you've been doing on this.

However, to prevent this from going on and on with new ideas and concepts, and never end up with a log

[2015-06-09 16:31] simonv3 commented on #17
Hey @plastelina, @MariekevC, @jdittrich, could you continue the conversation about logos in #18?

[2015-06-09 16:40] teufelabgott commented on #18
Does it make sense to start the conversation defining goals and establishing some constraints for collaborators before posting concepts?

Just trying to make reference to an [existing resource](https://github.com/opensourcedesign/Design-Brief/blob/master/DESIGN-BRIEF.md).

[2015-06-09 16:50] simonv3 commented on #18
@teufelabgott that would be excellent. The conversation was running over from #17 though, I just wanted to keep that thread focused. I'm open to any constraints / etc anyone wants to come up with (but a bit too busy myself to do it).

[2015-06-09 19:26] jancborchardt commented on #18
I like the right concept by @jdittrich a lot, definitely something to be built upon. The left one with the pencil is a bit too similar to the »DesignOpen« folks. Also the metaphor of Design = Pencil is getting a bit old, no?

[2015-06-09 19:26] jancborchardt commented on #18
Will see if I can come up with some sketches too.

[2015-06-09 19:28] GarthDB commented on #18
I think the pencil one from @jdittrich is awesome, and different enough from the [Open Design Foundation](http://opendesign.foundation) logo.

[2015-06-09 19:29] jancborchardt commented on #17
@plastelina that’s the logo of http://opendesign.foundation – we wanted to use that but that wasn’t very fruitful, see https://github.com/opensourcedesign/jobs/issues/26 so we need a separate one.

[2015-06-09 20:08] GarthDB commented on #18
Just playing with some variations to @jdittrich's design.

![opensrcdesign_01](https://cloud.githubusercontent.com/assets/125516/8068338/e7b5d43a-0eb8-11e5-82bc-b8801ce50c70.png)
![opensrcdesign_02](https://cloud.githubusercontent.com/assets/125516/8068339/e7b8b18c-0eb8-11e5-8c82-2466758177d1.png)

I posted them on [Pixelapse](https://www.pixelapse.com/GarthDB/projects/Open%20Source%20Design) if a

[2015-06-09 22:22] una commented on #18
Some thoughts!

![od-ideas](https://cloud.githubusercontent.com/assets/1693164/8071028/079855a8-0ecc-11e5-88d4-c4980faf71b5.png)

[2015-06-10 02:09] GarthDB commented on #18
:ship_it:

[2015-06-10 06:57] Xaviju commented on #18
I'm not convinced about the pencil, tried with a brush instead.

![](http://i.imgur.com/AcpGJXc.png)

[2015-06-10 10:18] pfefferle commented on #18
I love the variations of the logo by @jdittrich from @GarthDB and @una but I think I would prefer the brush by @Xaviju

[2015-06-10 10:50] una commented on #18
I like the brush too!

[2015-06-10 10:51] gillisig commented on #18
Yeah that brush is pretty simple and elegant. Good job @Xaviju !

[2015-06-10 10:59] elhombretecla commented on #18
The brush logo by @Xaviju its the best option in my opinion. I like it :)

[2015-06-10 11:57] jdittrich commented on #18
Visually, I like the brush logo too; its rather elegant; But: imho it communicates a Design-is (like)-Art message which I don’t find ideal.

[2015-06-10 11:58] plastelina commented on #18
It's a very good logo @Xaviju , but I'm not convinced - brush? It feels more like a painter then designer. This doesn't really send a message...but this is just my opinion. (agreed with @jdittrich comment)

[2015-06-10 12:11] simonv3 commented on #18
My thoughts on the brush: I haven't used a brush in my design work ever. But then, I'm also not a pure designer. I liked the pencil for that reason better - I sketch a lot.

I'd love to see some more iterations of it though @Xaviju. Maybe some color? I really like the bottom right of @una's color concepts.

[2015-06-10 12:16] jdittrich commented on #18
@una’s concepts: I like the middle-top one most: Few elements, incorporates both circle outlines in the pencil, works well in b/w or if blurred (though here the brush is better; might improve if the main circle and pencil have a darker color than light blue/bright yellow)

[2015-06-10 12:20] pfefferle commented on #18
Photoshop and other Apps still use the "brush" as a tool, so I think it is not that far away, from what we do nowadays.

[2015-06-10 12:34] jancborchardt commented on #18
As also said above regarding the pen or pencil: I don’t think a brush or these tools properly convey what design is about. Rather, they kinda discount it as »artsy«. So while it’s very simple and looks very good @Xaviju I’m not convinced we should use it.

[2015-06-10 12:40] gillisig commented on #18
Here is a simpler version of the pencil.
![osd](https://cloud.githubusercontent.com/assets/5390864/8082526/68a2839a-0f6d-11e5-8fb5-5277687724a2.png)

If you look closely it kinda looks like pacman eating one of those monsters. :smile:

[2015-06-10 12:42] MariekevC commented on #18
I liked the idea of @jdittrich where the logo is 'in the making', @Xaviju brush is strong, but I guess miss the 'code' or technical side of design.
All above examples gave this idea:
![osd_logo_openbrush](https://cloud.githubusercontent.com/assets/6065633/8082430/966327fc-0f7d-11e5-8883-75a0d9a480fb.png)

It seems I can't let go of the the open source logo, so I took @jdittrich idea of the unfinis

[2015-06-10 12:43] aoloe commented on #18
i love xaviju's logo, but there is an issue that bothers me, on that has been bothering me for a longer time for another logo: the scribus one

![scribus logo](https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Scribus_logo.svg/60px-Scribus_logo.svg.png)

and since the meaning of the proposed logos is questioned, as a non-designer, i dare to wonder why you are using tools for drawing on pap

[2015-06-10 12:47] plastelina commented on #18
hahahah, it does :) @gillisig!

I've got a question: why did we stuck on b&w version of logo only? Design is all about colour, balance, simplicity ( I like @una direction with colour). Maybe it would be worth considering (as someone mentioned before) the direction for logo as open source hardware has.

Also, FINALLY! bravo @aoloe . As a designer I do use biro for sketches ;), sometimes pencil to c

[2015-06-10 13:14] Xaviju commented on #18
Well, I don't think the pencil or the brush are trying to be 'real tools', but just social conventions. It fits well an 'open' circle + a social-convention-designer-tool to say 'Open Design'.
Is it Brush | pencil = design? Yes and no.

@gillisig :____)
@aoloe agree with that reflection, I'll think about it, but its hard to make that abstraction 'real'
@plastelina Love it, specially option 2. Still

[2015-06-10 13:30] jancborchardt commented on #18
@plastelina :D I just played around with a very similar concept:
![opensourcedesign-logo](https://cloud.githubusercontent.com/assets/925062/8083530/9297b0ae-0f85-11e5-8e96-9145c76a55b6.png)

[2015-06-10 13:31] jancborchardt commented on #18
That is – I think this refers more nicely to what design is about: Color, shape, layout. I’m also thinking of exploring the »sketching« idea of @jdittrich more.

[2015-06-10 13:41] plastelina commented on #18
LOVE IT! this is super cool.well done @Xaviju !!!
 Why are you guys so obsessed with pink and gradients ;), solid colours are easier to print on merchandise and look more professional, but on the other hand designers and developers of open source world are like http://1.bp.blogspot.com/-QBHor1ih_Bc/UcHiMyxmjfI/AAAAAAAAAEw/hSrU64vKNrk/s1600/cat-riding-a-fire-breathing-unicorn-16414-1680x1050.jpg :D

[2015-06-10 13:41] pfefferle commented on #18
@jancborchardt I agree, but the logo should still work in b/w to use it for example in an icon font...

[2015-06-10 13:45] jancborchardt commented on #18
Yeah I know, it should be simpler to work on an icon font and generally for monochrome. But that doesn’t mean we have to super-simplify the default logo. See Firefox for example, or Travis CI. We can always do a monochrome version of it, I just didn’t do it yet.

[2015-06-10 15:46] simonv3 commented on #18
Hey all!

Thanks so much for contributing all of your great thoughts, ideas, logos, sketches, etc. This is super awesome, and *exactly* what I hope for this community. It's great to see you all pitch in, and I'm super appreciative of all of the work you've been doing on this.

However, to prevent this from going on and on with new ideas and concepts, and never end up with a logo, I'm going to sugg

[2015-06-10 15:48] una commented on #18
Great point @simonv3 :) We can then have a simple vote after that date

[2015-06-10 16:15] plastelina commented on #18
fair enough @simonv3, I can outline a basic guideline for creating the logo this evening, i.e. purpose, colour, shape, etc. like this one http://www.smashingmagazine.com/2010/07/21/designing-style-guidelines-for-brands-and-websites/?

[2015-06-10 16:18] una commented on #18
stemming off @plastelina, I love her ideas with the RGB filters:

![od-ideas2](https://cloud.githubusercontent.com/assets/1693164/8087767/5fb96826-0f62-11e5-8976-15c449ce460c.png)

[2015-06-10 16:26] pfefferle commented on #18
@una @jancborchardt @plastelina I am not sure if it is a good idea to use the opensource logo in that way: http://opensource.org/logo-usage-guidelines

The pencil and brush are abstract enough I think...

[2015-06-10 16:27] una commented on #18
i'm not opposed to changing out the center icon at all

[2015-06-10 16:28] GarthDB commented on #18
Agreed.

[2015-06-10 17:20] plastelina commented on #18
@pfefferle aren't you missing the point? please see the example- http://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Open-source-hardware-logo.svg/2000px-Open-source-hardware-logo.svg.png I'm not saying - use open source logo and add things (read elements), use the concept - open door lock. We aren't trying to copy or change the open source logo, we are trying to come up with one that is in l

[2015-06-11 12:55] MariekevC commented on #18
@plastelina A basic guideline would be good :-)

Below I put some things down wich I am wondering about. Maybe they can be of use.

* 'Colours'. The website http://opensourcedesign.net is monochrome with a splash of blue (for links). Same for the mock-ups for development of this site.
  - A multi-coloured logo will centainly stand out. Is that favoured?
  - If multiple colours, then maybe they can

[2015-06-11 13:02] simonv3 commented on #18
@MariekevC Just want to add that the colors of the current site are up for grabs. The current site's design is not final, and that includes the color scheme. The wireframes I've posted are just that - wireframes, not visually finished renditions. They're black and white because the focus is on the structure, not the visual. I'm personally open for experimenting with color.

[2015-06-11 13:10] jancborchardt commented on #18
The site itself is basically style-wise only a wireframe. I’m cool with keeping that aesthetic though. The logo can be different.

Regarding text: Text should always only be optional of course, as in the _logo_ should not be a wordmark. But it’s also necessary that it looks good with »Open Source Design« added.

[2015-06-12 10:25] plastelina commented on #18
Sorry for disappearing (work deadlines).

( cc @jancborchardt @simonv3 @una @MariekevC @Xaviju @pfefferle @GarthDB @teufelabgott , sorry if I've missed someone)

Here is the link ( http://karolinaferenz.com/logo_guidelines.pdf) to the logo checklist that I use before starting any conversation with a client :) / here: contributors. Obviously half of this list doesn't even apply, but it might be a g

[2015-06-12 10:43] jancborchardt commented on #18
I don’t want to be a naysayer – but in general logo contests leave a very sour taste in my mouth. That’s not necessarily the ethic I think we should push.

Because logo contests like this are basically used to get a bunch of logos to chose from, quickly, for cheap. And the result is nearly always not good. Sure it’s open source where everyone can contribute, but within our Open Source Design movem

[2015-06-12 10:51] plastelina commented on #18
@jancborchardt ok, so what do you suggest to do?
I didn't have contest in my mind, from my perspective it looks like this is an echo chamber design. Would you mind explaining how do you want to uphold the values of good design without involving designers? (not attacking here, just asking). I believe there are a lot of good people out there who would love to get involved but don't know how and this

[2015-06-12 11:07] simonv3 commented on #18
I'm all for putting out the word out there, and behance is a pretty good place to talk to designers I hear.

I'll add a link to the website. If we want to go down the route doing this properly design wise with spec and features etc, which is probably smart, then maybe it makes sense to extend the deadline a bit?

[2015-06-16 01:36] mrondina commented on #18
As I've been thinking about the design of the Open Design Foundation logo, there is an opportunity to use the diversity of the design community (print, web, interactive, etc) to build a design system. There can, of course, be a standard default  logo. If the circular element of the logo is carried forward, we can open the "O" to be replaced using logo marks. This would enable the redesign of the l

[2015-06-16 13:40] jancborchardt commented on #18
@mrondina just as a sidenote: That can very easily be confused with »Pen Design« – especially since the logo in the first case is a pen. ;)

[2015-06-16 17:45] MariekevC commented on #18
@mrondina 's input is a very nice idea. The examples have an open friendly feeling.
Maybe go a bit more abstract on the sign (i.e. deconstruct the open source logo) and just add the text to it, like so:
![osd_logo_open](https://cloud.githubusercontent.com/assets/6065633/8189940/e289525a-145f-11e5-8436-09fbdf4a03c6.png)

[2015-06-16 22:02] bnvk commented on #18
Heya everyone. Sorry i've been absent,
Firstly, THANK YOU, all the ideas in this thread are awesome. Personally, my favorite is the color renderings @una did of @GarthDB treatment of @jdittrich "pencil" idea. It is absolutely wonderful, sharp, and vivid and something I think would really be great to use as is. I also really like the RGB "overlay" rendering @jancborchardt did.

@Xaviju could you po

[2015-06-16 22:04] GarthDB commented on #18
@bnvk what is the process for voting?

[2015-06-16 22:19] bnvk commented on #18
@GarthDB hehe, I'm not too sure. The simplest idea i'm thinking of are a survey monkey / google form with:

- Each distinct logo variation
- A rating of 1 - 10 on each option

This would yield a score of points that should give us some idea of what the community likes most / least.

There's also a little voting tool Mailpile made called HoiPoi for our community that allows an invited by email addr

[2015-06-16 22:39] simonv3 commented on #18
@bnvk @GarthDB and everyone else:

I've created an issue to discuss this specifically https://github.com/opensourcedesign/organization/issues/10.

[2015-06-17 06:14] Xaviju commented on #18
@bnvk sure, the brush logo SVG vector > https://www.dropbox.com/s/xapnj5yhaihtw2x/opendesign-sketch.png?dl=0 :tada:

[2015-06-17 23:43] jmarlena commented on #18
Here's an idea for feedback/input or to inspire other iterations that displays binary.

![opendesign_logo](https://cloud.githubusercontent.com/assets/6732600/8220924/77d5261a-150d-11e5-8e44-45d52540083e.png)
![opendesign_logo2](https://cloud.githubusercontent.com/assets/6732600/8221138/6f903cc2-150f-11e5-9482-98f36ec7dd9f.png)

[2015-06-17 23:44] GarthDB commented on #18
Just to help keep this tangled web we weave straight, it's Open Source Design.

Thanks for contributing @jmarlena

[2015-06-19 11:26] bnvk commented on #18
Here are my two tiny remixes from my favorite bits and pieces you fine folks created thus far

![bnvk-logo-1](https://cloud.githubusercontent.com/assets/48677/8252354/bc368d22-1674-11e5-805d-a33aebf3b76b.png)

Both renderings could be reduced down to the "pencil" and the "brush" as a monochrome logo, which so far are quite strong IMO!

[2015-06-19 16:15] una commented on #18
<3 that 2nd one @bnvk

[2015-06-19 17:32] jancborchardt commented on #18
The primary colors are a bit too garish, no? Here’s my remix with @Xaviju's brush icon:
![opensourcedesign-logo-brush-demo](https://cloud.githubusercontent.com/assets/925062/8259037/db224600-16b9-11e5-880c-fb505c3d07f3.png)
([Source SVG with all steps](https://cloud.jancborchardt.net/public.php?service=files&t=983283b5c6b6c1c12b5a34ebd10aa22b))

[2015-06-22 15:39] jdittrich commented on #18
@una since I liked your pencil-based logo ideas very much, I’d like to build upon them (if that’s o.k. with you). Could you share the source files?

[2015-06-22 16:11] una commented on #18
yep! here's a link: https://www.dropbox.com/s/q80b3vyb47u2kdi/opensrcdesign_02.svg?dl=0

For some reason I couldn't find the original file I was working on :( with all of the above logos. I will keep looking

[2015-06-22 16:12] GarthDB commented on #18
@jdittrich @una The building upon is my favorite part.

[2015-06-23 11:19] jdittrich commented on #18
I’d like to throw this one in:
![bildschirmfoto vom 2015-06-23 13 14 57](https://cloud.githubusercontent.com/assets/3416487/8304862/f59603da-19a9-11e5-8bcf-c4b332ebd324.png)
It is very much @una’s logo (1st row, 2nd column), except that the circle is darker (equivalent to the pencils tip; more contrast to be better visible). And since many designers still rely on pencils for various reasons I stil

[2015-06-23 19:47] MariekevC commented on #18
A couple of remixes to add.
![osd_logo_openkleur](https://cloud.githubusercontent.com/assets/6065633/8315122/9355d598-19ee-11e5-95be-6f0db40ff080.png)
![osd_logo_brushopen](https://cloud.githubusercontent.com/assets/6065633/8315125/9777550c-19ee-11e5-8363-f807e13ca3af.png)
The first one is the one I made earlier. Abstract detail of opensource logo and 'brush' but updated to sharper lines and a spl

[2015-06-23 20:08] MariekevC commented on #18
Maybe I should add this one also:
![osd_logo_opensourcedesign](https://cloud.githubusercontent.com/assets/6065633/8315530/bce08892-19f1-11e5-9326-1998f9ecfdd4.png)
Taking @jancborchardt logo apart to check the gradients, this happened. A bit quirky maybe, but the colors attract and then there are 2 opensource logo's (Design/Development), combined in the middle by a third one: "Bringing stuff toget

[2015-06-27 14:57] una commented on #18
This has all been some great collab -- When are we voting/deciding?

[2015-06-28 19:29] simonv3 commented on #18
I agree, this has been some awesome collab. Like I mentioned [earlier](https://github.com/opensourcedesign/opensourcedesign.github.io/issues/18#issuecomment-112594376), we've started discussing how we'll [reach decisions like this in another thread](https://github.com/opensourcedesign/organization/issues/10).

The last few comments in that thread seem to indicate we'll have a call to which everyon

[2015-07-05 17:42] Bojhan commented on #18
Just wondering from a branding standpoint. What do we want this logo to conceive? Is there a certain "feeling" we are aiming for?

[2015-07-06 03:23] GarthDB commented on #18
@bojhan what feelings do you think it should have?

[2015-07-09 01:23] simonv3 commented on #18
Just realized I hadn't posted this here yet, but every logo in this thread now automatically gets added to this page on the website: http://opensourcedesign.net/logos. I tried to do the best I could with sizing etc.

[2015-07-09 06:50] plastelina commented on #18
@simonv3 :+1: good stuff! :)

[2015-07-10 20:06] gillisig commented on #18
Well I decided to give it a go and made this soft cornered version of the open source icon.

<img width="236" alt="osd-logo" src="https://cloud.githubusercontent.com/assets/5390864/8628027/c12f80c4-273e-11e5-9818-ff7dc229b02f.png">

[2015-07-12 09:59] nicknikolov commented on #18
This is the best one I've seen yet @gillisig, good work!

[2015-07-14 14:31] jancborchardt commented on #18
@gillisig yeah … simple and it rocks!

[2015-07-14 14:37] una commented on #18
I like the typeface a lot on that last one by @gillisig :)

[2015-07-14 16:08] MariekevC commented on #18
@gillsig Yes, like the type face. The color does a neat trick to my eyes when scrolling (purplish outlines).
For the icon itself, the form, does this resemble a sausage (Wurst)? No ill meaning. It could be a hilarious side effect, if that is what we want.

[2015-07-21 08:25] Xaviju opened #23 "Activity feed comments"
In homepage, users writing 'clever comments' is a fabulous feature. However, I am not able to see the comment. It links to their user profile instead of the comment. Should we add the comment or, at least, the comment link?

[2015-07-21 08:48] jancborchardt commented on #23
Yeah, I’d say the action should be linked to provide context, rather than the person.

[2015-07-26 00:35] simonv3 commented on #23
The issue here was that there was some different nesting for each type of github "event" in the api, and figuring that out was a bit more work than was possible at the time. It shouldn't be hard to implement, you just have to figure out what the link structure is and do it :).

[2015-08-14 08:21] elioqoshi commented on #18
I love @Xaviju 's version. It's simple and elegant. I strongly believe we should go with that :)

[2015-08-14 08:48] jancborchardt commented on #18
I’m really particular about us not using the brush. It puts too much emphasis on »art«.

My favorites are:
* [the pen](https://github.com/opensourcedesign/opensourcedesign.github.io/issues/18#issuecomment-110488602) by @jdittrich, @GarthDB & @gillisig
* [the color spectrum](https://github.com/opensourcedesign/opensourcedesign.github.io/issues/18#issuecomment-110751788) by @plastelina & me
* not su

[2015-08-14 14:49] una commented on #18
Maybe we should set a deadline on making a decision? And give everybody 1-2 votes?

[2015-08-15 12:53] jancborchardt commented on #18
Well, we don’t need to find a perfect logo in the first iteration. It would be good if people interested/invested in this could just state what they lean to, as I did above. Then we can see maybe which direction we want to explore more.

[2015-08-21 20:17] elioqoshi commented on #18
The brush is not an icon which limits itself to art, I wouldn't see that as an argument to not use a brush in the logo. @jancborchardt

[2015-08-21 23:27] simonv3 commented on #18
Okay! I think it's past time to take a survey and see how people feel. Anyone have any tools they recommend?

[2015-08-22 06:05] plastelina commented on #18
I personaly feel that none of the logos is strong enough to represent open source design, can we just hold on with this one...promote fosdem more and maybe suggest logo competition at fosdem this year? I don't think there is a clear mission, message behind current designs...the fact that we are using art tools in a circle is quite qimmicky, literal and weak. Can we wait with the actual logo and ma

[2015-08-22 07:08] GarthDB commented on #18
Wouldn't iterative design be a great way to represent open source design? Pick a logo, and make improvements as we go. If we wait for the perfect logo we could be logoless for a long time.

What steps do you think we should take @plastelina to avoid a weak logo? We could still carry the conversation while preparing for Fosdem; what process would help us the best here?

[2015-08-22 08:44] nicknikolov commented on #18
One of the options in the vote could be "None of these are good enough"

[2015-08-22 08:57] plastelina commented on #18
I think we have amazing start already, there are a lot of great propositions @GarthDB . I'm not a logo designer, but there are great logo designer already in this group. As a designer I do struggle with a middle management problem and I think that is what we are hitting here - to much talking not much doing and mostly, diluting designs and leaving us all with too many choices. When I work with a c

[2015-08-22 16:32] GarthDB commented on #18
@plastelina I'm a big fan of having a creative director even if it's on a project by project basis. @una is an excellent choice if she has the time/energy.

The stuck in committee problem is solved by having an owner. That doesn't mean other people shouldn't provide input but ultimately someone has to make a decision; even if that decision is to vote (not my favorite decision strategy but better t

[2015-08-22 22:48] simonv3 commented on #18
Agreed with both @plastelina and @GarthDB.

Here's my answers to @plastelina's questions:

Open Source Design is a **community** of designers and developers who want to **push design** in Open Source further.

I'm not too fussed about this - but I do like the neat connection. On the other hand, I'm wary that we're being too liberal with the Open Source design logo - it has a variety of [restrictio

[2015-09-10 16:03] razetime opened #27 "Add Facebook page"
I think having a page on facebook would be useful to convey news about Open Source Design and help invite more people to Open Source Design.
What do all of you think?

[2015-09-10 18:53] simonv3 commented on #27
I'd be down with it. If anyone wants to take action on that they should go ahead.

You could link it to the articles page.

[2015-09-11 12:53] jancborchardt commented on #27
Yeah, we could handle that just like the [Open Source Design Twitter](https://twitter.com/opensrcdesign). As @simonv3 said: If you want to take action, just go ahead. :)

[2015-09-11 13:00] RaghuAllTheTime commented on #27
Ok then!

On Fri, Sep 11, 2015 at 6:23 PM, Jan-Christoph Borchardt <
notifications@github.com> wrote:

[2015-09-22 15:44] razetime commented on #18
How about we keep the logo simple?
Here's something I made:
![path4136](https://cloud.githubusercontent.com/assets/11015319/10023275/e01d366a-616e-11e5-8fd2-afd45a70519f.jpg)

[2015-09-24 08:15] una commented on #18
@razetime it seems a little dark :/ especially think about using it in various places

[2015-09-24 09:40] razetime commented on #18
@una Yes, it is rark, but we can lighten it for use in different areas.

[2015-09-24 13:52] bnvk commented on #18
@razetime it's so dark I can barely see the definition of the open source icon. I think the basic criteria we are aiming for are both:

1. Contrasted enough that it can be a single color on any color background + be discernible
2. Expressive of "open source" as well as something "design" related

Many of the treatments above (mine included) fail at the first criteria by themselves, since they are

[2015-09-25 18:51] simonv3 commented on #18
Hey all!

So, that's enough logo options I think. As a group of volunteers, I don't think anyone has a significant amount of time to take a lead on logo design, or taking the time to appoint someone to do so. After talking with some people on the [IRC channel](http://chat.opensourcedesign.net/) I put up a survey asking people to indicate their favorite logo.

## You can [take the survey here](http

[2015-09-25 18:51] #18 closed

[2015-10-06 23:32] simonv3 commented on #18
Hey all! Just a ping to all involved. I'll be closing the survey in 3 days (it will have been open for two weeks). Someone's reached out to offer to lead a real design charge on this (I'll be in touch). I'll publish the results and a link to the anonymized CSV file. Then I'll discuss with the person who stepped forward whether they'd be okay with using the winner as an interim logo.

If you want t

[2015-10-07 01:27] GarthDB commented on #18
@simonv3 that's great news.

[2015-10-11 01:33] jancborchardt commented on #18
@simonv3 good stuff! Unfortunately I was on vacation exactly those 2 weeks and missed the survey. But I guess enough people voted. :)

[2015-10-26 22:22] simonv3 opened #28 "Logo Survey Roundup"
The results from the survey are in!

**TL;DR** The new OSD Logo:
![Interim OSD Logo](http://i.imgur.com/AcpGJXc.png)

[osd-responses.csv](https://gist.github.com/simonv3/006ac966b38526364b82) (edited to remove identifying details)
## First Round:

| logo option | votes |
| --- | --- |
| 7 | 8 |
| 5 | 5 |
| 23 | 4 |
| 14 | 2 |
| 4 | 2 |
| 27 | 2 |
| None | 2 |
| 3 | 1 |
| 15 | 1 |
| 16 | 1 |
| 8 |

[2015-10-26 22:24] simonv3 commented on #18
@jancborchardt Bummer! Sorry to hear that. 28 people voted - which is a good amount, but I kind of wish it had been more. See results in #28.

[2015-10-26 22:38] gillisig commented on #28
Well I am happy with the result! Shall we add a color to it?

P.s. Lets get some stickers! :smile:

[2015-10-26 23:54] mrphs commented on #28
+1 stickers. I love this logo and would proudly wear it on my laptop(s) :)

[2015-10-27 06:07] GarthDB commented on #28
Congrats on getting a logo together.

![image](https://cloud.githubusercontent.com/assets/125516/10750703/bdd4f7a6-7c3e-11e5-8438-263ae4f49398.png)

[2015-10-27 06:29] razetime commented on #28
Yay! when's the logo gonna change?

[2015-10-27 06:49] plastelina commented on #28
Nice! Well done.
I'll chat in IRC in the afternoon. I've got sticker person ready and waiting to get this printed as well as some pencils, etc.

[2015-10-27 08:10] elioqoshi commented on #28
Well done! I suggest to keep the color flexible depending on the medium.

[2015-10-27 08:23] elhombretecla commented on #28
Great choice!!!

These stickers will be awesome :)

[2015-10-27 09:26] belenbarrospena commented on #28
we made it! We defeated the logo choosing curse ;)

I really like it, and can't wait for the stickers

[2015-10-27 09:38] Xaviju commented on #28
Hi!
We have been talking about this in the IRC channel and we decided to make small group (~4 people) to make a meeting to work on this logo to make a **branding** proposal next week (best practices guidelines, stickers...etc.) . So far 3 people joined this working group:

- @plastelina
- @elhombretecla
- @xaviju

To make it agile, we would not like to have more than 4 people but if someone really

[2015-10-27 11:06] jancborchardt commented on #28
Sounds like a group of 3 is perfect for that, and also enough. Any more will probably lead to conflicts of timing or opinion. ;)

[2015-10-27 11:34] plastelina commented on #28
Here is the link to trello board https://trello.com/opensourcedesignlogoguidelinesbranding
- we can start straight away (I've already started some bits and bobs)

Please add yourself and needed boards

@Xaviju - would you mind uploading svg /ai format to the board? we can play with colours and font there then follow up with results in github instead of email chains...

Does that sounds ok?

@Xavij

[2015-10-27 11:57] Xaviju commented on #28
Taiga project is public now: https://tree.taiga.io/project/xavierjulian-open-source-design-branding/

Ill create a task named logo version with the SVG to play with it
@plastelina @elhombretecla

[2015-10-27 20:52] ei8fdb commented on #28
Nice logo!

Could we get some stickers in time for Mozfest on 6th of November? We could hand some out to people there.

I can get some printed in London? I can bring any leftovers to FOSDEM.

Ideas?

------------
Bernard Tyers
E: ei8fdb@ei8fdb.org | T: @bernardtyers

Talk to me privately. My public key is here: https://keybase.io/ei8fdb

[2015-10-27 21:07] bnvk commented on #28
Great job everyone! Quite happy to have a proper logo reached
through a wonderful civil consensus :D

[2015-10-27 21:12] jancborchardt commented on #28
I'd say for the sticker a circle would look best, with white background and white border around like the typical ones from http://stickermule.com, what do you think?

[2015-10-27 21:24] elhombretecla commented on #28
Agree with Jan. Stickermule works really fine and 5x5 cm stickers made with new Logo + white border sounds good :)

[2015-10-27 21:37] simonv3 commented on #28
Woop - super happy about the reaction to this! Thanks for being so excited about all of this folks. :+1: for Stickermule for insta-logo stickers.

Also @GarthDB, I approve.

[2015-10-27 21:42] ei8fdb commented on #28
In terms of design (circle with white background, white border, 5cm x 5cm) it sounds good to me.

Stickermule is approx. £40 for 100. Zazzle.co.uk is £18 for 100 (3.8cm diameter).

I’ve had Zazzle stickers before and they’re fine. Is Stickermule “worth” the difference in cost?

Just wonderin…

Bernard
------------
Bernard Tyers
E: ei8fdb@ei8fdb.org | T: @bernardtyers

Talk to me privately. My publ

[2015-10-27 23:10] jancborchardt commented on #28
I’d also say that the 3.8 cm diameter from Zazzle is slightly better than the full 5cm. We don’t want to »make the logo bigger«, eh? ;D

[2015-10-27 23:16] ei8fdb commented on #28
Heh.

(Apologies for the ugly URL..it’s auto-generated)

Here is the shopping cart on Zazzle so you can see the details:

http://www.zazzle.co.uk/co/cartrc?kt=AQBlAAAAAQAAABTLc_6Q6sbp9O2lixV_affIFpGIhP_YS1eQ3FKGJo_0XX_bRzdl_4B7yxuK6QDUCLdstdmNDeKAK0Kivu_cqjVmukPVn8ELzEZwRf7eWzuIGRcRzrd_sjIYlfP00mCYeA2HENc5Wgw7Ui0aIWAvTPpJsoD6rA&CMPN=emc_en-gb_share_cart_button1&rf=238625503972086358

------------

[2015-10-27 23:20] ei8fdb commented on #28
Hmm, but looking at the quality comparison reviews between them it seems Stickermule provides much better quality.

Anyone have experience of both?

------------
Bernard Tyers
E: ei8fdb@ei8fdb.org | T: @bernardtyers

Talk to me privately. My public key is here: https://keybase.io/ei8fdb

[2015-10-28 07:22] plastelina commented on #28
Morning!

I do have experience with both companies, yes Stickermule is very good but it's being shipped from US and A and I don't think you will get it in time, the Zazzle is pricey and not good.

I've used Stickermule and printed.com, both are great.

https://www.printed.com/order-wizard/product-options/round-stickers
I've chose 25mm, one side, silver gloss, 170 gsm paper, 100 stickers and it's 1

[2015-10-28 07:36] Xaviju commented on #28
Here you have the default SVG if you want to print your own copy but we are working on it and there will be SVG versions for sticker soon.
SVG: https://media.taiga.io/attachments/f/9/2/5/04e97ac5b7d30e3af5cf5f9c02200937e4b7fed4a41a66d39b0ff4a86cb0/opensourcedesign.svg

[2015-10-28 11:44] jancborchardt commented on #28
@plastelina sounds good!

[2015-10-29 18:12] plastelina commented on #28
Bad news, spilled coffee on my laptop while working today. Waiting to get it fixed. Will be ready with all the guidelines, etc after weekend....so annoyed!
In the meantime...if you need stickers you can just use the svg file and upload it to the order.

[2015-10-29 20:16] ei8fdb commented on #28
Printed look a good price.

Is there any objection to me trying to use the current SVG and print a few hundred for Mozfest?

If anyone is going I’ll give you a bunch too :)

[2015-10-29 20:43] simonv3 commented on #28
I don't have any objections, I don't see why anyone would. Please go for it - let's advertise!

[2015-10-30 03:32] jancborchardt commented on #28
Yeah, just go for it! We can even try out different printers on our own and then compare which is the best one to use that for future stickers. Won’t be the last batch we print. ;)

[2015-10-31 13:11] ei8fdb commented on #28
OK, I’ll send off for a batch today.

[2015-11-01 20:00] simonv3 commented on #28
Hey @plastelina @Xaviju @elhombretecla will you let us know when it's okay to change our website logo and such?

[2015-11-02 07:45] plastelina commented on #28
Hi @simonv3, I guess you can update it now. There is no reason why not. My laptop is still in apple getting fixed so I can deliver all the document sometime this week...not sure when. So frustrating.

[2015-11-19 04:09] duythien commented on #23
@Xaviju I think it have completed at this PR https://github.com/opensourcedesign/opensourcedesign.github.io/pull/29

[2015-11-19 16:58] simonv3 commented on #23
Yep, this looks like it works on http://opensourcedesign.net/. Thanks @duythien :)

[2015-11-19 16:58] #23 closed

[2015-11-19 17:20] duythien commented on #23
Awesome :)

[2015-11-19 22:46] bnvk opened #31 "Add SSL/TLS support to website"
Because, security. Because, privacy are good things :smiley:

I've done this before using ~~CloudFlare~~ + Github page hosted sites. It's relatively easy and i'll look into doing it when I have a few free minutes!

Update: My thinking has changed a bit. **FUCK CLOUDFLARE**. Me (and every other Tor user) are suffering [death by a thousand CAPTCHA's](https://twitter.com/brennannovak/status/715255949

[2015-11-19 22:48] bnvk opened #32 "Update social media accounts with our awesome new logo"
Because, our logo :grinning:

[2015-11-19 22:58] simonv3 commented on #32
:+1: I have no idea who runs any of these. @jancborchardt?

[2015-11-20 13:56] razetime commented on #32
@bnvk Yes, our logo.

[2015-11-21 23:10] simonv3 commented on #31
Thanks @bnvk!

[2015-11-21 23:11] simonv3 commented on #27
@razetime Did you end up doing this? If so, could you add a link on the website?

[2015-11-22 06:34] GarthDB opened #36 "Missing plugin"
It looks like the notes plugin page is requiring a js file that doesn't exist.

[code]

[2015-11-22 06:35] GarthDB commented on #36
This is the only thing that is causing tests to fail currently.

[2015-11-22 06:39] razetime commented on #27
Here you go: https://www.facebook.com/opensrcdesign/

[2015-11-22 07:18] razetime commented on #36
@GarthDB Really, the files are there, but there is a wrong reference to the file, I guess.
![screen shot 2015-11-22 at 12 47 02 pm](https://cloud.githubusercontent.com/assets/11015319/11322532/4d3ff4d0-9117-11e5-9d71-78fc17c4e5a2.png)

[2015-11-22 07:21] GarthDB commented on #36
The notes file is there, that's where the reference to the missing file is, it's missing the marked.js file.

—
Sent from Mailbox

On Sun, Nov 22, 2015 at 12:18 AM, Raghu Ranganathan
<notifications@github.com> wrote:

[2015-11-22 07:22] razetime commented on #36
So, where did marked.js go?

&lt;notifications@github.com&gt; wrote:
The notes file is there, that's where the reference to the missing file is,
it's missing the marked.js file.

—
Sent from Mailbox

On Sun, Nov 22, 2015 at 12:18 AM, Raghu Ranganathan
&lt;notifications@github.com&gt; wrote:

&gt; @GarthDB Really, the files are there, but there is a wrong reference to
the file, I guess.
&gt; ![scre

[2015-11-22 07:23] GarthDB commented on #36
No idea, that's why I filed the issue instead of making a pull request with the fix. I don't know the story here and was hoping someone else did.
If it was deleted by accident let's get it back, or else we should delete `notes.html`

[2015-11-22 08:58] razetime commented on #32
facebook has our new logo. Who operates the others?

[2015-11-22 09:00] razetime commented on #17
So, is the front page layout set, or not?

[2015-11-22 09:06] evalica commented on #32
Status:
- [x] [Website](http://opensourcedesign.net/) —  [P#30](https://github.com/opensourcedesign/opensourcedesign.github.io/pull/30), [P#37](https://github.com/opensourcedesign/opensourcedesign.github.io/pull/37)
- [ ] [GitHub](https://github.com/opensourcedesign)
- [ ] [Twitter](https://twitter.com/opensrcdesign)
- [x] [Facebook](https://www.facebook.com/opensrcdesign/) — [I#27](https://github

[2015-11-22 09:22] evalica commented on #32
Also we need to have a way to know which person has the ownership to a particular service or create groups were multiple people can do this types of changes. Otherwise we cannot say those services are community handled.

[2015-11-22 09:46] duythien commented on #36
You can take look at https://github.com/opensourcedesign/opensourcedesign.github.io/tree/master/slideshows/free-and-usable#full-setup or just copy the folder markdown at https://github.com/hakimel/reveal.js/tree/master/plugin and done

[2015-11-22 11:47] razetime commented on #32
@bnvk? I guess we should go ahead and change the logo
![osd-logo](https://cloud.githubusercontent.com/assets/11015319/11323632/e23972b2-913c-11e5-99bc-b3f40e2b5468.png)
 on github.

[2015-11-22 12:11] bnvk commented on #32
@razetime juts did it!

[2015-11-22 14:04] bnvk commented on #17
I think moving to the layout @simonv3 showed in [his above comment](https://github.com/opensourcedesign/opensourcedesign.github.io/issues/17#issuecomment-107081461) would be a significant improvement over the current site

To that end, since none of us are working on this full time (in order to make maximum progress with minimum effort). Perhaps we should consider customizing / modifying something

[2015-11-22 15:52] simonv3 commented on #36
I think the notes here are just a remnant of pulling the non-compiled reveal.js files into the repo, something that *should* probably have been avoided.

@jancborchardt looks like you originally committed this, can you confirm?

Removing `notes.html` from the directory doesn't break the actual slideshow, so we can just remove it.

[2015-11-22 16:23] simonv3 commented on #32
Thanks @evalica for using the checklist methodology :+1:

[2015-11-22 16:32] #36 closed

[2015-11-22 16:36] bnvk opened #40 "Move to using git submodules"
Given the architecture of the OSD website and it's use of multiple repos (which I am partly to blame for), it might be fortuitous to move towards making many of the repos (jobs, events, organization, slideshows, etc...) submodules. This is the pattern we use at [Qubes OS](https://qubes-os.org) and can be seen via the [`.gitmodules` files](https://github.com/QubesOS/qubesos.github.io/blob/master/.g

[2015-11-22 17:03] GarthDB commented on #40
I hate submodules. I have been traumatized.

—
Sent from Mailbox

On Sun, Nov 22, 2015 at 9:36 AM, Brennan Novak <notifications@github.com>
wrote:

[2015-11-22 17:17] bnvk commented on #40
@GarthDB that's unfortunate. I'm sorry for your trauma. I've had 2/3 good experiences, but that 1 time...

[2015-11-22 17:18] GarthDB commented on #40
This one sums it up: https://codingkilledthecat.wordpress.com/2012/04/28/why-your-company-shouldnt-use-git-submodules/

—
Sent from Mailbox

On Sun, Nov 22, 2015 at 10:17 AM, Brennan Novak <notifications@github.com>
wrote:

[2015-11-23 13:15] jancborchardt commented on #40
We also use a submodule for 3rdparty libraries in ownCloud. Works quite well and it’s a good fit for our site architecture I think.

Btw @GarthDB you might want to get rid of that »Sent from Mailbox« signature. ;)

[2015-11-23 13:24] jancborchardt commented on #32
Updated the logo on Twitter: https://twitter.com/opensrcdesign

The logo posted above by @razetime wasn’t square, here’s the square version:
![opensourcedesign](https://cloud.githubusercontent.com/assets/925062/11337520/e7d26a2e-91ed-11e5-944d-313c2b655bab.png)

[2015-11-23 13:24] #32 closed

[2015-11-23 13:28] jancborchardt commented on #27
@razetime can you change the URL to the proper long form /opensourcedesign? It’s only opensrcdesign on Twitter because of the character limit.

[2015-11-23 15:51] simonv3 commented on #40
Is it possible to set this up without confusing non-terminal habitants?

Is there a way we could test this before committing to it?

[2015-11-23 15:53] GarthDB commented on #40
Nope, I love sending stuff from mailbox.

Why not do a single repo jekyll blog with multiple categories for posts. It would let you share stylesheets and assets easier, and would avoid the submodule complexity.

—
Sent from Mailbox

On Mon, Nov 23, 2015 at 8:51 AM, Simon <notifications@github.com> wrote:

[2015-11-23 17:17] GarthDB commented on #16
![no idea](http://www.reactiongifs.com/r/ihniwid.gif)

[2015-11-23 17:21] simonv3 commented on #16
*Design is Innovation*

[2015-11-23 17:23] GarthDB commented on #16
Design is problem solving.

![](https://media.giphy.com/media/Ra7IydVtYkxdm/giphy.gif)

[2015-11-23 17:31] duythien commented on #16
Nice issue:)

[2015-11-23 17:33] simonv3 commented on #16
621 mathematical incarcerations and counting https://twitter.com/cylonvalley

[2015-11-23 17:34] GarthDB commented on #16
Seems about right.
![image](https://cloud.githubusercontent.com/assets/125516/11344345/d1a29050-91cd-11e5-9160-6695240ac55c.png)

[2015-11-23 17:36] GarthDB commented on #16
BTW, this is how we should recruit more designers for open source stuff.

[2015-11-23 18:29] jancborchardt commented on #16
Of course we can explain it with high-level general words, but that will help little in making it more understandable.
From what we work on and what we did so far, we focus on interface/interaction design of software products. As an extension it is UX design (cause this term is used universally anyway these days) and branding as well.

What it’s not, at least at the moment
* hardware design (maybe

[2015-11-23 18:35] simonv3 commented on #16
Thanks for bringing it back on topic @jancborchardt. I think the confusion comes from open source developers who are are curious about the term design in that you could use it for database design etc.

Just saying user experience and interface design will clear that up probably.

[2015-11-23 18:45] jdittrich commented on #16
makes sense to me.

[2015-11-23 19:01] GarthDB commented on #16
For mobile, web, desktop? doesn't matter? Interactive?

[2015-11-23 19:20] jancborchardt commented on #16
Of software products for web, mobile and desktop, yes. And yeah, interaction design.

@simonv3 @jdittrich yup!

[2015-11-24 01:34] simonv3 commented on #17
I can do a PR for this for the front page, but changing all the styles and headers for all the other pages is going to be a bit of a pain.

[2015-11-24 15:48] bnvk commented on #40
Do you mean "do the various GUI Git clients support sub modules?" I don't know, I haven't used a GUI Git app in years.

I'm hesitant to agree with the alternatives that articles suggests- an unmaintained since 2012 repo, a bad URL...

The nice thing about Git submodules is **you don't to use it** you can just manually clone all the things yourself in their right place.

@GarthDB my reasoning for s

[2015-11-24 17:06] GarthDB commented on #40
The last reasons make sense, but Jekyll with separate categories could easily do different layouts, or no layouts at all. In fact you can default to a certain layout based on a the directory it is in.

Also using GitHub as a mailing list isn't always ideal; the signal to noise ratio can get rough as we get off topic. It would probably be best to add feeds to things people can subscribe to if they

[2015-11-25 00:12] simonv3 commented on #28
@Xaviju, could you post an svg version of the logo?

[2015-11-25 00:27] Xaviju commented on #28
@simonv3 Sure, here -> https://www.dropbox.com/s/19pv1vsg2boa92s/opensourcedesign.svg?dl=0

[2015-11-25 00:28] simonv3 commented on #28
Great, thanks, and thanks for the quick reply. I'll commit it to the repo with the work I'm doing right now :)

[2015-11-25 08:09] jancborchardt commented on #40
Regarding the current architecture of the site, git submodules would just be an upgrade/simplification of the process. Whereas you now have to clone everything manually (as you could still do, like Brennan mentioned above), it would change to one command. So it's not really that big of a change, simply an adjustment.

[2015-11-25 19:35] #17 closed

[2015-11-25 19:54] thinkxl commented on #40
IMO, it may be simplification for developers, but all the opposite for designers (that are not experienced in git, GitHub, CLI, etc.)

[2015-11-26 15:12] simonv3 opened #45 "Fix titles on sub pages (articles, events)"
Title just shows Open Source Design. It should probably show the name of the article or event being viewed as well.

[2015-11-27 08:10] jancborchardt commented on #45
Yup separated by an en dash:

[2015-12-07 11:42] razetime opened #47 "Lack of Padding on job pages"
![screen shot 2015-12-03 at 3 14 39 pm](https://cloud.githubusercontent.com/assets/11015319/11626035/83b4b2f4-9d05-11e5-91f4-a51adc597e9e.png)
The padding and margins on our articles is well, absent, and I think we need to fix that up.

[2015-12-07 12:30] jancborchardt commented on #47
cc @simonv3 any idea?

[2015-12-07 16:47] simonv3 commented on #47
Yep, the changes that were made in events and the normal site still need to be pulled in to the jobs pages site. This is a reason for #40.

If I get a chance today I can do it, it should be really quick.

[2015-12-07 22:23] #47 closed

[2016-01-20 19:42] simonv3 opened #50 "Add link to "Join our Group on GitHub" issue in organization"
Link is here: https://github.com/opensourcedesign/organization/issues/29

[2016-01-25 10:20] digitigrafo opened #51 "Event list and job list not appear in homepage- Firefox43 and Chrome48 runs on OSX 10.11.1"
![schermata 2016-01-25 alle 11 15 41](https://cloud.githubusercontent.com/assets/11573104/12548202/0c09804c-c355-11e5-8df1-a7e500d1ac26.png)
Also in Chrome 48, the same thing.

[2016-01-25 17:27] simonv3 commented on #51
They don't appear anywhere, they're not really implemented properly yet...

Happy to accept PRs fixing this though!

[2016-01-26 14:39] jancborchardt commented on #51
Yup, same here, was contacted on IRC already by a person who noted there are no future events.

We did show them in the past though, no? How was it broken and how can we fix it? cc @gillisig @bnvk

[2016-01-26 14:40] jancborchardt commented on #51
If it’s more work then we should put a link to the Events / Jobs pages at least. Or is it a quick fix?

[2016-01-26 15:26] bnvk commented on #51
I think there is a few ways to go about this- one would be with JS + ajax calls, the other would be using Jekyll and pull in the sub-repo data!

There are links at the top of the page. But adding a button to the bottom like "See all events" makes sense!

[2016-01-26 16:45] simonv3 commented on #51
It really shouldn't be too much work, and we never had an "events" or a "jobs" feed on the front page.

I half-assed implemented something but just hadn't had time to look at it again.

[2016-01-30 18:56] dominicrico commented on #51
Fixed with #52
Filled in six events and jobs instead of the whole list, because they could be really long over time. Maybe a pagination or something else would be nice.

[2016-01-30 19:25] simonv3 commented on #51
This is great. Thanks @dominicrico.

Live on the site now :) [opensourcedesign.net](http://opensourcedesign.net)

[2016-01-30 19:29] dominicrico commented on #51
Glad to see it live that quick! Will do more soon!

[2016-01-30 22:18] dominicrico commented on #31
What about using [letsencrypt.org](https://letsencrypt.org/)? It’s free, open and would fit the open source thinking :P

[2016-01-30 23:23] simonv3 commented on #31
@dominicrico Does that work when hosting on GitHub?

[2016-01-30 23:31] dominicrico commented on #31
That's a pretty good question... Haven't check that, but they are really flexible. Will check it asap and write a comment.

[2016-01-31 10:47] bnvk commented on #51
@dominicrico awesomely done! Thanks so much for contributing :+1:

[2016-01-31 12:45] dominicrico commented on #31
Ok, have checked it and think that the cloudflare solution would be the best and easiest way to do this.

[2016-01-31 16:38] #51 closed

[2016-02-02 17:31] bnvk commented on #45
This is still an issue, it seems like it should be addressed in #49 but I don't think it is @balyasnikovk wanna take a stab at this in your pull req as well since it's very similar part of the site's code?

[2016-03-21 13:27] sudheesh001 commented on #31
I think Kloudsec is by far the easiest, it provides `https://` for github pages. @nubela introduced me to the tool https://kloudsec.com/github-pages/new that he created and it works perfectly, why not give this a try ?

[2016-03-21 13:45] sudheesh001 opened #56 "Have a gitter chatroom for discussions"

[2016-03-21 19:26] simonv3 commented on #56
Hey @sudheesh001, we have an IRC chat room that is pretty active. It's #opensourcedesign on freenode. chat.opensourcedesign.net redirects there.

Here's the link: https://webchat.freenode.net/?channels=opensourcedesign

[2016-03-22 02:58] sudheesh001 commented on #56
The problems with IRC is that in university campus the IRC services are blocked due to the proxy environment and for apparent "safety reasons" when we questioned the administration.

In such a case let us not kill the IRC channel but why not have a gitter room too and bridge the IRC to it ? There is a gitter irc bridge which connects the IRC channel to a gitter chat room. Messages sent in this als

[2016-03-22 16:25] simonv3 commented on #56
@sudheesh001 By all means take the steps to set that up :) It's pretty loose organization wise around here, so if you think it'd be a good thing to do, and if you can get it mirrored to IRC, I think that'd be great!

[2016-04-01 12:41] razetime commented on #31
@sudheesh001 Sounds really nice, but the CloudFlare solution is easier and relatively more well known.
Any more thoughts on this?

[2016-04-04 23:14] simonv3 commented on #31
I have no preference on or the other.

[2016-04-06 13:36] bnvk commented on #31
Actually, I've considerably changed my opinion on using CloudFlare (see original comment). Let's try kloudsec :+1:

[2016-04-06 22:00] simonv3 commented on #31
Heh. Anyone want to take the lead on setting that up? @razetime @sudheesh001?

[2016-04-06 23:13] enoch85 commented on #31
Here is a script that I use to set up Let's Encrypt: https://github.com/enoch85/ownCloud-VM/blob/master/lets-encrypt/activate-ssl.sh

[2016-04-07 21:40] simonv3 commented on #31
Hey @enoch85 can you please clarify - does that script enable using let's encrypt for a GitHub hosted site?

[2016-04-07 21:42] enoch85 commented on #31
@simonv3 As I wrote, "(Adapted for ownCloud)", so - no, not a GitHub hosted site. But it could be a source of inspiration for making a script that does :)

[2016-04-07 22:02] simonv3 commented on #31
@enoch85 It's presumably meant to be run on the servers for which you're enabling SSL right? Or at least having access to them? If that's the case, I'm not sure GitHub grant us that access! If not, I'd love to hear how :)

[2016-04-07 22:05] enoch85 commented on #31
@simonv3 Aah, so this repo is about a Github hosted site? Never understood why I was added. I'm a member of the ownCloud design team, and I also host VMs on my site: [Tech and Me](https://www.techandme.se/pre-configured-owncloud-installaton/).

The script I linked is a part of the installation where the user gets a real SSL cert via Let's Encrypt on his/her server.

Isn't SSL included on GitHub ho

[2016-04-07 22:11] simonv3 commented on #31
You probably are just "watching" the repo automatically if you're a member of the opensourcedesign team.

You and me both! I actually haven't investigated this, and it's entirely possible that this is an option?

[2016-04-07 22:50] enoch85 commented on #31
@simonv3 Please update us if you find anything. :)

[2016-04-08 04:37] sudheesh001 opened #59 "Breaking formatting on about and code-of-conduct pages"
It currently looks like this and doesn't follow the overall theme the website uses.
<img width="1440" alt="screen shot 2016-04-08 at 10 01 04 am" src="https://cloud.githubusercontent.com/assets/4545925/14374244/45e8aea4-fd71-11e5-9da1-0ce527cb723a.png">
<img width="1440" alt="screen shot 2016-04-08 at 10 00 53 am" src="https://cloud.githubusercontent.com/assets/4545925/14374249/512f84e0-fd71-11e5-

[2016-04-08 04:59] sudheesh001 commented on #31
I think Kloudsec is by far the best solution and we should go ahead with that. I'd love to help moving it to https:// but that'd need access to the domain credentials so that the DNS can be changed from github to kloudsec :smile:

[2016-04-08 05:29] sudheesh001 commented on #56
@simonv3 There's a 2 way bridge that's set up between IRC and Gitter but it looks like the gitter channel is flooded with my profile though it's multiple users posting because of an exisitng gitter issue
https://github.com/gitterHQ/gitter/issues/1076

I've spoken to the teams at sameroom and they've offered to provide us an unlimited 2 way IRC-Gitter bridge using their servers.

[2016-04-08 05:55] daminisatya commented on #59
#60

[2016-04-08 06:24] #59 closed

[2016-09-13 12:37] pdurbin commented on #56
@sudheesh001 thanks for setting up the bridge between IRC and Gitter but rather than using your personal account (sudheesh001), would you be able to change it to be an account that isn't tied to an individual and that indicates its purpose such as "gitterbot-osd" or something? Right now it looks your person account is talking (rather than [GarthDB](https://botbot.me/freenode/opensourcedesign/msg/7

[2016-09-14 03:47] sudheesh001 commented on #56
@pdurbin Let me have a look at that, the sameroom functionality was blocked because it looks like gitter isn't fixing https://github.com/gitterHQ/gitter/issues/1076 , let me try with the sameroom team again.

[2016-10-24 14:30] raghunayyar opened #61 "Have a link to the actual website in Open Source jobs"
Currently, the title refreshes to the same page. There should be a link to the open source project which is posting a job. @opensourcedesign/people

[2016-10-24 14:58] equinusocio commented on #61
What title do you mean?

[2016-10-24 15:08] equinusocio commented on #61
When publishers post a new job, the file must contain `org_url: http://...` inside the `front_matter`.
If not present, it creates an anchor

[2016-11-01 16:05] bnvk opened #62 "Merge foss-contributors-checklist repo into this one"
So... I was a bit too "repo happy" early on, thus I think merging things where appropriate would be a good idea at this stage of our growth.

I opened [an issue in Organization](/opensourcedesign/organization/issues/42) about combing appropriate repos into that one, which I believe should stay separate for now!

However, upon reviewing, I think the following can (and should be) merged to this repo

[2016-11-01 17:14] simonv3 commented on #62
👍 . yes because it's a website.

[2016-11-02 19:06] bnvk opened #63 "Create "Timeline" of notable milestones"
See most recent comment:
https://github.com/opensourcedesign/opensourcedesign.github.io/issues/63#issuecomment-3533151696

---

It would be nice to have a timeline that lists notable milestones in the history and growth of OSD. I'd see this existing on the `/about` page or such and containing items like:

- :clock10: One thousandth designer added to organization, June 2017... hope :smile:
- :singa

[2016-11-14 03:37] RichardLitt commented on #31
After researching it a bit, I am trying to use [netlify](https://www.netlify.com). Happy to let you know how this works out for me, and might be another alternative.

Progress on this issue seems to have stalled. Any updates? Are we waiting for consensus?

[2016-11-14 06:04] simonv3 commented on #31
Waiting for someone to take action I think!

[2016-11-14 07:10] RichardLitt commented on #31
Ok. I have now switched to Netlify - this was a mostly painless experience, and I am happy with the result. I keep hosting on GitHub pages, but just changed the DNS records and enabled it on netlify.

I wrote up a more comprehensive notes [here](https://github.com/RichardLitt/knowledge/blob/master/ssl-security.md). Happy to help whoever controls the DNS records for opensourcedesign with the transf

[2016-11-15 07:11] simonv3 commented on #31
I think that's @jancborchardt? Or maybe @bnvk?

[2016-11-18 00:45] jancborchardt commented on #31
It’s me. :) The domain is registered at https://gandi.net and I could simply obtain an SSL certificate there I guess. That seems simpler than using yet another third party service.

[2016-11-18 02:12] RichardLitt commented on #31
@jancborchardt That should work. :)

[2016-12-12 10:41] ei8fdb commented on #63
I think [the answers to the OpenCollective interview questions ](https://docs.google.com/document/d/1LNrkXNKH-KBFsz9zxn-4DBFS_q25luApbPOdu7XBo7Q/edit)could provide useful milestone events also.

[2016-12-12 14:10] bnvk commented on #63
That's a great idea @ei8fdb and a great collection of our milestones- exactly the sort of thing I was hoping for. I just added my earliest recollection of OSD :smile:

[2016-12-12 14:13] LibreAnne opened #66 "Making more clear how to contribute"
Hi open source design. I am new to your community. I want to help in small ways but an unsure of best way. I looked at the contributing file but seems not yet done. I know got and github a little but dont know how you suggest developing your site with all the different repos

[2016-12-12 15:13] simonv3 commented on #66
Yes! We definitely are looking at fixing that @LibreAnne. What kind of contributions would you like to make?

[2016-12-12 15:14] simonv3 commented on #63
Nice, yeah. I don't know exactly what the opencollective crew plans, but like I said in a comment there I think we should definitely copy those q&a across to our repos.

[2016-12-12 15:21] bnvk commented on #66
Ah. That is a file I started creating and did not finish, apologies :stuck_out_tongue_closed_eyes:  I started writing these [command line scripts](https://github.com/opensourcedesign/opensourcedesign.github.io/tree/master/scripts) to make it easier to clone / update the only repos used for the public website. However, those scripts do take into account a user needing (or having already) forked all

[2016-12-12 19:15] evalica commented on #66
Hi @LibreAnne . There are various ways to contribute, depends on what you want to do. You can:
- make PRs for the website or other repos,
- you can give feedback to the various issues we have open,
- you can try to design something from our job board,
- you can just come and chat on IRC,
- you can help us define what this new contributors list should contain :)
- etc.
We are still trying to figure

[2016-12-28 15:21] RichardLitt opened #67 "Resources link or page broken"
The README for opensourcedesign/resources points to http://opensourcedesign.net/resources/, which is broken. Where should it point?

[2016-12-29 01:43] simonv3 commented on #67
Fixed, though the website looks like shit.

[2016-12-29 14:41] RichardLitt commented on #67
I'm not sure it's fixed. The link points to the same place, but now I see a webpage with a circular link:

[code]

I'd help, but I'm not sure where it should point or how your system works.

[2016-12-29 14:56] simonv3 commented on #67
It's a GitHub pages site based on this repo. It's just showing the README.md page: https://github.com/opensourcedesign/resources/blob/master/README.md

[2016-12-29 15:04] RichardLitt commented on #67
Shouldn't resources show the Resources page?

Maybe we could move the resources page contents to the README?

[2016-12-30 00:51] simonv3 commented on #67
I just kind of assumed it would show index.md first, but I guess not! If there's no way to redirect GitHub pages to show index.md or resources.md as the main page than yeah, why don't we copy the readme.md over. Is that something you want to do @RichardLitt?

[2016-12-30 02:46] simonv3 commented on #67
Awesome! Thanks for doing that. That content now made it across to /resources/. I reckon we'll have to do some proper jekyll magic (copying styles and the static site) to make it fit the style guide, but that can be a different issue.

I just realized that I have spent hours in the past looking for this information across the repos and couldn't find it. Thanks for bringing this together @RichardLi

[2016-12-30 02:46] #67 closed

[2017-01-06 12:08] bnvk opened #69 "Make usage of Repos & Issues more clear"
As per @libreanne comment in #66 and @evalica bringing up fixing the Job Board board in opensourcedesign/jobs#91

I think we should *only* use this repo for site design, UI / UX improvements. Whereas the more specific repo's (jobs, events, etc...) should be used in a more task + discussion focused way (e.g. feedback about design jobs like opensourcedesign/jobs#116 as this approach has these advant

[2017-01-06 12:17] bnvk opened #70 "Add filtering to Job Board"
As per @evalica comment in opensourcedesign/jobs#91 she asks:

Yes. These are the two most needed ones. As [I suggested](https://github.com/opensourcedesign/jobs/issues/91#issuecomment-261949075), here

**Status**

[code]

**Specialization**

[code]

**Payment**

[code]

One we agree those are the default "allowed" entries for those fields, @evalica if you want to go through and standardize the it

[2017-01-06 12:28] bnvk commented on #69
Also, using **this** repo's issue tracker, when it comes to design / site improvements to a given repo, I advocate that we use labels for each repo + skill based label, such as this

![osd-issues-labels](https://cloud.githubusercontent.com/assets/48677/21717874/0f373928-d414-11e6-88f9-803aece6c60e.png)

[2017-01-06 14:31] evalica commented on #69
I think this is something we need to agree on and document it (as you said put in README - although it should be intuitive :) and not really needing some documentation - easier to say than do).

Also the labels could be documented (for example I'm not sure what "docs" and "core" means), but that's another story.

Now, for your question and regarding the [JOBS](https://github.com/opensourcedesign/j

[2017-01-06 14:58] evalica commented on #70
hi @bnvk what a nice idea :) can we move it to the JOBS repo? :) anyway, until we figure that out, some mentions:
## Status
We are using in code and in the template the term "searching" instead of "open". It's true that the label can be different than the id, but we should try to stay consistent for the people that will do a manual PR.
Currently, the status value for our 56 entries is:
<img width=

[2017-01-06 14:59] evalica commented on #70
Related issue: https://github.com/opensourcedesign/jobs/issues/128

[2017-01-06 15:22] evalica commented on #70
Current Status values:
<img width="350" alt="status2" src="https://cloud.githubusercontent.com/assets/629552/21722056/aac5e2a8-d433-11e6-8606-e05f79e398cc.png">
* closed - 4
* proposed - 1
* resolved - 2
* solved - 3

Since the status is something that it's hard to change (since it's need a PR for it) we should limit the states (not having "started", "rejected", etc.)

The main objective is to kno

[2017-01-06 17:08] evalica commented on #70
Relevant only if we were to do some time filtering:
- 2015: 28 posts created
- 2016: 27 posts created
- 2017: 1 post created until now

Monthly distribution:
<img width="400" alt="screen shot 2017-01-06 at 19 04 25" src="https://cloud.githubusercontent.com/assets/629552/21725979/58c35c6e-d443-11e6-93b0-0ad05d54994e.png">

[2017-01-06 18:14] evalica commented on #70
Regarding "Payment", it's not "compensation" or "payment". We used "rate" until now. Let me fix this.

[2017-01-06 19:24] evalica commented on #70
## Rate

Current Rate values:
<img width="598" alt="rate" src="https://cloud.githubusercontent.com/assets/629552/21729447/cef85c9e-d453-11e6-9713-525aa39f11da.png">

Until now there are only 3 posts that provided some numerical values, and only 1 can be filtered, so the intervals don't make sense.

Since the template was free text, there are additional information in the rate field that will need

[2017-01-06 21:38] evalica commented on #70
The original roles:

![role-original](https://cloud.githubusercontent.com/assets/629552/21733662/5c2ca2a0-d468-11e6-9c42-d185561780fd.png)
<img width="352" alt="multiple-roles" src="https://cloud.githubusercontent.com/assets/629552/21733679/6c40cfcc-d468-11e6-84ba-654b10017689.png">

21,4% entries provide more than 1 role [(0,1,2,3)Roles - (2,44,7,3)]. So we might need to consider allowing selecti

[2017-01-07 15:05] simonv3 commented on #70
(<3 these graphs, will read and contribute later)

[2017-01-09 01:44] simonv3 commented on #70
I want to add that the new job form doesn't even ask for roles. Should we include those again? It might be an idea to have a form giving the top five, and then a "show more" option that lists more niche things. I see no issue with letting people filter by all of them.

How do you all see this being implemented? We can't do back-end filtering.

[2017-01-09 07:42] evalica commented on #70
About the role in the new form: it is asked somehow in the "Job Title" section. We would need to ask it separate (as we did until now) and display it. Related issue is https://github.com/opensourcedesign/jobs/issues/132

Regarding implementation, I don't know. An idea would be to add some classes in the layout displayed if some criteria are met (like 'job-gratis', 'job-searching', 'job-logo', etc.

[2017-01-10 18:47] simonv3 commented on #70
@jdittrich proposed we use the GitHub kanban board style for job listings. This would involve switching to tracking jobs through issues rather than through PRs.

This would involve moving the current jobs to the issues?

[2017-01-11 12:54] evalica commented on #70
Not necessarily moving to issues, since we still need them for the website. But when creating a job post, we should also make sure it has an issue assign to it.

[2017-01-14 14:39] bnvk opened #71 "Error on submitting jobs"
This was reported on IRC by @Xaviju who experienced an issue upon using the [nice submission form](http://opensourcedesign.net/opensrcdesignjobs/)

[code]

[2017-01-14 15:05] bnvk opened #72 "Move "opensrcdesignjobs" form into Site or Jobs repo"
For (code) organizational purposes, we should move the code in [this repo](/opensourcedesign/opensrcdesignjobs) into either this repo or the [jobs](/opensourcedesign/jobs) repo.

[2017-01-14 16:22] bnvk commented on #70
@simonv3 are interpreting this as "away from markdown files"? If so, that is not
what I was I meaning.

Bingo @evalicia. Yes, as @simonv3 suggested in opensourcedesign/organization#47
this bit could (should) be automated.

[2017-01-14 21:44] pdurbin commented on #71
Yes, he mentioned the trouble at https://botbot.me/freenode/opensourcedesign/msg/79358252/

I believe the code for the form is in this repo: https://github.com/opensourcedesign/opensrcdesignjobs

[2017-01-14 22:48] simonv3 commented on #71
Didn't mean to close this via that commit, but can someone test?

[2017-01-14 22:52] simonv3 commented on #72
Yep! Should be fairly easy to do. You'd just have to move the index.html here and call it jobs-form.html or something. The staticman.yml file in that repo is actually redundant. The one in this repo gets used.

[2017-01-23 14:50] george2seven commented on #71
Hello, I am having the same issue with a somewhat different error message returned:

[{"code":"INVALID_FIELDS","data":["rate"]}]

Thanks

[2017-01-23 16:13] simonv3 commented on #71
@george2seven. Thanks for reporting it! Can you try now?

[2017-01-23 19:06] george2seven commented on #71
@simonv3 Fixed. Thanks!

[2017-01-23 19:52] #71 closed

[2017-01-24 12:50] jancborchardt opened #73 "Add Open Collective donors & call to donate to website (and maybe Github)"
We could have a nice list of the supporters on the frontpage by using this website banner:
https://github.com/OpenCollective/OpenCollective/wiki/Website-banner

Similarly also with the Github banner, but not sure which repo we should add it to (I guess /organization?)
https://github.com/OpenCollective/OpenCollective/wiki/Github-banner

[2017-01-29 11:24] Shruti9520 commented on #50
@simonv3 Where do we need to add this link?

[2017-01-29 11:53] Shruti9520 opened #74 "Issue regarding footer"
The font-size of "Chat With Us" and "Code of Conduct" doesn't match with "opensourcedesign" and "opensrcdesign" in the footer.
Also, the icon is not displayed along with "Chat With Us" and "Code of Conduct".

[2017-01-29 21:09] simonv3 commented on #50
How about right underneath "read more about our goals".

@Shruti9520 do you think there's a good place for it that I might be missing?

[2017-01-31 17:31] Shruti9520 commented on #50
@simonv3 That would be great.
 Can I fix it?

[2017-01-31 17:51] simonv3 commented on #50
@Shruti9520 Please do!

[2017-01-31 18:38] Shruti9520 commented on #50
@simonv3 The two paragraphs above it is also not aligned properly. Can I fix them too?

[2017-01-31 19:33] simonv3 commented on #50
@Shruti9520 no need to ask for my permission if you see something broken :)

[2017-01-31 19:33] simonv3 commented on #50
Or for anything really.

[2017-02-01 17:00] Shruti9520 commented on #50
@simonv3 PR#75

[2017-02-01 17:02] Shruti9520 commented on #50
@simonv3 Here is the screenshot--( aligned paragraph and added link)
![open1](https://cloud.githubusercontent.com/assets/20228417/22517170/4a1609ce-e8ce-11e6-8918-d3932e88e5f0.png)

[2017-02-01 17:03] Shruti9520 commented on #50
@simonv3 Here is the screenshot--(updated footer)
![open2](https://cloud.githubusercontent.com/assets/20228417/22517205/65542ec8-e8ce-11e6-937e-208403f59c5a.png)

[2017-02-03 20:42] simonv3 commented on #50
@Shruti9520 looks great! Can you capitalize GitHub so that it's in line with their brand? The H is a capital.

[2017-02-04 04:40] Shruti9520 commented on #50
@simonv3 Sure :)

[2017-02-04 04:45] Shruti9520 commented on #50
@simonv3  PR#76

[2017-02-05 18:49] simonv3 commented on #50
Awesome. Merged!

[2017-02-11 18:08] simonv3 commented on #72
This is done by the way, that repo can be closed.

[2017-02-11 18:08] #72 closed

[2017-02-25 19:47] bnvk commented on #70
Here are some really nice renderings that the uber talented [Mike Finch](https://mkfnch.com) made for [OpenDesign.io](http://opendesign.io) site / project that he is involved with that looks almost EXACTLY what I've always had in mind for the OSD job board + people tags

![dev-1 2x-1-1024x569](https://cloud.githubusercontent.com/assets/48677/23334264/675744d2-fb9b-11e6-9cf8-b13b5a9cb1a9.png)
![dev

[2017-03-08 14:07] RichardLitt commented on #31
@jancborchardt Can I help you obtain an SSL certificate?

[2017-03-08 14:13] RichardLitt commented on #9
I believe this has been done.

<img width="487" alt="screen shot 2017-03-08 at 9 13 13 am" src="https://cloud.githubusercontent.com/assets/910753/23707199/780b8b84-03df-11e7-8040-25fd15cd4659.png">

[2017-03-08 14:13] #9 closed

[2017-03-08 14:13] RichardLitt commented on #14
@simonv3 Can this be closed?

[2017-03-08 14:16] RichardLitt commented on #61
I believe this can be closed. @raghunayyar can you replicate?

[2017-03-08 14:19] RichardLitt commented on #74
If you inspect, they are the same size - what looks different is that the first two don't have any capital letters, and only one ascender (the `d`). The same CSS applies to both, I believe.

<img width="657" alt="screen shot 2017-03-08 at 9 19 32 am" src="https://cloud.githubusercontent.com/assets/910753/23707436/5bf64546-03e0-11e7-86a7-3e1c34ea75a6.png">

I am not able to replicate. What do you m

[2017-03-08 14:52] Shruti9520 commented on #74
@RichardLitt This is already solved in this PR- https://github.com/opensourcedesign/opensourcedesign.github.io/pull/76

I am sorry for not closing this Issue.
Cheers :)

[2017-03-08 14:53] #74 closed

[2017-03-08 15:00] RichardLitt commented on #5
I believe this can be closed. We're using FA on the site, currently. Reopen if I am mistaken.

[2017-03-08 15:00] #5 closed

[2017-03-08 15:01] RichardLitt commented on #74
No worries. Thanks!

[2017-03-08 15:46] elioqoshi commented on #31
Let's expense that through Open Collective @jancborchardt

[2017-03-08 15:49] RichardLitt commented on #31
Netlify is free. Might be easier to do?

[2017-03-08 18:19] simonv3 commented on #31
+1 for netlify. I wonder if we can build the site in the same way we do on GitHub (w/ nested repositories and such) on netlify as here.

[2017-03-08 18:33] simonv3 commented on #61
Yeah this was fixed a while ago.

[2017-03-08 18:33] #61 closed

[2017-03-08 18:34] simonv3 commented on #14
Considering this pirate pad is empty, I guess so!

[2017-03-08 18:34] #14 closed

[2017-03-09 01:25] RichardLitt commented on #31
Hard to test for the submodules routing properly using the config, but it sure looks like it builds.

Main: http://burser-mousedeer-10756.netlify.com/
Jobs page: http://treasurer-cruiser-16614.netlify.com/

I think it should work if you add in the URL to Netlify.

[2017-03-09 01:37] RichardLitt commented on #31
I have https://58liters.com running the main site (as a test ground, using a domain I have but haven't been using). I will keep you updated about getting the jobs submodule working on this. Currently not sure how to do that.

[2017-03-09 17:17] simonv3 commented on #31
Thanks @RichardLitt!

[2017-03-10 20:33] RichardLitt commented on #31
Would that work for us?

[2017-03-10 20:44] simonv3 commented on #31
So that would mean we'd switch from using */jobs/* to jobs.opensourcedesign?

[2017-03-10 20:52] RichardLitt commented on #31
Yes. I'm not sure what that would do to http://opensourcedesign.net/jobs/jobs/2017-02-28-sinonjs-homepage-design, either.

[2017-03-12 18:14] bnvk commented on #40
I ultimately decided against using submodules (due to needing to run update scripts on a webhook in order to trigger updates). As per making it easier to develop & keep up-to-date, these lil [bash scripts](https://github.com/opensourcedesign/opensourcedesign.github.io/tree/master/scripts) do a nice job of making it easier!

[2017-03-12 18:14] #40 closed

[2017-03-12 18:16] bnvk commented on #1
I believe we have a "modular" website that, as long as you except GitHub as an acceptable barrier to entry, is some value of "easy" to update, so closing as it's stagnant!

[2017-03-12 18:16] #1 closed

[2017-03-12 20:02] bnvk commented on #50
Seems fixed. Closing.

[2017-03-12 20:02] #50 closed

[2017-03-12 20:06] bnvk commented on #56
I'm closing this issue seeing that A. it was implemented. B. if I understand correctly it still exists C. we now also have [chat.opensourcedesign.net](https://chat.opensourcedesign.net) which i'm committed to keeping running.

[2017-03-12 20:06] #56 closed

[2017-03-12 21:00] bnvk opened #78 "Create a Lexicon / Glossary page"
opensourcedesign/slick#2 stated we should:

Across the spectrum: designers ◀️ ▶️ project managers ◀️ ▶️ developers various terms are used which can often lead to confusion and misunderstandings. Here's an example I can think of:

**Templates**

- *Designer* - a Photoshop, Illustrator, or SVG file used to to base a new design off
- *Project Manager* - a Wordpress or Jekyll theme
- *Developer* - the

[2017-03-12 21:18] bnvk opened #79 "Create web form for "People""
As per the goal of making it easy for designers who are not comfortable using GitHub to participate in OSD, as well as #70 goal, we should make a nice web form (using Staticman) like our [job form](http://opensourcedesign.net/jobs/job-form/) so that people can "Join OSD / Add Your Self" without having to create a Github account.

[2017-03-13 07:01] m1guelpf commented on #79
@bnbk So the idea is to build a list of people in OSD using the GitHub API, and then prepend some markdown files manually created by the ones that doesn't have a GitHub account?

[2017-03-13 12:35] elioqoshi commented on #79
Can we integrate this with a list of Open Source Designers somehow?

[2017-03-13 13:00] bnvk commented on #79
@m1guelpf no and sort of.

No. What I'm thinking does not require / use the GitHub API re: "users" it
would function exactly like our Job board whereby one can submit via [a webform](http://opensourcedesign.net/jobs/job-form/)
which then creates markdown files like:

- [New Job - Sinon.JS homepage design #178](https://github.com/opensourcedesign/jobs/pull/178)

That upon submission, the Bot "stati

[2017-03-13 17:53] m1guelpf commented on #31
@bnvk  I have been using CloudFlare for 3 years and never had any problem. I also usually login uing TOR, and I haven't had any problem disabling that captchas. Also, the other solution (kloudsec) is down and the owners don't answer why in ProductHunt, so it migth be dead.

[2017-03-13 20:18] bnvk commented on #31
At this stage of game I don't think we need SSL urgently to bother w/
CloudFlare , etc... I'm exploring some things that might make sense for us
to move the whole site to a private server anyway, in which case we could
have real TLS, not the man-in-the-middled version like these services offer.

[2017-03-14 05:16] sudheesh001 commented on #31
@m1guelpf Yup, the last time I spoke to the kloudsec guys they took it down. It's kinda sad to see it go down.

[2017-03-19 23:33] bnvk opened #81 "Create web form for "Events""
As per the goal of making it easy for designers who are not comfortable using GitHub to participate in OSD, we should make a nice web form so that people can "Add An Event" without having to create a Github account.

[2017-03-19 23:43] bnvk opened #82 "Create web form for "Resources""
As per the goal of making it easy for designers who are not comfortable using GitHub to participate in OSD, we should make a nice web form to "Add Design Resource" without having to create a Github account. Ideally, we should have a dropdown menu which sorts resources by category. Currently, the following categories exist:

- Tools
- Material / Content
- Images
- Inspiration
- Icons
- Fonts
- CSS

[2017-03-20 04:55] grahamperrin commented on #81
Can this be made CalDAV-friendly from the outset?

[2017-03-20 07:40] elioqoshi commented on #81
Yeah, CalDav is important here I believe.

[2017-03-20 15:10] simonv3 commented on #81
Yeah, that'd be great. Do you know what the specs for that are? Can a webpage be caldav friendly on its own? Or do you need to create an ics?

[2017-03-21 03:22] grahamperrin commented on #56
Without reopening this issue: I'd like to help Gitter work, well, for OSD sooner rather than later during [the countdown to open sourcing of Gitter](https://about.gitlab.com/2017/03/15/gitter-acquisition/).

@sudheesh001 thanks; at https://gitter.im/gitterHQ/gitter?at=58cd04e8fa8a98870455d6ab – an example involving Matrix – I, too, wondered about https://github.com/gitterHQ/gitter/issues/1076

All

[2017-03-21 06:36] sudheesh001 commented on #56
The last time I made changes to the bridge, I used the `opensourcedesignbot` as the account that makes the entries on gitter from IRC and that's why the gitter room https://gitter.im/opensourcedesign is not filled with the bot account than my personal account which was being used before. It'd be great to have gitter look into this and make any changes which could make the integrations much better

[2017-03-21 13:10] bnvk opened #83 "Display by payment type (gratis vs. paid)"
*Moved from opensourcedesign/jobs#128 by* @Miserlou

Currently one has to scroll through all to see which are paid opportunities. As @evalica pointed out

Some more ideas about filtering (although this issue was perfect since it was specific, I still want to make this comments in order for the implementation to be extendible):

- There is no way to see the resolved jobs (in order to determine the

[2017-03-21 13:14] bnvk opened #84 "Add concept of "Expiration" to jobs"
*Moved from opensourcedesign/jobs#131 by* @evalica

While usually we start having the need for this kind of functionality when we are flooded with posts (not quite yet, although we have 56 entries, from which 39 are searching), the problem we have is that:

- we don't know if the job post is still active
- people from our organization might forget to mark a post as "closed"
- people that initially

[2017-03-21 13:28] bnvk opened #85 "Add RSS auto-posting to social media"
*Moved from opensourcedesign/jobs#90 by* @simonv3

There should be a method via [IFTTT](https://ifttt.com) using an "RSS to Twitter recipe"
We should automate this to do multiple RSS feeds:

- https://opensourcedesign.net/articles/feed.xml
- https://opensourcedesign.net/jobs/feed.xml
- https://opensourcedesign.net/events/feed.xml
- https://opensourcedesign.net/resources/feed.xml

Additionally, we

[2017-03-21 13:47] bnvk commented on #56
I advocate against a Gitter room for the following reasons:

- It's another channel to follow (only works if there's a critical mass)
- Requires a Github / Twitter account
- Is developer centric
- Not something one runs on their own server / easily hackable

Not sure if you're away, I recently setup [chat.opensourcedesign.net](https://chat.opensourcedesign.net)
which is a nice web IRC client.

If

[2017-03-21 14:52] simonv3 commented on #84
We can probably deploy something on Heroku that does that checking periodically through a cron job.

[2017-03-21 15:05] simonv3 opened #86 "Move content of jobs repo to this repo."
To make life easier, does it make sense to move the contents of the /jobs/ repo to this repository?

Why are we keeping it all separate? I feel like it just introduces a lot of complexities that we could easily avoid.

Benefits to moving things here:
* One site to rule them all
* Can switch to using netlify, which actually lets us use a bunch more things as far as gems goes in jekyll, and also is

[2017-03-21 21:44] bnvk commented on #86
I think we absolutely should move ALL content is not strictly "job" postings
from that repo here.

I think we should keep Jobs repo as it's own instance for these reasons:

* Interested parties can "subscribe" to just repo and get notification emails
* We can delegate permissions / access should we ever want to
* Keeps the size of the webiste repo smaller. Imagine we have thousands of job file as

[2017-03-21 21:55] akhilesh-k commented on #86
Separate Job repo has its own benefits. We should not move all the contents to this website repo.

Agree completely with Brennan.

[2017-03-21 22:00] simonv3 commented on #86
To address your specific concerns @bnvk:

1. I feel like that's what RSS feeds are for, but instead we're having people rely on closed source and non-standard notification system that is GitHub's notifications that doesn't integrate with outside feeds and also, again, isn't very designer friendly (are designers watching their GitHub notifications?)
2. I don't really see this happening, and if it d

[2017-03-22 13:34] bnvk commented on #86
RSS is one method of publishing / subscribing content. It's not ideal (who uses
RSS feed readers these days?), but we need to *build* more methods.

Github (notifications) are far from ideal. I'm all for exploring moving away
from GitHub and/or designing + engineering more customized notifications, but
that takes certain skills + enough time to dedicate. Currently, you and I are
the only ones real

[2017-03-22 17:10] jdittrich commented on #86
Remark:

…which makes me wonder why we don't just encourage people to use FOSSjobs?
If we have a different scope (I assume Fossjobs is about longer term and payed ) we should tell people what we focus on.

[2017-03-22 17:35] simonv3 commented on #86
That's exactly my point. I don't develop the website as nested folders, do you? I would prefer it if we _did_ move to nested folders, all within this repo. The current set up doesn't automatically work with "single nested inside a parent folder" unless you explicitly set it up this way. And if that's the case I was never told how to do that. If I'm editing the website I have to remember that there

[2017-03-22 18:11] RichardLitt commented on #86
This would be hard to prove. But, anecdotally, I find the amount of issues and set up confusing enough to discourage me from helping. (I don't know if this comment helps, but I figured my perspective as someone who would like to, but doesn't, would normally be the kind of voice that you wouldn't hear due to the organizational issues I'm talking about).

[2017-03-22 20:19] grahamperrin commented on #56
True at this time, but please note:

----

True, although – as an end user of software (I'm not a developer) – when I'm in the rooms that are oriented to end-users (that are not developer-centric), it's easy to close the sidebar view of commits etc..

---

I can't use it; please see https://github.com/opensourcedesign/organization/issues/70#issuecomment-287533748

Thanks

[2017-03-22 22:38] bnvk commented on #86
Because we're a community of designers focused on design work?

[2017-03-23 00:53] bnvk commented on #86
So I just updated our README to reference the helper scripts I created to make
things easier

https://github.com/opensourcedesign/opensourcedesign.github.io/tree/master/scripts

But upon testing with @pdurbin and verifying on the dev server I setup:

https://dev.opensourcedesign.net

This is a bit funky / harder than it should be to get jobs and events
working. Give me a few days to tweak things b

[2017-03-23 07:17] elioqoshi commented on #84
Agree with that. Would be useful to have it.

[2017-03-23 07:23] elioqoshi commented on #56
I'm also against a Gitter channel for the reasons @bnvk mentioned. However, there is currently no reason to switch to Matrix either, as Matrix users can join the IRC channel, but not the other way around.

[2017-03-23 09:44] belenbarrospena commented on #86
In my case, it's just lack of time. There are things I wouldn't be able to do (I am not a developer), but I know enough to fix small issues. Right now I am swamped though. Sorry that you guys have to  carry all the work at the moment :(

A bit of history might help here. When we organised the first open source design devroom at FOSDEM, tons of developers approached us to ask where to advertise the

[2017-03-23 13:51] jdittrich commented on #86
@belenbarrospena

thanks.

[2017-03-23 14:16] jdittrich commented on #86
That might be indeed a core issue of much of the discussions lately around Website, Jobs, Discussions.

[2017-03-23 18:13] jancborchardt commented on #86
They don't have nearly as many design jobs as we do.

I'm all for cross-posting jobs, but that doesn't mean our specific board shouldn't exist. We also want to build other things like a directory of designers.

Just putting all the content wr have into another platform and getting rid of it is shortselling what we achieved and also what we want to build in the future.

On the separate point I agre

[2017-03-26 15:42] grahamperrin opened #87 "Outdated reference to 'Why open source designers need tools beyond text and code'"
http://opensourcedesign.net/2015/07/10/this-month-in-open-source-design refers to a blog post by Jan D.:

- http://opensourcedesign.net/2015/05/23/TextbasedToolsForDesigners.html

That's no longer found. I found it [captured in the Wayback Machine](http://web.archive.org/web/20160326055927/http://opensourcedesign.net/2015/05/23/text-based-tools-for-designers) and re-posted at:

- [Why designers ne

[2017-03-26 18:33] jdittrich commented on #87
It seems to be now at: http://opensourcedesign.net/2015/05/23/text-based-tools-for-designers (as a fix for non-case-sensitive OSes?)

[2017-03-26 21:39] simonv3 commented on #87
And done, thanks for the fix @jdittrich!

[2017-03-26 21:39] #87 closed

[2017-04-02 06:53] evalica opened #90 "jobs/css/bootstrap.min.css values conflict with css/main.css"
The job form uses a full bootstrap.min.css that has different defaults than main.css.

Some example:
- .navbar-nav>li>a: padding from 20px to 15px
- .navbar-nav>li>a: font-size from 16px to 14px
- etc.

This is visible here for example:
- Job Form nav:
<img width="500" alt="jobform" src="https://cloud.githubusercontent.com/assets/629552/24585053/cc16fa8e-1789-11e7-95f5-ee0fcbbb65ef.png">

- Main n

[2017-04-02 11:18] gaja6413 commented on #90
Thankyou @evalica  :)
Even I have noticed this issue.
Using the same values will bring the consistent to the website.
Is there any other view on this issue? or will I change the values

[2017-04-03 10:30] evalica commented on #90
It should be investigated why that file was added in the first place.

[2017-04-03 14:45] simonv3 commented on #90
I'm fairly sure it uses bootstrap to do most of its styling. If that file were removed we'd lose a lot of the basic styles - which is not necessarily a bad thing, it's a lot of styles for a simple web form.

[2017-04-04 04:28] grahamperrin commented on #45
If not automated, then can some titles be set manually?

I should recommend beginning with:
- the four top-level items
- [Open source design needs better collaboration tools – Open Source Design](http://opensourcedesign.net/open-source/communities/collaboration/tools/design/2017/03/27/osd-needs-better-collaboration-tools.html)

[2017-04-09 21:10] ei8fdb commented on #82
Hmm, theres a distinct lack of user research methods in that list! I'd suggest adding the following to the list:

- recruitment of research participants
- contextual interviews
- formative usability testing
- card sorting
- guerrilla usability testing
- task analysis
- participant interviews
- measuring analytics and metrics
- heuristic review
- creation of personas
- creating surveys
- lab based

[2017-04-10 23:03] grahamperrin commented on #27
https://www.facebook.com/opensrcdesign/

https://github.com/opensourcedesign/organization/issues/18#issuecomment-158934333 relates to https://www.facebook.com/opensourcedesign/ for a different Open Source Design.

I can't find a more recent issue relating to a Facebook page for this organisation, is it no longer a channel?

[2017-04-10 23:48] simonv3 commented on #27
(That thumbs down is because of the forgotten facebook page, not at you doing that investigative work @grahamperrin).

[2017-04-11 00:05] grahamperrin commented on #27
:-) and for anyone who wonders about the investigation, it's with regard to point (1) at https://github.com/opensourcedesign/organization/issues/68#issuecomment-291985097

Should this issue be reopened?

[2017-04-11 00:23] simonv3 commented on #27
I think we need to make some other people administrator of the facebook page who can guarantee being around a bit more often. @razetime?

[2017-04-13 16:36] jancborchardt commented on #27
Yep. I don’t have a Facebook account, but any of the people in the core team who have should be made page admin: @bnvk @evalica @belenbarrospena @simonv3 @jdittrich @Incabell @victoria-bondarchuk @elioqoshi

@razetime can you make sure to add them as page admins? Thanks! :)

As for the Medium instance we also have floating around which was set up by @razetime, I would say we get rid of it to promo

[2017-04-13 17:02] simonv3 commented on #27
Yay, another person who doesn't use Facebook. We are legion!

[2017-04-13 18:09] Xaviju commented on #27
I think that since we do not have enough content or time to write blog posts or generate facebook content, we shouldn't open so many fronts that will probably be most of the time empty or forgotten. Too many resources are a bit overwhelming.
But if someone(s) have the time and initiative to be responsible for keeping it active, go for it.

[2017-04-19 17:48] jancborchardt commented on #27
I mailed @razetime about removing the Facebook account and the Medium account too (https://github.com/opensourcedesign/organization/issues/17). :)

[2017-04-19 18:00] jancborchardt commented on #85
We have an IFTTT account? I’m not aware of it. ;) If anyone has an IFTTT account we could use it for that also?

Or does anyone know a tool for it? cc @elioqoshi @simonv3 @simison @evalica @belenbarrospena?

[2017-04-19 20:30] simonv3 commented on #85
Well, `opensourcedesign` is taken, so I assumed we had an account.

[2017-04-20 10:04] jdittrich commented on #85
Can we trigger a forgot-password? Not much hope, but maybe the person is still around.

[2017-04-21 10:07] bnvk opened #98 "Make non-markdown formatted URLs auto link-ify"
As highlighted in opensourcedesign/jobs#204 there are many cases where people submit content (especially Jobs) with URLs in non-markdown format. These should be automatically turned into links across the site.

- Using a Javascript plugin
- Using a Jekyll plugin (not sure if Github Pages supports this)
- Using a bot that crawls repos / that uses a webhook to look for these

[2017-04-21 10:47] jdittrich opened #99 "Conditional form fields: Only show payment amount information if "we can pay" is choosen"
As transferred from https://github.com/opensourcedesign/jobs/issues/200

**Story:** I want to create a [job via the form](http://opensourcedesign.net/jobs/job-form/). I don't want to be distracted by fields I don't need, for example the " How much can you pay? (optional)" in case I chose "I  can’t pay" before.
**Solution:** Only show payment information if "we can pay" is chosen.

[2017-04-21 11:12] jancborchardt commented on #70
To keep it simple and as also said in the »categories for job board« issue #198 I’d propose a very concise few categories you can choose from and filter through:

1. Logo design & branding
2. Web design
3. Interaction design
4. Usability review & research
5. Other like slides, icons, etc.

Maybe 1–2 more but not a lot to make an overview simple. We would put these very prominently on the top with

[2017-04-21 11:25] jancborchardt opened #100 "It should be possible to interact/comment on each job"
Some big problems with the job board at the moment are:

- it’s very static, discussion is difficult to start
- you don’t know the state of it, if it’s taken already
- we don’t know if it’s done

As far as I know it’s possible to embed Discourse thread replies in a website. We could have a category in the Discourse called »Jobs« (you can’t create posts but will be led to the [job submission form](

[2017-04-21 11:27] jancborchardt opened #101 "Possibility to set a deadline on Job entries"
At the Berlin meetup, @HeikoTietze brought up that a »Deadline« field would be useful for the job postings. This might be because there’s a release upcoming, but also simply for us to automatically expire old job postings.

The idea we had at the meetup was to simply replace the »Tags« field which kind of duplicates the »Job role / category« anyway with a »Deadline« section:

[code]

What do you t

[2017-04-21 11:27] bnvk opened #102 "Create web form for "Projects""
In the spirit on making it easier and clearer to contribute and engage with OSD and like our [add a job  form](http://opensourcedesign.net/jobs/job-form/) we should have a form for FOSS projects who are open to having designers join their community.

Ideally, there should be some criteria this form. Please chime in with ideas :smile:

[2017-04-21 11:55] HeikoTietze opened #103 "Preview <> Jobs Board, Changes after Merge"
(This ticket reopens https://github.com/opensourcedesign/jobs/issues/208)

In https://github.com/opensourcedesign/jobs/pull/202 @jdittrich made some changes and me too later. Reason was basically that my lists starting with * were not recognized as such. But in particular I messed up later with links like `<a href="">Foo</a>` that are shown as expected in the github preview but not when the job is

[2017-04-21 12:03] jancborchardt commented on #85
@simonv3 @jdittrich any of you is welcome to either contact IFTTT regarding ownership of the »opensourcedesign« account. :) If they don’t reply or it’s taken by someone who doesn’t want to give it away, we could just open »opensrcdesign«.

@GarthDB @jongold do any of you maybe own this IFTTT account? :)

[2017-04-21 13:42] bnvk commented on #27
Closing this since we are definitely not adding it to our site!

[2017-04-21 13:42] #27 closed

[2017-04-21 13:45] bnvk commented on #90
Yep. This should be harmonized to be using the same global CSS styles and template in mail site repo!

[2017-04-21 13:46] bnvk commented on #16
Closing as this is inactive and we've better outlined our purpose and mission elsewhere!

[2017-04-21 13:46] #16 closed

[2017-04-21 13:49] #28 closed

[2017-04-21 14:59] bnvk commented on #103
@HeikoTietze are you asking for the ability of people who submit jobs to be able to see a preview of them "after" they have been accepted (merged) in? Seems confusing, as in that case, the jobs are "public" as in on the site at that point.

[2017-04-21 15:54] bnvk commented on #99
@jdittrich thank you for re-opening (and clarifying) the case- the wording of this title makes more sense than the other as well.

One approach is to have two fields (like current) which hides the "amount" field. The other aproach is what I [had proposed](https://github.com/opensourcedesign/opensourcedesign.github.io/issues/70#issue-199185003) using one field that offers "free" as well as paid amo

[2017-04-21 16:19] jongold commented on #85
@jancborchardt I don't own it :(

[2017-04-21 21:10] HeikoTietze commented on #103
Github preview of changes doesn't match the job board. In particular I tried to do the a href thingy which works here but not there. And I ask primarily to solve the job at the board.

[2017-04-21 21:18] simonv3 opened #104 "Job post sometimes lists things twice"
Example, here:

http://opensourcedesign.net/jobs/jobs/2017-04-20-branding-for-libreoffice-60

The content of the job posting is listed twice.

[2017-04-22 12:11] jdittrich commented on #103
@HeikoTietze @bnvk As far as I understand it, it is a usability bug for now that can be solved in various ways.

I, too, was also involved in trying to fix this job and was not able to do it right/as I expected.

The most obvious problem is the mismatch of actual rendering vs. preview in Github (or wherever one previews), as well as that the loop for seeing the actual rendering being quite large (

[2017-04-22 17:07] jdittrich opened #105 "Branching to specific forms for Hiring, specific Tasks, general interest"
We currently have only "Jobs". When @jancborchardt,  @HeikoTietze and me tried to come up with a better text for the Jobs form, we noted that it is not easy, partly because there are different requirements for

* Showing general openness to design contributors (e.g. No payment, no definition of done, emphasis on the feeling in the community)
* Hiring and paying people to work part/fulltime at your

[2017-04-23 20:03] simonv3 opened #106 "Update Summit page with content and such!"
It's not real unless there's a website for it

At http://opensourcedesign.net/summit/

[2017-04-23 20:44] simonv3 commented on #103
Maybe some form of preview that gets automatically generated based on the content in the PR? This would be pretty javascript heavy and some heavy lifting, but do-able.

[2017-04-24 12:11] evalica commented on #101
Duplicate of https://github.com/opensourcedesign/opensourcedesign.github.io/issues/84

[2017-04-24 12:38] bnvk commented on #101
Yes. This is a duplicate!

[2017-04-24 12:38] #101 closed

[2017-04-24 19:04] raghunayyar commented on #106
If we have the content, I can get this up in a couple of hours. :)

[2017-04-24 19:16] simonv3 commented on #106
I think as far as content goes, the logo from https://github.com/opensourcedesign/organization/issues/57#issuecomment-283946644

(ping @elioqoshi for the svgs)

And then with the dates

October 13 - 18th.

Details TBC

[2017-04-25 08:50] elioqoshi commented on #106
Here we go:
https://github.com/uracreative/works/tree/master/OSD%20Summit

[2017-04-25 13:32] simison commented on #85
@jancborchardt RSS → Social media, this one is big+free (free as in free price): https://dlvrit.com/pricing

[2017-04-25 14:16] bnvk commented on #85
@simison thanks for that suggestion. I've created an account and linked
things up. Seems like the perfect service ;)

However, the Jobs RSS feed is broken and only showing super old postings.
So only the Articles and Events feeds are enabled right now.

I will look into this when we do our job board hacking this weekend!

[2017-04-25 14:19] simison commented on #85
Would it be easy to make `/all/feed.xml`?

[2017-04-25 14:26] bnvk opened #107 "Add social-media friendly meta tags"
Now that we've got an RSS auto-posting solution enabled as per #85 we should also add the various `<meta>` tags that make posts on social media more attractive and engaging.

- [x] Add [Facebook sharing tags](https://developers.facebook.com/docs/sharing/webmasters)
- [x] Add [Twitter cards](https://dev.twitter.com/cards/overview)

Of course, we seldom have images in any of our posts (which is some

[2017-04-25 14:31] bnvk commented on #85
No it would not be easy (given current site structure) to:

Additionally, I think we get more granular control (for things like this
case) with separate feeds!

[2017-04-29 15:56] jdittrich opened #110 "Contact us intertwined with general channels"
On our index.html, there are two lists of contact links, one below "Contact us", one in the footer.

![grafik](https://cloud.githubusercontent.com/assets/3416487/25556815/4ae54962-2d04-11e7-8374-d14ac21a142a.png)

**Suggestion:**
* We may want to disable the footer for the *index.html*
* …and add "code of conduct"
* …and rename it to "our channels" or "community channels" etc.

[2017-04-29 16:05] jdittrich commented on #110
…the "join us" section has the "banner-social-buttons", I was unsure about deleting it/renaming it/applying another class (which?) or just keeping it (which would be semantically not ideal)

[2017-04-30 09:37] jancborchardt commented on #70
I think this platform is a very good example: https://www.youvo.org/ – it’s German only, but basically a job board for creatives & designers who want to get involved with social projects (only pro bono though):
![youvo](https://cloud.githubusercontent.com/assets/925062/25563295/358bffee-2d99-11e7-8ba3-8e6fb4a57965.png)
We can learn a lot with them since in their onboarding process they also have a

[2017-04-30 09:38] jancborchardt commented on #70
I think this platform is a very good example: https://www.youvo.org/ – it’s German only, but basically a job board for creatives & designers who want to get involved with social projects (only pro bono though):
![youvo](https://cloud.githubusercontent.com/assets/925062/25563295/358bffee-2d99-11e7-8ba3-8e6fb4a57965.png)
We can learn a lot with them since in their onboarding process they also have a

[2017-05-01 11:08] jdittrich commented on #105
@jancborchardt @bnvk – I would try create a branching page that can potentially lead to different forms (or whatever else we suggest) – or are there better ways form a technical perspective?

[2017-05-03 16:57] evalica commented on #66
I think this is covered by http://opensourcedesign.net/contribute/. WDYT @simonv3 ?

[2017-05-03 16:59] evalica opened #114 "Display 'compensation' / 'rate' when viewing a job"
This info is stored on GitHub, but not displayed on website, see example
<img width="898" alt="screen shot 2017-05-03 at 19 45 39" src="https://cloud.githubusercontent.com/assets/629552/25671738/bb4e9e32-3039-11e7-9283-3accd698d3db.png">

[2017-05-03 16:59] evalica commented on #114
Issue related to https://github.com/opensourcedesign/opensourcedesign.github.io/issues/83, https://github.com/opensourcedesign/opensourcedesign.github.io/issues/70 and https://github.com/opensourcedesign/opensourcedesign.github.io/issues/99

[2017-05-03 17:04] evalica opened #115 "Wrong name for 'rate'/'compensation' field"
Use 'rate' instead of 'compensation' in the Job Form. New PRs and files created with 'compensation' (since 2017-02-09), while all the old jobs are using 'rate'. The layout uses rate, see
<img width="1008" alt="rate" src="https://cloud.githubusercontent.com/assets/629552/25672260/7c207bd4-303b-11e7-9b70-aa4b83b7cbbc.png">

[2017-05-03 17:14] evalica commented on #115
I think this was a bug also in the past.  Not sure what changed recently.

[2017-05-03 17:23] simonv3 commented on #66
Yep, I think so! Though that page can be fleshed out.

A link to that is now also on the front page http://opensourcedesign.net/

[2017-05-05 09:30] evalica opened #117 "Add details about Discourse and OpenCollective on the website"
On Twitter we have the links to Discourse and OpenCollective, but not on the website.

Also the bottom part for the homepage duplicates itself, so we might want to merge the "Contact us" with the Footer.

<img width="866" alt="footer" src="https://cloud.githubusercontent.com/assets/629552/25740290/9773de22-318e-11e7-99f5-e2ff0b2f81b2.png">

[2017-05-05 14:28] simonv3 commented on #117
Note that the merging is already mentioned in ticket #110.

[2017-05-05 15:06] evalica commented on #117
k - in this case the issue remains about mentioning the 2 services

[2017-05-09 20:05] Crissov opened #118 "Line break in YAML-MD"
There seems to be something gone wrong in https://github.com/opensourcedesign/jobs/pull/214: The two URL entries in `how_to_apply` are separated by `\r\n` which does not seem to translate well, see the [generated page](http://opensourcedesign.net/jobs/jobs/2017-05-09-design-new-emojis). Also, the email address inside angle brackets has been stripped.

[code]

[2017-05-10 01:03] simonv3 commented on #118
This has been wrong for a little while and I think it might be due to how staticman parses things.

(sorry for the short response, just wanted to get those thoughts down, but I have to run just now)

[2017-05-10 15:20] simonv3 opened #119 "When creating a job, in the job form, strip out @ from the beginning of github & twitter usernames"
Those things break frontmatter.

[2017-05-10 15:22] simonv3 commented on #118
I think the easiest solution is to force How To Apply to be a one liner in the form.

[2017-05-11 07:52] jdittrich commented on #119
can we mask/escape it?

[2017-05-11 14:22] simonv3 commented on #119
@jdittrich how do you mean?

[2017-05-11 16:26] jdittrich commented on #119
In HTML, one can replace @ with  "\&#64;" – which is displayed as @ (naturally, one needs to know which @ we can replace and which need to be interpreted in the frontmatter)

[2017-05-11 17:06] simonv3 commented on #119
I don't think that would work, because if they include it in the form input field and we don't strip it, and we point it to their GitHub profile ourselves, then their profile might be github.com/&#64simonv3, which would be incorrect. I think it's better to just remove it all together.

[2017-05-11 23:24] simonv3 opened #120 "Add link to the summit."

[2017-05-15 11:04] jancborchardt opened #121 "Directly use fonts from repository instead of calling googleapis"
See https://github.com/opensourcedesign/opensourcedesign.github.io/blob/6050e64bbd541c92ae1155e8c6b1990d554cdd3d/_includes/head.html#L10-L11, we should use the fonts from in the /fonts folder instead.

[2017-05-27 19:33] pdurbin commented on #56
I'm happy with the decision to use IRC, especially since we have public logging set up at https://botbot.me/freenode/opensourcedesign . To me, public logging is the most important feature Gitter brings to the table, but we have it already thanks to BotBot.me. (I'm not particularly interested in private logging such that Slack provides within its walled garden.)

I appreciate the sameroom experimen

[2017-06-01 21:11] simonv3 opened #125 "Create "projects" and "tools" subsites."
This should be designed nicely too.

[2017-06-06 10:56] evalica commented on #125
This issue needs a bit more description. Also are these 2 sections dynamic enough that they would produce regular content?

[2017-06-06 10:58] evalica commented on #125
So I guess this issue is related to https://github.com/opensourcedesign/resources/blob/master/README.md
Now still I don't understand the difference between a project an a tool :) and why they should be separate.

[2017-06-06 15:07] simonv3 commented on #125
I think the idea is that tools are things we use as designers, whereas projects are open source projects that do good design.

Basically most of the stuff on resources under tools would be a nice "tools" page. We'd have some example images, maybe some tutorials for each tool, etc.

Projects would be a list of projects that we think are designer friendly but not necessarily aimed at designers - Moz

[2017-07-26 16:32] pdurbin commented on #120
Yeah, as I noted at https://botbot.me/freenode/opensourcedesign/msg/89077686/ the events page is fairly out of date at this point.

[2017-07-29 15:09] pdurbin commented on #120
@simonv3 @jancborchardt @belenbarrospena currently http://opensourcedesign.net/events/ says, "There are no upcoming events" and I just created https://github.com/opensourcedesign/events/pull/79 to fix this. Can you please take a look? Thanks!

[2017-08-01 16:03] evalica commented on #120
Is this issue about having a link in the global menu for the Summit? or the Summit event done by pdurbin is enough?

[2017-08-01 22:45] pdurbin commented on #120
I made another pull request at https://github.com/opensourcedesign/events/pull/80 to fix the links in my previous pull request.

[2017-10-02 17:06] boneskull opened #128 "posting a job says markdown is allowed, but it's not rendered"
Hi, discovered this today.  Maybe it needs to be more clear about *which fields* Markdown is allowed in, or simply just enable markdown for all fields?

![image](https://user-images.githubusercontent.com/924465/31089482-27e79e22-a759-11e7-833f-4d9dbea0a106.png)

I think this can be done via [a client-side lib](https://www.npmjs.com/package/markdown-it) if you wanted to go that route...

[2017-10-02 19:50] simonv3 commented on #128
We could definitely use a client side lib for this. It might be the easiest. I'm afraid how frontmatter works is a bit of a limitation here. It's been an issue for a while, but I haven't thoroughly looked into it. Is that something you'd want to look into @boneskull?

[2017-10-16 13:37] bnvk commented on #121
Fixed in e7c8a6f4771d16e849c29fb0a234f078f40c332e and 061d2536830768b3e4c5725e41885be56569278f

[2017-10-16 13:37] #121 closed

[2017-10-16 14:45] bnvk commented on #120
Closing this as the Summit is now done!

[2017-10-16 14:45] #120 closed

[2017-10-16 15:11] bnvk commented on #104
I think is not happening anymore!

[2017-10-16 15:11] #104 closed

[2017-10-16 15:20] elioqoshi opened #140 "Job Board Redesign"
Hey folks,

I sat down today with @bnvk and worked on redesigning the job board. This is what we have right now:

![5](https://user-images.githubusercontent.com/5436686/31619567-31b269ae-b295-11e7-8371-a575b01d7403.png)

- added Tags depending on the type of job listed
- changed the header color to the blue we use on the website to see how that would look like without black everywhere
- added PAID

[2017-10-16 15:26] HeikoTietze commented on #140
Great design, requires now means to filter the list by status tags and paid/gratis flag. Visually the black button is quite conspicuous for its irrelevant status. Perhaps it's better to just grey this button out.

[2017-10-16 15:26] Xaviju commented on #140
I ❤️ the colorful approach. Viva el blue! helps me a lot focusing on the important things 👍
**Feedback**: First thing I felt is that in a single job posting there are too many things around with similar weight and it could be a bit confusing. Also buttons and tags have very similar shapes.
Hope it helps, thanks for your work!

[2017-10-16 15:31] bnvk commented on #140
Great job @elioqoshi 👍

Yes @HeikoTietze this is well known and tracked in #70 it's a different development challenge than simply styling the data we already have.

[2017-10-16 16:01] elioqoshi commented on #140
![job board redesign v6](https://user-images.githubusercontent.com/5436686/31622189-fe08cc86-b29b-11e7-83fc-7e9c1dc937d2.png)

Thanks for the feedback, I updated a few things, hope that improves some of the things addressed.

[2017-10-17 10:07] jancborchardt commented on #140
Nice work! :) Some feedback:

- The grey divider bar is a bit bold and dark, so takes too much attention. Let’s make it lighter?
- The »Searching«, »Negotiating« etc status has a very different style than the rest and also floats far from the other content. How about we instead put those as big headers, and group the jobs under it? First of course would be Searching, then Negotiating, then Started

[2017-10-17 10:07] jancborchardt commented on #140
Also cc @evalica @victoria-bondarchuk @belenbarrospena @Incabell @jdittrich @simonv3 check it out! :)

[2017-10-17 11:04] bnvk commented on #140
@jancborchardt I don't recall saying I wasn't fond of that. I'd love to see icons for a project submitting. However, a lot of projects might not have a logo yet (as why they're coming to OSD job board).

From a practical / implemenation angle- we need to get something like #102 implemented first, otherwise there where does the project icon come from?

[2017-10-17 11:05] pdurbin opened #141 ""our goals" links to a 404 (/about/) from homepage"
If you click "our goals" at http://opensourcedesign.net you get a 404 at http://opensourcedesign.net/about/

[2017-10-17 11:19] bnvk opened #142 "Setup Dev server of website"
In order to encourage more development and contributing to the website I am going to configure a dev server that pulls from a `dev` branch of this repository, as well as other repositories. The site already exists at:

https://dev.opensourcedesign.net

To be completed are:

- [ ] Create dev branches on repos
- [ ] Create build scripts on the server
- [ ] Add github webhooks which automate deployin

[2017-10-17 11:31] simonv3 commented on #140
This is beautiful. Thanks @elioqoshi!

I second Jan's suggestion of ordering by status.

[2017-10-17 11:32] simonv3 commented on #141
Funny, cause "goals" exists: http://opensourcedesign.net/goals/

[2017-10-17 11:35] simonv3 commented on #142
I think we can set up GitHub branches to automatically do PRs to dev. Is that something we want?

[2017-10-17 11:37] bnvk commented on #142
Yah, that sounds like a pretty idea to me... but maybe some criteria like 1. must be member of GH Org 2. must on a certain "team" or something... what do you think?

[2017-10-17 11:38] bnvk commented on #141
Yah, oversight on my part (forgot it links there). Now fixed.

[2017-10-17 11:38] #141 closed

[2017-10-17 13:19] bnvk commented on #79
With #137 @simonv3 got a first pass of this implemented. Now we just need to test it a bit with users submitting data 😄

[2017-10-17 16:08] bnvk commented on #115
Fixed this in 74da4c4ca0c55af88284ef3716205be7e757fc81 thanks @evalica

[2017-10-17 16:08] #115 closed

[2017-10-17 16:41] jancborchardt commented on #140
Could be just the favicon from the »Project website« we ask for. Might lead to strange results (like a wordpress favicon if the website is just a non-customized Wordpress blog etc) but might be a good catch-all also to fill up icons for already existing posts.

[2017-10-17 17:00] bnvk commented on #140
Useing a favicon has the following requirements / limitations:

1. That they list a website, otherwise we end up with Github or such
2. We create some parser to find the URL, as not all do domain/favicon.ico
3. Usually 32x32 px, but often 16 or 64. The later is only large enough for an avatar

I think we'd be better suited having a range of icons for a given "project type" that *we* (e.g. @elioqos

[2017-10-17 17:26] bnvk opened #146 "Specify certain pages as "Uneditable""
With the integration of the edit page buttons (as seen here), which is now on each page...

![osd-edit-source-links-2](https://user-images.githubusercontent.com/48677/31679068-501341f8-b370-11e7-8b20-62fd4bbae3de.png)

...certain pages probably should not be editable via the [Prose editor](https://edit.opensourcedesign.net) as they will have HTML, Jekyll logic, and can seriously break the site if

[2017-10-17 17:27] m1guelpf commented on #140
Looks very cool!
Just a suggestion, I think the tags stand out too much, maybe make them lighter?

[2017-10-17 18:28] simonv3 commented on #146
OMG the prose integration is awesome.

[2017-10-17 19:14] simonv3 commented on #100
This looks like it's what we want:

https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963

[2017-10-17 19:19] evalica commented on #140
Looks good on a rapid view. We can improve later if you already have the code :)

[2017-10-17 19:20] evalica commented on #146
Or we could define a CSS class that hides that section and make sure the pages are using the class.

[2017-10-17 20:34] simonv3 commented on #100
Okay! This has been implemented but it can use a _lot_ of improvement.

I think a lot of that improvement will come from figuring out the formatting and the markdown, eg.:

https://discourse.opensourcedesign.net/t/jobs-libreoffice-mascot/328

http://opensourcedesign.net/jobs/jobs/2017-06-28-libreoffice-mascot

Yay \o/

cc @bnvk @jancborchardt @evalica

[2017-10-17 20:37] simonv3 opened #147 "Add link to people form somewhere on the site"
Right now the [people form](http://opensourcedesign.net/people-form/) exists, but it's not findable. We should let people find it. Where does it make sense to add?

I think overall it would make sense in a "Are you a designer" section, but we'd need one like that.

https://github.com/opensourcedesign/organization/pull/100

cc @evalica

[2017-10-18 07:19] simonv3 opened #148 "Styling on job form thank you page is broken"
Probably because the bootstrap stuff was moved recently?

http://opensourcedesign.net/jobs/thank-you/

https://github.com/opensourcedesign/jobs/blob/master/thankyou.html

[2017-10-18 09:14] #148 closed

[2017-10-18 09:20] bnvk commented on #148
Was because that file (for some inexplicable reason) did *not* have the `layout: default` value decalred in Front-Matter and instead had the whole HTML page...

[2017-10-18 09:32] bnvk commented on #147
I think this should be a "call to action" as part of something like **Join Us** or **Participate** which also plays into the [contribute page](https://opensourcedesign.net/contribute/) which I also think needs some love and to be more featured. I have some ideas, but those of others are much appreciated :)

[2017-10-18 09:42] bnvk commented on #100
w00t w00t, great @simonv3 great step and progress 👍

For some reason I had to update the ID in your link to Discourse from 328 to 353, not sure why.

How does this currently get created? Is it 100% automated? Is that perhaps why the ID issue happened?

[2017-10-18 10:14] bnvk commented on #146
@evalica sure, I don't see a strong argument for or against CSS class vs. just not displaying the HTML in the template. Regardless, we need to add value to FrontMatter of "uneditable" pages.

[2017-10-18 10:30] bnvk opened #150 "Create "Join Us" page"
As a new person who has heard (and is curious) about OSD and perhaps "joining" us, where would I go to get an an overview and find best way to join?

Currently, the [contribute page](http://opensourcedesign.net/contribute) is one part of this action. And the new people page discussed in #147 is also relevant.

Peersonally, I think this should be a high level link and in multiple "call to action" p

[2017-10-18 10:38] simonv3 commented on #148
ah cool! possibly because it was moved over from a stand-alone repo.

[2017-10-18 13:20] simonv3 commented on #100
yeah, the ID issue probably happened because I have since deleted and created that thing a couple of times for testing purposes.

This is actually pretty incredible functionality from Discourse. We can set it so that stuff gets automatically gets created when Discourse polls the feed.xml for the jobs (in which case we can only do it for jobs I think, not for, say, articles), or that it gets create

[2017-10-19 12:45] bnvk opened #151 "Replace hardcoded URLs to site in pages and templates"
Currently, in throughout the website Jekyll templates and pages, the website URL

[code]

Is hardcoded. We should make use of Jekyll variables, so as to make developing locally, a stagging server, etc... all work well. Thus, we should replace that value with

[code]

Which then gets drawn from [_config.yml](https://github.com/opensourcedesign/opensourcedesign.github.io/blob/master/_config.yml) val

[2017-10-19 12:51] bnvk commented on #100
Why is this? We can (and should / am working towards) have multiple RSS feeds.

[2017-10-19 12:58] simonv3 commented on #100
Looks like a limitation on the Discourse side. There's only one input field for where to fetch RSS feed data from and it seems to apply to all embedded Discourse threads.

If we have separate repos we can't do this I think, but isn't it also fairly standard to provide an RSS feed of all updates from a site?

[2017-10-19 13:32] jancborchardt commented on #100
So we could have a unified feed and then a "category" attribute which would tell Discourse where to add the topic?

[2017-10-19 15:11] simonv3 commented on #100
I think so? I mean, by no means am I an expert on this.

[2017-10-25 08:30] simonv3 opened #152 "Better titles for job postings"
the titles for job postings are ambiguous at the moment.

Either we don't let people create their own and combine them from other data points, or we somehow force people to write good ones.

[2017-10-25 09:27] evalica commented on #152
We should state the organization the job is for.

[2017-10-26 10:59] bnvk commented on #152
Yah, I think we can make the form guide people to write more well structured titles with something like:

[code]

Which would output something like: **Logo and web design for a couch sharing mobile app**

Alternatively, we can get rid of title altogether and make **skills** and **organization** be all that is used for the title:

[code]

Which would output something like: **Logo and web design for

[2017-10-27 10:22] simonv3 commented on #152
I think I prefer option two.

[2017-11-04 16:50] simonv3 opened #156 "Icons for our Job Board"
As recommended in #140 it'd be great if we could get some icons for specific jobs that people can choose from.

Suggested categories:
* Mobile App
* Website
* Hardware
* Desktop App

We _could_ use something like font awesome in the mean time, but if we want to release our own icon set this might be a neat place to start.

[2017-11-08 18:26] simonv3 opened #157 "On job form qualify what free / open source means."
We can do that by providing a link or by adding an asteriks, or some other format, but I can see how it leads to confusion. https://github.com/opensourcedesign/jobs/pull/260

[2017-11-08 18:29] patdavid commented on #157
What about "Free/Libre and Open Source"?

[2017-11-08 18:29] patdavid commented on #157
What about "Free/Libre and Open Source"?

[2017-11-08 18:30] patdavid commented on #157
What about "Free/Libre and Open Source"?

[2017-11-08 18:46] simonv3 commented on #157
I think even then we'll need to provide a friendly "here's what that means". It doesn't mean _we_ have to write it, it should just exist.

[2017-11-09 12:54] evalica commented on #157
The problem come from the phrase "If you work on a free / open source project and you need..." found on the [job form](http://opensourcedesign.net/jobs/job-form/).
Maybe the "free" part needs a better definition, or maybe it was understood as "if you worked on something free in your life, but now you need some design work". We need to state that the design work will be done for OS projects, no mat

[2017-11-09 15:33] patdavid commented on #157
I would imagine a [link to the definition of Free Software](https://www.gnu.org/philosophy/free-sw.en.html) might be a good start.

Should it be noted in some fashion, "Free as in speech" in particular?
Or only "Free as in speech **and** beer"?

I'm personally in favor of both, but I don't begrudge someone an opportunity to monetize an otherwise Free/Libre/Open project, as long as the sources are

[2017-11-09 15:37] evalica commented on #157
@patdavid the job form is located the the jobs repo, see https://github.com/opensourcedesign/jobs/blob/master/job-form.html

[2017-11-09 18:24] jdittrich commented on #157
I currently see two options:

* providing an asterisk, [link](https://en.wikipedia.org/wiki/Free_software) etc. giving further explanation
* Use only *open source* as term.

I like the free-as-in-freedom thing and all, but the term has not the best "usability" (misunderstandings) and I wonder if only using *open source* as bad consequences in practice.

[2017-11-09 19:43] patdavid commented on #157
1. I was going to take a pass at changing the term to "Free/Libre and Open Source".
2. Make it a link (+ superset asterisk/footnote) to the bottom of the page where the term "Free" could be expanded on to be clearer.
3. Make the hover text say something like "Free as in speech" or something to that effect.

Would that be helpful?

[2017-11-09 20:11] simonv3 commented on #157
That sounds good to me! Thanks @patdavid.

[2017-11-10 15:03] simonv3 opened #159 "Turn jobs, events, and similar repos into just data repos"
I've got an idea for making our site a bit easier to manage that doesn't involve hosting it on our own platform and server.

We can put anything that's "website" in our website repo - templates, indexes, etc and use the `jobs` and `events` repos as purely data repositories that we post to from our various forms, and then use them as JSON or XML endpoints for our website. That way on our website we

[2017-11-10 16:04] bnvk commented on #159
@simonv3 I think this is what I have been doing already... the problem is
you need to make Jekyll generate JSON, which you need a "layout" for.

Both the Jobs and Events repo's have "dev" branches whereby I've already
turned them into "data repos" and the scripts/install.sh will put them in
the right place to make it all work, but you need to make it choose "dev"
branches instead of "master"

[2017-11-10 16:21] simonv3 commented on #159
Ohohoh! Interesting.

What I had in mind more than having the jobs in markdown with frontmatter was to insert them using yaml or something similar when creating them with staticman, but this looks like it might work too. I'm looking in scripts/install.sh though it's not immediately clear to me where it puts them in the right place?

[2017-11-10 16:21] patdavid commented on #157
Unless there's something more to tweak or discuss, I'm going to close this issue.

[2017-11-10 16:21] #157 closed

[2017-11-10 17:48] simonv3 commented on #157
Thanks again!

[2017-11-10 17:50] patdavid commented on #157
No problem!  I know I've been busy, but I really do intend to help out more where I can (and this was relatively simple).

[2017-12-14 11:31] belenbarrospena commented on #31
I just got a friendly comment from the FOSDEM organisers about our website not supporting https. Any chance we could revive this issue?

From the comments, people seems to be leaning towards netlify, although using Gandi might be even simpler. If there are any costs involved, there are funds available through the Open Collective donations.

@jancborchardt Any chance you might have some time to loo

[2017-12-14 11:54] comzeradd commented on #31
Since the website is based on a static content generator, it could be hosted for free on Gitlab pages and use Letsencrypt certificates. The downside of this is the need to update the certificates every 3 months.

There is a [detailed guide](https://about.gitlab.com/2016/04/11/tutorial-securing-your-gitlab-pages-with-tls-and-letsencrypt/) for this scenario.

[2017-12-14 15:54] RichardLitt commented on #31
Again, Netlify also works very easily for https, and it is almost an automatic switch. Free of cost.

[2017-12-14 16:29] m1guelpf commented on #31
My vote goes for Netlify. I have been hosting websites with them since I discovered them in this thread and I've never had any problems with them.

[2017-12-14 16:36] simonv3 commented on #31
The problem with Netlify, and likely Gitlab, is how we've set up the site into different components (jobs and events are in a different repo).

The solution to that, and also massively simplifying our site, IMO (and this opinion has changed over time) is to bring everything into one repo. The thing we have to be most careful about here is making sure links still work.

[2017-12-14 16:38] m1guelpf commented on #31
@simonv3 Another option would be to keep things in its own repository and use subdomains (like `jobs.opensourcedesign.net`)

[2017-12-14 17:18] bnvk commented on #31
No @m1guelpf  this will not solve the issue as @simonv3 points out

I have not read 100% of Netlify's docs, but I have not seen anything which makes it clear this multi-repo architecture is possible.

The fact the current site uses **multiple repos** is the biggest obstacle to adding TLS support. It's also why the topbar and footer are out of sync on the Jobs / Events page with the rest of the sit

[2017-12-15 16:41] jancborchardt commented on #31
I mailed Gandi.net (where we have the domain). They offer a 1-year free SSL cert for every domain (and 12 € a year afer) but it seems a bit confusing to set up. However when they answer and I figure it out I think this is the simplest way as we don’t have to maintain/use yet another provider or service.

[2017-12-15 17:08] m1guelpf commented on #31
@jancborchardt Good news, Let's Encrypt offer SSL certificates for free! No one should have to pay to get a certificate, so they register them for free. You can check [Troy Hunt's article about the happy path to SSL](https://www.troyhunt.com/the-6-step-happy-path-to-https/) to know more.
Also, bad news, you can't setup a SSL certificate with GitHub Pages with a custom domain, you have to use anoth

[2017-12-17 11:41] ei8fdb commented on #31
I'd give a +1 to using Gandi. I've used them for hosting and domain
purchasing for 15+ years. They're a good bunch.

They also sponsor good people doing good things.

It'd also be easy to get set-up. If it helps, I can contact them to ask
them for support on set-up?

On 15/12/17 17:08, Miguel Piedrafita wrote:

[2017-12-19 14:02] jancborchardt commented on #31
@ei8fdb since you are also a domain contact, it would be great if you can contact them. I mailed the support but they sent me this what seems more like boilerplate advice:

Cause that’s not what I’m experiencing, at least with the updated v5 Gandi interface.

[2018-02-06 13:40] MichaelMure opened #166 "Job rendering broken"
I made a job description: https://github.com/opensourcedesign/jobs/pull/289
This is the result: http://opensourcedesign.net/jobs/jobs/2018-02-06-ux-ui-design-help-needed-for-a-new-file-sharing-project

The description is missing on the website and the "how to apply" is badly formatted.

[2018-02-06 15:35] simonv3 commented on #166
Thanks for making this ticket Michael!

This is strange - the description should have been put in the "content" of the markdown file. I wonder if there's something wrong with how that gets manipulated by staticman.

As for the how to apply button text, I want to note that's also mentioned here: https://github.com/opensourcedesign/opensourcedesign.github.io/issues/128

[2018-02-13 11:42] evalica opened #167 "Missing menu entries when going to Jobs, Events"
Expected
<img width="1183" alt="expected" src="https://user-images.githubusercontent.com/629552/36148187-bb66fdae-10c3-11e8-8240-e82e1d559b73.png">

Menu on Jobs
<img width="1222" alt="jobs" src="https://user-images.githubusercontent.com/629552/36148191-c22eb4d8-10c3-11e8-8260-5e80aa398e64.png">

Menu on Events
<img width="1146" alt="events" src="https://user-images.githubusercontent.com/629552/36

[2018-02-13 11:45] evalica opened #168 "Missing Affiliation page on the website"
We don't show anywhere on the website the affiliations we have
<img width="955" alt="affiliations" src="https://user-images.githubusercontent.com/629552/36148304-30f67ec8-10c4-11e8-98ee-54d7734f8224.png">

[2018-04-20 01:25] pdurbin opened #170 "Outdated IRC links"
<img width="892" alt="screen shot 2018-04-19 at 9 23 21 pm" src="https://user-images.githubusercontent.com/21006/39025913-f35ca84e-4417-11e8-8495-d50a8f7c43c0.png">

<img width="892" alt="screen shot 2018-04-19 at 9 23 31 pm" src="https://user-images.githubusercontent.com/21006/39025912-f34e0a28-4417-11e8-9529-c1dbd7275633.png">

[2018-04-20 01:39] alexgleason commented on #170
I think #169 resolved this, but maybe it hasn't been deployed

[2018-04-20 01:56] pdurbin commented on #170
Interesting. Thanks. My take on #169 is that Open Source Design now prefers Riot/Matrix over IRC but maybe I'm misunderstanding. I still haven't invested time in Riot/Matrix and I'm happy with IRC (I'm a weechat user) so I'm a little sad or at least confused about this change.

I was thinking about how #127 was related in the sense that I already fixed a bad link to https://chat.opensourcedesign.n

[2018-04-20 02:28] alexgleason commented on #170
The Matrix chat is bridged with the IRC chat. I don't think linking to Riot here signifies an overall preference towards Matrix by the community. Rather, Riot is a better user experience for newcomers, so it makes sense to link to the most user-friendly version of the chat.

I think the IRC information should be somewhere on the site, but I wasn't sure where to put it. I think it should be placed

[2018-04-20 02:51] pdurbin commented on #170
Currently http://opensourcedesign.net/faq/ ends with "Why are you using IRC":

<img width="586" alt="screen shot 2018-04-19 at 10 50 20 pm" src="https://user-images.githubusercontent.com/21006/39028322-0ffaaf9e-4424-11e8-98c3-a5d4904929c5.png">

This seems like a natural place to update to explain the switch to Riot.

[2018-05-01 17:25] simonv3 commented on #31
Look if you procrastinate long enough these things fix themselves https://blog.github.com/2018-05-01-github-pages-custom-domains-https/

[2018-05-04 12:28] jancborchardt commented on #31
@simonv3 I thought we use A records? I adjusted them at Gandi just before and am waiting for the propagation.

Also renamed the repository to https://github.com/opensourcedesign/opensourcedesign.net while we are changing stuff to reflect the proper domain name.

[2018-05-04 12:45] jancborchardt commented on #31
Scratch that – renamed it back because it resulted in the jobs and events not loading.

[2018-05-07 08:36] jancborchardt commented on #31
Seems the A records worked now? :)

https://opensourcedesign.net is running and the default (through "Force HTTPS" in Github repo settings).

[2018-05-07 08:37] #31 closed

[2018-05-07 08:39] jancborchardt opened #172 "Rename this repository to "opensourcedesign.net""
We should rename this repository to properly reflect the website name and make it more obvious for people where to contribute.

The problem we had was that when @simonv3 or I did that, the jobs and events weren't loading at all anymore on the main page. So probably it's referenced in some script or in the events/jobs repo.

[2018-05-07 13:31] elioqoshi commented on #31
Yay! Thanks @jancborchardt !

[2018-05-07 13:33] elioqoshi commented on #31
Seems Jobs and Events preview is now broken on the landing page. Do we need to do any further tweaking?

[2018-05-07 15:15] simonv3 commented on #172
I thought it was a github thing?

[2018-05-07 16:03] jancborchardt commented on #31
Works again, good catch and fix :) https://github.com/opensourcedesign/opensourcedesign.github.io/pull/173

[2018-05-07 17:48] elioqoshi commented on #172
You can see all the places it's referenced here:
https://github.com/opensourcedesign/opensourcedesign.github.io/search?utf8=%E2%9C%93&q=opensourcedesign.github.io&type=

[2018-05-07 17:48] elioqoshi commented on #172
I can do a PR replacing all those with opensourcedesign.net if you like

[2018-05-07 18:30] simonv3 commented on #172
Glancing at them I don't think changing any of those (though they should be changed) will affect the deployment process. They all look like they're part of documentation?

[2018-05-08 14:28] davelab6 opened #174 "https://opensourcedesign.net/jobs/ errors"
https://opensourcedesign.net/jobs/ errors

[2018-05-08 14:46] jancborchardt commented on #172
Found the issue, I think. Somewhere it was looking for _events instead. Will check locally to fix it.

[2018-05-08 16:06] jancborchardt commented on #172
Moving the events and jobs folder out into the root, with or without "_" makes it work strangely, but then other stuff is broken so not sure if this is a good way.

If it’s not fixable with something obvious, we can also simply roll it back by renaming the repo back to "opensourcedesign.github.io" and reverting https://github.com/opensourcedesign/opensourcedesign.net/commit/87e11857f8acb69cc73e7e5

[2018-05-14 08:14] belenbarrospena commented on #172
@jancborchardt should we consider renaming the repo and reverting that patch? I would offer to help, but I'd probably just make a mess of it :(

[2018-05-20 18:19] k-syusteem opened #175 "Proposed renewal logo for "OPEN SOURCE DESIGN""
Hello! I have designed a logo for "OPEN SOURCE DESIGN", I hope you are interested. Give your assessment so I can solve a problem related to the logo you want for "OPEN SOURCE DESIGN".

![web](https://user-images.githubusercontent.com/38687140/40282106-363220f6-5c94-11e8-9c5e-6006718b0f7f.png)

![01](https://user-images.githubusercontent.com/38687140/40282108-3e1dae3e-5c94-11e8-8332-f9ac54dfb00c.pn

[2018-05-20 18:53] ei8fdb commented on #175
Hi @k-syusteem thanks for the submission. Can you give a little bit of information on how you decided on it? Thanks!

[2018-05-21 19:18] k-syusteem commented on #175
### Hi @ei8fdb!

I just designed this logo that has the basic concept of "Design" "Pencil" "OpenSource" and uses the eye symbol as a designer's precision in doing a design.

[2018-05-21 20:07] raghunayyar commented on #175
but why are renewing the logo again?

[2018-05-22 17:21] jdittrich commented on #175
@k-syusteem Is this a submission for [this discussion](https://github.com/opensourcedesign/organization/issues/68)? Or some other discussion/issue?

I suppose me, @ei8fdb and @raghunayyar did not expect anyone to submit a new logo so we might be a bit confused what made you rework it. I appreciate the idea, but I don't know what to do with it, since I don't see a reason to change the current logo.

[2018-05-22 17:47] k-syusteem commented on #175
@jdittrich No, I just suggest and I'm happy to do this. Thanks!

[2018-05-22 17:48] #175 closed

[2018-05-24 13:15] jancborchardt commented on #175
@k-syusteem I recommend to go to the Open Source Design Job Board: https://opensourcedesign.net/jobs/ – and look for a project which actually looks for a new logo. :) Then spend some time getting to know the project and talk with the people what they are looking for, and then you can go through logo proposal iterations. :)

[2018-05-28 11:07] jancborchardt commented on #172
@belenbarrospena yeah, renamed it back shortly after. Will look into combining the repos, but only in a pull request. :)

[2018-06-06 17:40] jancborchardt opened #176 "Discourse integration in Job Board doesn’t seem to work when site is accessed over https"
Compare http (comments show on bottom):
http://opensourcedesign.net/jobs/jobs/2017-12-30-hospitalized-patient-management-module-mockups

And https (comments do not show):
https://opensourcedesign.net/jobs/jobs/2017-12-30-hospitalized-patient-management-module-mockups

@simonv3 @ei8fdb @AnXh3L0 if you have any idea here.

[2018-06-06 17:44] AnXh3L0 commented on #176
I will check the repos and the script to check where's the problem, but I suspect it's because the script is served via http meanwhile the website works with HTTPS (doesn't load HTTP scripts).

The solution might be as simple as adding an "s" to the http link but I'll check and let you know soon.

[2018-06-06 17:45] jancborchardt commented on #117
We also just talked in the call about putting an OpenCollective embed on the frontpage. That would be nice to thank everyone and also show that people can donate. :)

[2018-06-06 17:48] jancborchardt commented on #117
We also just talked in the call about putting an OpenCollective embed on the frontpage. That would be nice to thank everyone and also show that people can donate. :)

cc @ei8fdb @elioqoshi @belenbarrospena @AnXh3L0 @victoria-bondarchuk @gillisig who were in the call.

[2018-06-06 17:59] jancborchardt commented on #117
Here for example is a project which integrated it on the readme: https://github.com/gulpjs/gulp/#want-to-contribute
And another one https://github.com/apex/apex#sponsors

And here are some widgets they offer: https://opencollective.com/widgets

I do remember seeing a nicer integration on a website, I think it was on http://apex.run/ at the bottom but it’s not loading for me currently.

[2018-06-07 14:34] elioqoshi commented on #117
The widgets on the Apex website load up for me and they look indeed great :)

I will keep this in mind when proposing the new site design

[2018-06-10 13:19] kelson42 opened #177 "Remove position "UX designer (contracted)""
Hi, I'm an admin of the Kiwix project. We have achieved to found someone for https://opensourcedesign.net/jobs/jobs/2018-02-17-ux-designer-contracted. Thank you for your help on this. May you please remove the job offer?

[2018-07-05 10:29] jancborchardt commented on #176
Opened a pull request which _could_ solve it at https://github.com/opensourcedesign/jobs/pull/316

[2018-07-05 10:33] #176 closed

[2018-07-05 10:44] jancborchardt commented on #176
Works! :)

[2018-07-06 10:07] evalica commented on #167
After:
Job
<img width="1203" alt="afterjobs" src="https://user-images.githubusercontent.com/629552/42373430-88252130-811d-11e8-8b36-f51fdc397615.png">

[2018-07-07 15:51] elioqoshi commented on #177
To clean up a bit on older issues I went ahead and edited it. Closing this

[2018-07-07 15:51] #177 closed

[2018-07-09 11:40] #167 closed

[2018-07-09 20:06] elioqoshi commented on #167
Thanks @evalica !

[2018-07-30 12:54] dmichl opened #185 "Opensourcedesign.net Homepage Article View"
I noticed a few blog posts have disappeared off the homepage under the **Articles Header**.  I had recently pushed two articles (one from 12/14/17 which never showed and one from our recent meetup 7/12/18) both are not publishing but older articles are now also missing. The list from what I remember was:

11/22/16 Designers in open Source: Julia
3/27/17 Open source design needs better collaboratio

[2018-07-30 15:15] jancborchardt commented on #185
cc some people who might also know a bit about the Markdown or Jekyll. ;) @ei8fdb @evalica @AnXh3L0

Will try to debug too, but a first look didn’t bring anything up yet.

[2018-08-02 03:26] eupiteco commented on #166
As you can see above, this issue has been recently mentioned on another job PR, I'm copying what I replied there.

---
It seems that it is trying to mix MD and JS escape sequences but there is misinterpretation when the form is submitted, probably something with the @staticmanapp config.
The `[“katharina.nocun@posteo.de”, “* https://fsfe.org/\r\n* https://publiccode.eu/”]` line is a array with two

[2018-08-03 16:10] ei8fdb commented on #185
@jancborchardt I greatly appreciate that you think I know enough about at markdown and in general coding! But I am not knowledgable enough :(

[2018-08-17 15:27] jancborchardt opened #186 ""closed" vs "resolved" for job status"
In some of our job posts which are finished we use the status "closed", in others the status "resolved".

What is the correct one we should use? It doesn’t seem to correlate with the values in the config.yml either: https://github.com/opensourcedesign/jobs/blob/master/_config.yml#L18-L26

@m1guelpf @AnXh3L0 what do you think?

[2018-08-17 16:28] ei8fdb commented on #186
Since the request is a job "post", to me "closed" seems to make sense.

"Resolved" sounds like it's an issue. It's also a bit "technical".

Obviously, just an IMHO. :)

[2018-08-20 13:41] aaqaishtyaq commented on #151
hey, @bnvk since no one is currently working/assigned to this issue, I would like take up the task.

[2018-08-21 10:44] evalica commented on #186
"Closed" as stated also in https://github.com/opensourcedesign/opensourcedesign.github.io/issues/70#issuecomment-270925924

[2018-08-21 10:54] ei8fdb commented on #186
Do we want to get more input?

Just wondering. I'll happily update the jobs ads that aren't looking anymore to whatever we decide on.

[2018-08-21 11:02] belenbarrospena commented on #186
I think we all agree "closed" is better. Make it so! :p

[2018-08-21 11:06] ei8fdb commented on #186
🖖

[2018-08-21 21:45] #186 closed

[2018-08-21 21:45] m1guelpf commented on #186
closed! :p

[2018-08-22 09:08] jancborchardt commented on #186
Thanks a lot for the input! :) So should we also change the config.yml, or what is that actually for?

[2018-09-10 10:26] m1guelpf opened #237 "Investigate OSS Captcha options or build an OSS captcha to use on open source design's jobs form"
Recently we've been getting some automated-looking submissions. Maybe it's time to add a captcha?

--------
Edit 22.06.2021

We don't think spam/automated job submissions are a problem anymore, however we're changing this issue to be more a dev 'spike' issue to investigate OSS captcha's or possibly look at building one 😄

[2018-09-11 14:36] eupiteco commented on #166
Answering to @ei8fdb on the original [PR thread](https://github.com/opensourcedesign/jobs/pull/327)

I'm happy to make some PRs to fix it if it helps.

I think that a `join()` method can be useful to output the strings without the array, [docs here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/join). Then you need to handle the `\r` and ` \n` escaping sequ

[2018-09-12 20:14] bnvk commented on #151
@aaqaishtyaq go for it :+1:

[2018-09-18 04:43] eupiteco opened #192 "Ruby Sass is deprecated"
Got this after `$ bundle install` :
[code]
My guess is editting the gem configfile and replacing `'sass'` with `'sassc'` will do the job but not so sure about eventual conflicts it may bring.

Can anyone with more experiepnce/knowledge about this project tell what is necesary to update the sass gem?

[2018-09-18 05:42] eupiteco commented on #166
Locally the job rendering is working, follows two screen captures as an example

*Local server from the repo*
![local](https://user-images.githubusercontent.com/972245/45665602-0098e800-bae8-11e8-90de-f5141847bc47.png)

*Same job on the actual site*
![web](https://user-images.githubusercontent.com/972245/45665608-0393d880-bae8-11e8-9c82-9324f393c486.png)

Anyone knows thy is this happening?

[2018-09-21 04:52] aaqaishtyaq commented on #168
Shall I create a new page and add a link to nav bar?

[2018-10-02 08:15] Roshanjossey opened #194 "Fix travis build badge in Readme"
Now, the build badge says `unknown` as the URL `https://travis-ci.org/opensourcedesign/opensourcedesign.net` is wrong.

[2018-11-06 23:49] signalwerk opened #207 "edit.opensourcedesign.net"
On Line 14 of the [README.md](https://github.com/opensourcedesign/opensourcedesign.github.io/blob/master/README.md) is a link to [edit.opensourcedesign.net](http://edit.opensourcedesign.net/) but there is just a default Apache2 Server page.

[2018-11-07 10:32] evalica commented on #207
I think those links are just there as bookmarks. I didn't add them or used them, so not sure about them. but makes sense that they display what tools were used to build the website and provide easy access. Let's see what others think. Thanks for the report

[2018-12-06 13:06] #151 closed

[2018-12-06 17:13] jancborchardt commented on #192
@eupiteco did you try locally what you suggest, and did it work out?

@Anxh3l0 what do you think? For the new design would you use Sass and would @eupiteco's fix work?

[2018-12-06 17:16] jancborchardt commented on #168
This should be directly on bottom of the main page. We also discusser at the Summit that we have too many subsites already. :)

@aaqaishtyaq I have a branch locally which has the logos of organizations which supportef us in different ways. I can push that when at the computer, would you be interested in then adding it to the main page? :)

[2018-12-06 17:22] jancborchardt commented on #207
@signalwerk edit.opensourcedesign.net was a hosted Prose if I remember correctly. We should ideally not rely on external tools and Github has this nice online editing functionality we can use. :)

So a pull request would be great! The relevant pages would have to be linked to the "edit-mode" version of the file on Github. Or if that's not possible just the file itself, then people can edit it usin

[2018-12-18 13:38] jancborchardt opened #211 "Summit blog post"
There’s a nice summary post of the Summit 2018 up at https://ura.design/2018/11/16/osd-summit-2018

@AnXh3L0 could you add it as an article on opensourcedesign.net too? :) We should have it on our page of course.

[2018-12-18 14:44] AnXh3L0 commented on #211
Sure, I'll work on importing it today.

[2018-12-18 18:31] ei8fdb commented on #117
@peaceiswithislam What knowledge are you missing? Do you need the links for the buttons?

[2018-12-19 22:46] jancborchardt commented on #211
Awesome, thanks so much @AnXh3L0! :) You can just use the folder `/images/events` for the photos, that’s where we also put the pictures of other events.

[2018-12-26 22:01] AnXh3L0 commented on #211
I have opened a PR for this :)

[2018-12-27 13:09] eupiteco commented on #192
The solution seems to be pretty straight forward, as seen here http://sass.logdown.com/posts/7081811. The problem is I did not found where is the config file for the Ruby packagers :sweat_smile:, can someone guide me through the files?

[2018-12-27 15:00] jancborchardt commented on #192
I would have thought there’s some more info in the Gemfile or Rakefile, but can’t find any.

Quickly searched for the relation to Jekyll and found this issue recommending sassc-ruby: https://github.com/jekyll/jekyll-sass-converter/issues/74
@eupiteco is that a good pointer maybe? :)

[2019-01-22 15:59] RDIL commented on #192
I can port the SCSS if needed

[2019-01-23 11:53] jancborchardt commented on #192
@AnXh3L0 @dmichl @ei8fdb and others from @opensourcedesign/website – what do you think?

[2019-01-23 15:24] patdavid commented on #192
Is there really a need for SASS?

[2019-01-23 15:33] jancborchardt commented on #192
I guess especially with CSS4 variables, SASS is not really needed so much. @AnXh3L0 @elioqoshi @dmichl @evalica @ei8fdb @simonv3 what do you think?

@RDIL cause in that case a pull request to replace the SASS with the generated CSS would be cool!

[2019-01-23 15:34] RDIL commented on #192
On it.

[2019-01-23 15:42] RDIL commented on #192
@jancborchardt problem: I can't seem to find where the variables used in the Sass have their value held.

[2019-01-23 15:45] evalica commented on #192
CSS variables and Sass variables have different scopes. CSS Variables should be used when the value changes a lot and needs to adapt depending on the element. Sass variables should be used for constants.
So, depending on the case, we could indeed replace Sass variables with CSS variables, with the mention that CSS variables have more limited browser support (again, depends what we consider our tar

[2019-01-23 15:47] RDIL commented on #192
I don't think we would need CSS variables because if I knew the values of the sass variables we could just put the raw values

[2019-01-23 15:47] evalica commented on #192
We are using mostly the Bootstrap defined variables from https://github.com/opensourcedesign/opensourcedesign.github.io/blob/master/_sass/vendor/_bootstrap.variables.scss
Changing those to CSS variables means a lot of work.

[2019-01-23 15:48] RDIL commented on #192
I'm going to remove them and replace them with their actual values if you don't mind.

[2019-01-23 15:50] evalica commented on #192
Changing variables to actual values for me means a step behind. Instead of reusing values and be able to change them, because of conflict we will lose these benefits.
I think the fix here is just to update or find a replacement for the gem.

[2019-01-23 15:55] RDIL commented on #192
I'll try to replace it.

[2019-01-23 15:59] RDIL commented on #192
It looks like the only alternative is Dart Sass, I don't see how that would work however.  I think we need to stay on the current gem.

[2019-01-23 16:17] patdavid commented on #192
Ah, I should have looked closer.  I apologize.  If using a big framework like bootstrap, it's probably best to not muck around there and instead switch to supporting the required gems to update.

[2019-01-23 16:21] RDIL commented on #192
I'm not very good with ruby/gems, so I'm going to step out on this one.

[2019-01-23 20:40] RDIL commented on #170
Works for me.

[2019-01-23 20:43] RDIL commented on #83
I believe this was implemented.

[2019-01-23 20:48] RDIL commented on #168
Status update?

[2019-01-23 22:48] jancborchardt commented on #83
The point of the original issue was mainly to have a filter to only show Paid opportunities. This would still be great as not everyone has the time to spend on volunteer work, and we should encourage people paying for design work. :slightly_smiling_face:

[2019-01-24 09:19] aaqaishtyaq commented on #168
@jancborchardt Can you push your local branch, I'll start from there

[2019-01-24 10:21] #107 closed

[2019-01-24 13:49] RDIL commented on #146
edit.opensourcedesign.net is down, I'm going to close this in favor of removing prose.

[2019-01-24 13:49] #146 closed

[2019-01-24 18:43] RDIL commented on #207
Closing in favor of the removal of `Prose`.

[2019-01-24 18:43] #207 closed

[2019-01-24 21:36] RDIL commented on #170
I'll do it actually since I have time to waste

[2019-01-25 13:49] RDIL opened #218 "Organization bio out of date"
It still says "`Join us on irc`" which we are no longer using.  Can somebody on @opensourcedesign/core team please fix it?

[2019-01-25 16:46] jancborchardt commented on #218
Good call! Changed it to

[2019-01-25 16:46] #218 closed

[2019-01-26 16:39] RDIL commented on #170
@pdurbin thanks for noticing this, it is fixed now 😁

[2019-01-26 16:46] pdurbin commented on #170
@RDIL thanks. After pull request #217 was merged I ran `ack -i irc` and found that IRC is still mentioned on five pages:

governance.md:46:- Do check on IRC if anyone can give you advice or backstory on the issue

CONTRIBUTING.md:18:* Community: Open Source Design is first and foremost a community of people. We hang out in IRC

goals.md:21:  * Easier way to use IRC

code-of-conduct.md:66:This code

[2019-01-26 16:48] AnXh3L0 commented on #170
Thank you @pdurbin, will have a look at them now.

[2019-01-27 19:43] #170 closed

[2019-02-04 16:47] eupiteco commented on #192
Found  it: our gemfile required the `github-pages` gem, witch required `jekyll-sass-converter` wich finally required `sass`. Good new is that eht sass/sassc issue is [already solved](https://github.com/jekyll/jekyll-sass-converter/pull/75) within `jekyll-sass-conveter`. I just ran `bundle install` with no warnings nor problems.
That said, I am closing this issue. :tada:

[2019-02-04 16:47] #192 closed

[2019-02-04 16:50] ei8fdb commented on #192
I think I understand the significance of this. Muito obrigado @eupiteco. 👍 🎉

[2019-02-10 17:27] co16353sidak commented on #150
Hi, this seems like work that I can contribute to!, if nobody is currently working on this, I would love a go.
@bnvk

[2019-02-14 12:18] evalica opened #224 "Remove or fix the Activity from Homepage"
Currently the "Activity" feed is not working, so we display just an empty heading.
![](https://user-images.githubusercontent.com/629552/52786349-4e982480-3063-11e9-8a70-b49f2ff97dfd.png)

We should fix it.

Related: #12

[2019-02-14 12:18] ei8fdb commented on #224
What should be displayed there?

[2019-02-14 12:19] evalica commented on #224
It used to be the activity from GitHub: creation of issues or commits.

[2019-02-14 12:44] RDIL commented on #224
Maybe we accomplish this with webhooks or GH api calls?

[2019-02-17 14:17] ei8fdb opened #238 "Proposal: add github handle (optional) to job posting"
Over the past few months, when jobs are posted via osd.net/jobs, something invariably is left out, or is slightly confusing. (Is this open source? When is the pubilc repo? What license is it released under? The job title says X, but the description say Y, etc)

When I get a chance to review the job PR, I normally try to email the contact email. 9/10 times the confusion is cleared up.

On the assum

[2019-02-17 19:54] NirmalKumarJoshi commented on #224
Hello admin, I would like to work on this issue under GSSoC'19. Please guide me further and assign me this issue.

[2019-02-17 19:56] RDIL commented on #224
Thanks @NirmalKumarJoshi !   @evalica should be able to guide you further.

[2019-02-17 20:06] NirmalKumarJoshi commented on #224
Thanks @RDIL and @evalica

[2019-02-17 21:12] NirmalKumarJoshi commented on #224
@RDIL At the time of installation it is given that you have to be the member of the organisation. What to do?

[2019-02-17 21:14] RDIL commented on #224
@NirmalKumarJoshi there is a join button somewhere on the website.

[2019-02-17 21:14] ei8fdb commented on #224
@NirmalKumarJoshi I've not gone through the installation, but I (think) it means joining the Open Source Design organisation.

Can you tell me where this occurs?

[2019-02-17 21:18] NirmalKumarJoshi commented on #224
Yeah I joined it. Thanks.

[2019-02-17 21:34] NirmalKumarJoshi commented on #224
I am facing these errors while installation
![screenshot from 2019-02-18 03-03-08](https://user-images.githubusercontent.com/29129357/52919585-ddd65e00-3329-11e9-83d9-c4a4db6e5e37.png)

[2019-02-17 21:41] RDIL commented on #224
@NirmalKumarJoshi run the following commands in your terminal:
[code]
If any of the commands fail, try putting `sudo` before them.
Hope this helps!

[2019-02-17 21:46] NirmalKumarJoshi commented on #224
No there are still some issues.
![screenshot from 2019-02-18 03-15-37](https://user-images.githubusercontent.com/29129357/52919743-9b158580-332b-11e9-9d2f-def5b68191e5.png)

[2019-02-17 21:48] RDIL commented on #224
Then just try running
[code]
or
[code]

[2019-02-17 21:49] NirmalKumarJoshi commented on #224
There are same errors for this too.

[2019-02-17 21:50] RDIL commented on #224
Screenshot?

[2019-02-17 21:55] RDIL commented on #224
Hmm, ```
sudo gem install zlib
[code]

[2019-02-17 21:57] NirmalKumarJoshi commented on #224
Same error as in above installation.
Wait I will setup the things again!

[2019-02-19 13:20] jancborchardt commented on #224
Regarding the original issue: If we keep the section, then we should also load the tweets and forum posts, as activity doesn’t only happen on Github. :)

@NirmalKumarJoshi @RDIL is this following the Installation guide at https://github.com/opensourcedesign/opensourcedesign.github.io#installing ? The install script should normally take care of this – if anything is missing on your setup, could you

[2019-02-24 21:31] Jc-L commented on #185
@dmichl Is this still an open issue ? All articles seem visible under the _Articles_ page.

[2019-02-24 21:47] Jc-L commented on #117
Should the Opencollective link (I assume https://opencollective.com/opensourcedesign) use an Opencollective widget, or should the design be consistent with the other buttons of the footer (twitter, github, forum...) ?

[2019-02-25 13:35] dmichl commented on #185
yes still open - right now only dec 2017 and july 2018 are showing listed instead of all the other articles I mentioned above.

[2019-02-26 20:57] Jc-L commented on #185
The `index.html` file is configured to display only 3 articles:

            {% for post in site.posts limit:3 %}

Displaying all articles/posts will unbalance the page; I can change the value to another one and add a 'See all articles' link as well. Please suggest a proper value.

[2019-02-26 21:00] RDIL commented on #185
I’d go for 4, see all sounds good enough

[2019-02-26 21:11] dmichl commented on #185
I'm ok with leaving three articles as is - it prevents the page from getting too text heavy with the other two columns (events/jobs).
With that said, happy to close this issue! Thanks for the help!

[2019-02-26 21:12] #185 closed

[2019-02-26 21:48] Jc-L commented on #45
Issue is solved for articles, jobs, and first-level heders. Not working for events but these are not directly managed by jekyll, from what I see.
Should this issue be closed ?

[2019-03-13 11:27] jancborchardt commented on #117
@Jc-L using the Open Collective widget would be great to directly show all supporters! :) We already do this [in the Readme](https://github.com/opensourcedesign/opensourcedesign.github.io#-contributors-backers--sponsors) and should do it on the website too. Is it something you would like to work on?

[2019-03-16 12:40] thesanjeevsharma commented on #224
@evalica @RDIL I would like to work on this issue, as it's still not resolved.

[2019-03-16 15:29] RDIL commented on #224
Let me see

[2019-03-16 15:31] RDIL commented on #224
@thesanjeevsharma the issue is all yours

[2019-03-17 07:27] thesanjeevsharma commented on #224
@RDIL I am stuck with the installation! Tried all above solutions but still getting the same error every time regarding 'nokogiri'.
zlib is also installed.
![Screenshot from 2019-03-17 10-29-37](https://user-images.githubusercontent.com/29539278/54486849-fb103500-48b3-11e9-912e-53d2dd757aa0.png)

[2019-03-17 12:56] RDIL commented on #224
Let me see if it works for me

[2019-03-18 20:55] Jc-L commented on #117
@jancborchardt Sure, but I need to clarify if we should we solve #110, as the 'Contact Us' section is totally redundant with the page footer.
Once clear, I can add an opencollective like where needed (ie: the 'Contact us' and/or the page footer).

[2019-03-18 21:29] Jc-L commented on #224
@thesanjeevsharma : running `bundle update` does not retrieve all needed Gems ?

[2019-03-19 15:39] jancborchardt commented on #110
@Jc-L since you asked about clarifying this:

- The footer on the bottom (no button style) is for all pages, so that should be there
- The buttons slightly above are calls to action only on the front page
- If we add Open Collective, it should also be added in the footer.
- We should probably remove the "Join us!" link, as it only makes people join Github and that seems like we are mainly on there

[2019-03-19 20:25] Jc-L commented on #110
@jancborchardt Seems clear to me. Will propose something for this (not in the coming days however).

[2019-03-21 10:30] itsN1X opened #233 "icon_512_px.png in:" "Uploads"
OP: @SarthakDandotiya
![image](https://user-images.githubusercontent.com/13474314/54746000-551e3c80-4bcb-11e9-91a9-c1d4733d5a2d.png)
in
`/opensourcedesign/foss-contributors-checklist/blob/gh-pages/_includes/header.html` refs
![image](https://user-images.githubusercontent.com/13474314/54746094-9dd5f580-4bcb-11e9-92d9-68f75d10c5c2.png)
at
`/images/foss-logo-512.png`
in
`https://opensourcedesign.net/

[2019-03-21 10:59] itsN1X commented on #233
https://github.com/opensourcedesign/foss-contributors-checklist/pull/10#issue-263189742
Via
`itsN1X/8216_foss-contributors-checklist_0xFFF`

[2019-03-21 10:59] #233 closed

[2019-03-28 23:32] thesanjeevsharma commented on #224
@Jc-L No, It crashes! Let me checkout the fix.

[2019-04-06 17:46] AmanDeep9925 commented on #156
@simonv3 and @RDIL i want to work on this issue can you assign me this?

[2019-04-06 18:37] RDIL commented on #156
@AmanDeep9925 sure it’s all yours

[2019-04-07 21:15] eupiteco commented on #102
Very interesting and useful! The first thing that comes to mind is to use a flag/radio button like the gratis/paid one. The options could be like job/project indicating whether the post is a single task (like logo or icon design) or if it is a project that is looking for designers to contribute and get involved.
With this information I believer we can add a filter like the ones being discussed in

[2019-04-07 21:30] eupiteco commented on #140
On the icon matter, I think a muted gray OSD logo could be a nice solution for default fallback. Then we can set options for the person who is submitting the job to upload a logo or to use their github project logo.

[2019-04-18 11:30] jancborchardt commented on #140
@eupiteco good call! Are you interested in working on implementing the proposed design too? :)

[2019-04-18 11:38] jancborchardt commented on #102
I’m not sure if it’s needed. There are already 2 places:

- If you are a project looking for a designer for a specific task, you submit a job to the job board.
- If you are a project open to designers (and have the relevant "getting started" guide for easy onboarding as well as use a "design" tag in your issue tracker), you can add it to the list at https://opensourcedesign.net/projects/ – just vi

[2019-04-21 17:08] eupiteco commented on #140
@jancborchardt yes I am! I think this is a two steps task:
* Setting all the styles and general positioning with some fake/lipsum data
* Connecting it to the forms response through liquid layout

If we all agree, I can work on both tasks and submit one PR for each.

#### Questions that comes to mind
* Is there a styleguide/css template/mockup file for the new OSD layout? If not, I think a css temp

[2019-04-21 17:41] eupiteco commented on #152
+1 for the second option. I think having fixed options to choose from on the `We have a ` and `That needs` fields would help too. For the first field, the **Specialization** list from #70 fits, for the second one I thought of this list but I guess there is more to be added:
[code]
What do you think?

[2019-04-21 17:43] RDIL commented on #140
I do PR review and help out @eupiteco :]

[2019-04-21 19:29] jancborchardt commented on #140
@eupiteco there’s no specific template or mockup file yet actually, only what’s in the CSS as of now. @elioqoshi’s mockup can be seen as an evolution of the current design.

Just like @RDIL I’m also happy to do pull request reviewing, and you can @-mention the whole team of @opensourcedesign/website :)

[2019-05-12 21:41] vinitshahdeo opened #235 "Broken Link in Footer"
The **`Chat With Us`**  [link](http://chat.opensourcedesign.net/) in footer seems to be broken in [`events`](https://opensourcedesign.net/events/) page.

<img width="1246" alt="Screenshot 2019-05-13 at 3 06 57 AM" src="https://user-images.githubusercontent.com/20594326/57588070-5d8c5700-752c-11e9-96f2-e22419872905.png">

[2019-05-13 12:28] jancborchardt commented on #235
Ah, good catch. I thought there was already a unified footer? @RDIL @Jc-L @AnXh3L0 do you know anything about this?

We also discussed a lot in the past that we would like to move the events and jobs repos ideally into this repository so we have one single repo for the website. My knowledge of Jekyll is not proper enough for this – maybe you have ideas? :)

[2019-05-13 12:33] RDIL commented on #235
That second idea is more of a long term thing, so that will take some time.  I will look into this however.

[2019-05-13 14:03] #235 closed

[2019-05-13 19:11] Jc-L commented on #235
The footer is unified on a per-site base, but not with the *event* and *jobs* sub-sites. I just checked and the headers, menus, and event fonts are inconsistent. These sub-sites use some kind of forms however, and I do not know exactly how this is managed.
@RDIL We can have a discussion on this to see how to move forward.

[2019-05-13 19:17] RDIL opened #236 "Merge all repositories"
As of #235 , it was learned that all the repositories that are not here do not have synced includes/assets/fonts etc.

## Status

- [x] Events
- [ ] Talks
- [ ] Jobs

@opensourcedesign/core any thoughts?

[2019-05-13 20:44] Jc-L commented on #236
Should we also consider combine the /opensourcedesign.github.io into a properly named one (ie. /opensourcedesign.net) ? This was apparently to do as well.

[2019-05-13 21:08] RDIL commented on #236
If we do that, then the subrepos wont work

[2019-05-14 15:30] jancborchardt commented on #236
@Jc-L yes, we did rename the repo previously but it resulted in issues with the subsites indeed. I’m not sure about the reasons though, but we reverted to the previous names.

@RDIL but if the repos of events and jobs are inside this repository too, then the rename of this repo to `opensourcedesign.net` should work?

We should think about if there’s anything we need to be aware of except the repos

[2019-05-14 15:32] RDIL commented on #236
Yes, in that case, the rename could work.
@jancborchardt can you head to organization settings and enable issue transferring so we can begin this?

[2019-05-14 15:52] jancborchardt commented on #236
Moved the 2 relevant issues from jobs into here, tagged with "Jobs": https://github.com/opensourcedesign/opensourcedesign.github.io/labels/Jobs

Reviewed 2 pull requests from jobs, only one left to review but is basically done: https://github.com/opensourcedesign/jobs/pull/385

cc @ei8fdb @m1guelpf @AnXh3L0 @dmichl @evalica @simonv3 about combining the repositories just FYI. :)

[2019-05-14 15:53] jancborchardt commented on #236
Also I’d say let’s do it separately – first events as it’s less critical. And if that works all good, we can move jobs into here too. Sound good?

[2019-05-14 15:53] RDIL commented on #236
Works for me - ill get events rolling

[2019-05-14 15:57] #159 closed

[2019-05-14 15:57] RDIL commented on #236
#239 is now open - feel free to modify my branch

[2019-05-14 16:03] jancborchardt commented on #238
Fixed with https://github.com/opensourcedesign/jobs/pull/385

[2019-05-14 16:03] #238 closed

[2019-05-28 19:27] eupiteco commented on #237
Hi yall! Stumbled on a smart solution that can kinda solve the bot submission problem: put an input field that is not visible or reachable by human users and use that as a flag for form-filling-bots detection. If the field is filled on submission, you'll know it was a bot and can disable the submission button.
That can be achieved simply by placing it at the beginning of the form with inline css l

[2019-05-28 19:36] RDIL commented on #237
Works for me, but I think this may be a problem for padding on mobile

[2019-06-16 11:32] elioqoshi opened #242 "Website Redesign"
At Open Source Design Summit 2018 we discussed that a website redesign is long overdue. While @AnXh3L0 and me took the lead on this, I just had recently the time to start this effort.

Our collective is not the same it was 4 years ago, so this should also reflect on the website. We now have a manifesto, a forum and a bigger focus on events and the job board. We are receiving more attention than be

[2019-06-16 12:16] jdittrich commented on #242
@elioqoshi

Some questions:

- Am I correct in assuming that the primary target group are fellow collaborators? (What are secondary target groups?)
- From *"We now have a manifesto, a forum and a bigger focus on events and the job board. We are receiving more attention than before yet a lot of information is a bit over the place."*  I infer the following problems the redesign wants to address:

[2019-06-16 12:56] elioqoshi commented on #242
To my understanding:

Yes. I'd say that helping open source with design is a primary target but also teaching designers about open source is a close 2nd (or the same relevancy, though we don't do that as much).

I don't have a strong opinion on this. @jancborchardt and me thought it might be a better fit to include the manifesto rather than go on describing what we do. These are things we have to

[2019-06-28 17:09] jancborchardt commented on #242
@opensourcedesign/core and everyone, what do you think? :)

[2019-06-28 17:14] jancborchardt commented on #242
So I really like the mockup! :)

My only big point about it is – since you also mentioned the manifesto – that I would directly show the manifesto on the main page, not only the headings. It’s only 7 points, so 4 columns 2 rows works, the layout like the "Get involved" section. And we can have an icon for each principle.

Otherwise super nice!

[2019-10-02 05:29] itzsoumyadip commented on #156
What to do , with this issue ?

[2019-10-02 12:28] RDIL commented on #156
@itzsoumyadip as described by @simonv3, you would need to add icons for different job categories like Mobile Apps, websites, etc.

[2019-10-02 17:37] itzsoumyadip commented on #156
Ok .. can I add icon from (font awesome) ..?

[2019-10-02 18:08] RDIL commented on #156
That should work.

[2019-10-04 10:57] jancborchardt commented on #156
Yup, we already use Font Awesome via the main.css so that would be great. :) Thanks @itzsoumyadip!

[2019-10-18 11:20] ei8fdb opened #250 "Add conferences section to opensourcedesign.net"
## Description
Adding a section to the opensourcedesign.net website to publicise the conferences we have been involved.

Include the logo for [FOSDEM](https://fosdem.org), [Apachecon EU](https://www.apachecon.com/) and [FOSSASIA](https://fossasia.org/).

## Proposed design
Copy the format of the affiliates, and supporters sections on the website.

[2019-10-18 11:51] ei8fdb commented on #250
@AnXh3L0 @evalica @victoria-bondarchuk

I'd appreciate some criticism on how suitable the logo files are. I've taken the logos from the conference websites. I had to convert FOSDEM and Apachecon logo to SVG.

[2019-10-30 19:51] RDIL opened #253 "Organization invites broken"
Recently, the automatic organization invite system that OSD used was taken down, and the creator has expressed that he doesn’t plan to bring it back anytime soon.

As far as I can see, we have 4 options:
* Self host that solution (requires paying for server)
* Self host [Aeryn](https://github.com/moya/aeryn) - also requires server, but I think is a better solution because it requires people to con

[2019-11-04 01:31] jancborchardt commented on #253
I’d actually go for this. The Github organization does not reflect _all_ of Open Source Design, so it shouldn’t be the "join" command.

We do want people to get involved in multiple ways, and yes that can include Github, but also the forum, or organizing events, doing talks, etc etc.

The main point being that whether you are part of a community is not decided by your membership in a group of that

[2019-11-11 06:00] levlaz opened #256 "GNOME Design Blog 404"
The link to the [GNOME design blog on the projects page](https://github.com/opensourcedesign/opensourcedesign.github.io/blame/master/projects.md#L10) results in a 404.

link: https://planet.gnome.org/ux

It looks like the GNOME planet no longer has this as an option.

[2019-11-12 09:36] belenbarrospena commented on #256
It looks like Allan Day has a gnome-ux tag in his own blog

https://blogs.gnome.org/aday/category/gnome-ux/

And there is a design page

https://wiki.gnome.org/Design

But I am not sure if there is a generic design blog still being kept.

On Mon, 11 Nov 2019 at 14:00, Lev Lazinskiy <notifications@github.com>
wrote:

[2019-11-12 12:51] RDIL commented on #237
@elioqoshi one alternative to that would be hcaptcha

[2019-11-19 03:03] jancborchardt commented on #256
Thanks @levlaz for the notice! Do you want to submit a pull request to remove that link? It’s fine if you simply use the Github web interface to edit the file.

Because it seems that there’s also no other way to filter the blogs this or any other way, I searched around a bit. Having the design wiki link is enough. :)

[2019-12-11 16:18] marielle-G15 commented on #100
We could have a category in the Discourse called »Jobs« (you can’t create posts but will be led to the job submission form), and one thread per job. Then on every job there’s the discussion thread below.

[2019-12-15 06:35] jancborchardt commented on #100
@marielle-G15 sorry about this outdated issue – this is actually something that is working already exactly as you describe :)
- Category in the Discourse: https://discourse.opensourcedesign.net/c/job-postings
- Corresponds with the list at https://opensourcedesign.net/jobs/
- Discussion from the forum shows in a job posting: https://opensourcedesign.net/jobs/jobs/2019-03-19-design-of-badges-for-di

[2019-12-20 14:07] Rishi007-web commented on #224
Is this issue fixed?
If not I want to fix it.

[2019-12-30 07:34] jancborchardt commented on #224
@Rishi007-web go to https://opensourcedesign.net/ and check if anything shows below the "Activity" heading. :) If not, then this issue is not fixed yet and you are free to work on it :+1:

[2019-12-30 10:10] Rishi007-web commented on #224
Trying to set up the environment.
Please tell me, I directly fork and clone the project and then remove the activity area directly without installing ruby and jekll.
and please tell me one more thing I have to add some content in activity section or just remove it.

[2019-12-30 10:40] jancborchardt commented on #224
It should all work as per the "Installing" section in the Readme: https://github.com/opensourcedesign/opensourcedesign.github.io#installing – if it doesn’t, open an issue so we can see how to fix it.

Check what it is supposed to show – as far as I remember it should be our Twitter stream. It would be nice to fix that. :)

[2020-03-14 21:26] aryasoni98 commented on #242
I would like to redesign landing page using material design .

[2020-03-15 07:20] aryasoni98 commented on #106
I would like to work on that page . Redesign Summit2020 page.

[2020-03-23 22:35] eupiteco opened #263 "Jobs/Events not rendering in dev mode"
I cloned and installed the repo and got no way to render the the events and jobs pages w/ default configs. My solution was to move `/_posts/jobs` to `/_jobs`, `/_posts/events` to `/_events` and include a permalink tag to each index file.

Am I doing it right? Is there something I'm missig?

[2020-03-23 22:50] eupiteco commented on #166
Reopening since the prod site is not following the dev changes. My guess is that the PR must be done in the Jobs repo, not this one, does it make sense?

[2020-03-23 23:57] RDIL commented on #263
Did you clone the subrepos?

[2020-03-24 00:49] eupiteco commented on #263
Yeah, I ran the install script accodring to the documentation and it clones the subrepos but the config_dev.yaml can't seem to findo the repos where they are cloned by default.

[2020-03-25 13:49] RDIL commented on #263
In that case, I'll mark this as pending further investigation.

[2020-03-28 07:08] GeekBoySupreme opened #264 "Overflow-x on Mobile view"
The design responsiveness breaks in Mobile view and there is a horizontal overflow.
The sizing issue lays out information is a not really optimized way for Mobile.

Device: Pixel 2 XL Emulator on Chrome
OS: macOS Catalina

<img width="296" alt="Screenshot 2020-03-28 at 12 29 37 PM" src="https://user-images.githubusercontent.com/15321738/77817416-a4595000-70f0-11ea-8aad-2fcc3c11f3a6.png">

[2020-03-28 07:15] #264 closed

[2020-04-16 17:49] Yashank18 opened #265 "Navbar responsiveness issue"
## Issue - Navbar isn't responsive in the mobile view.
 2 Nav items aren't visible i.e ( Forum and Summit)

Screenshot Attached -
![Screenshot (113)](https://user-images.githubusercontent.com/46098062/79488917-21b11a00-8038-11ea-8f99-09c59f0bbb1f.png)
![Screenshot (111)](https://user-images.githubusercontent.com/46098062/79488968-39889e00-8038-11ea-8e66-b366f187b295.png)

### I would like to work

[2020-04-16 17:51] RDIL commented on #265
Sure thing!  The issue is all yours.

[2020-04-16 17:52] Yashank18 commented on #265
Thank you @RDIL 😃

[2020-04-16 18:18] Yashank18 commented on #265
@RDIL Please Check #266 .
Thank you :)

[2020-04-23 04:37] yohix commented on #253
I recommend to look on this https://github.com/github-craftwork/start-here

[2020-04-23 12:12] RDIL commented on #253
@yohix please see https://github.com/opensourcedesign/opensourcedesign.github.io/issues/253#issuecomment-549201730 as for why that wouldn't be a good idea.

Closing this issue for now.